{% load staticfiles %}
<div class="container-fluid ">
  <nav class="navbar navbar-inverse dv_header">
    <div class="container">

    <div class="row">
      <div class="col-sm-2">
        <a class="navbar-brand" href="{% url 'main_page' %}"><img src="{% static "logo.png" %}" width="128" height="100" alt="Красный двор">
        </a>
      </div>

      <div class="col-sm-3 dvtext">
         <p class="navbar-text">Строительство коттеджей из термопанелей. Высочайшее качество по низким ценам.</p>
      </div>

      <div class="col-sm-1 dvtext">
      </div>

      <div class="col-sm-3 dvtext">
         <p class="navbar-text">+7 (495) 201-23-09</p>
         <p class="navbar-text">+7 (916) 599-94-44</p>
         <p class="navbar-text">kras-dvor@mail.ru</p>
      </div>

      <div class="col-sm-3 dvtext">
          <button type="button" class="btn btn-success bt162"><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> Обратный звонок</button>
          <button type="button" class="btn btn-warning bt162"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> Расчет проекта</button>
      </div>
    </div>
    </div>
  </nav>
</div>