{% load staticfiles %}

<div class="container-fluid">
  <!-- Second navbar for search -->
  <nav class="navbar navbar-inverse" style="background-color: #090332">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <div class="container">
          <div class="row vcenter">
            <div class="col-lg-3" style="height: 115px">
              <!--               <a class="navbar-brand" href="{% url 'index_page' %}"><img src="{% static "logo.png" %}" width="128" height="100" alt="Красный двор"></a>  -->
              <a class="navbar-brand" href="{% url 'index_page' %}"><img src="{% static "logo.png" %}" width="185"
                                                                         height="145" alt="Красный двор"></a>
            </div>

            <div class="col-lg-3">
              <p class="navbar-text">Строительство коттеджей из термопанелей. Высочайшее качество по низким ценам.</p>
            </div>

            <div class="col-lg-1">
            </div>

            <div class="col-lg-3">
              <p class="navbar-text" style="font-size: 15px">+7 (495) 201-23-09</p>
              <p class="navbar-text" style="font-size: 15px">+7 (916) 599-94-44</p>
              <p class="navbar-text" style="font-size: 15px; color: #e8d231 !important">kras-dvor@mail.ru</p>
            </div>

            <div class="col-lg-2">
              <button type="button" class="btn btn-success" style="width: 162px;margin-bottom: 10px"><span
                  class="glyphicon glyphicon-earphone" aria-hidden="true"></span> Обратный звонок
              </button>
              <button type="button" class="btn btn-warning" style="width: 162px"><span
                  class="glyphicon glyphicon-envelope" aria-hidden="true"></span> Расчет проекта
              </button>
            </div>


          </div>
        </div>


        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-3">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="container">
      <div class="row">
      <div class="collapse navbar-collapse" id="navbar-collapse-3">
        <ul class="nav navbar-nav">
          {% for item in menu %}
            {% if item.submenu %}
              <li class="dropdown {% if item.slug in menu_slug %} active{% endif %}">
                <a href="#" class="dropdown-toggle"
                   data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ item.name }}<span
                    class="caret"></span></a>
                <ul class="dropdown-menu">
                  {% for subitem in item.submenu %}
                    {% if subitem.name == 'divider' %}
                      <li class="divider"></li>
                    {% elif subitem.submenu %}
                      <li class="dropdown-submenu {% if subitem.slug in menu_slug %} active{% endif %}">
                        <a tabindex="-1" href="{{ subitem.url }}">{{ subitem.name }}</a>
                          <ul class="dropdown-menu">
                            {% for subitem_lvl2 in subitem.submenu %}
                              {% if subitem_lvl2.name == 'divider' %}
                                <li class="divider"></li>
                              {% else %}
                                <li><a href="{{ subitem_lvl2.url }}">{{ subitem_lvl2.name }}</a></li>
                              {% endif %}
                            {% endfor %}
                          </ul>
                    {% else %}
                      <li {% if subitem.slug in menu_slug %}class="active"{% endif %}><a href="{{ subitem.url }}">{{ subitem.name }}</a></li>
                    {% endif %}
                  {% endfor %}
                </ul>
              </li>
            {% else %}
              <li {% if item.slug in menu_slug %}class="active"{% endif %}><a href="{{ item.url }}">{{ item.name }}</a></li>
            {% endif %}
          {% endfor %}
        </ul>
      </div><!-- /.navbar-collapse -->
      </div>
      </div>
    </div><!-- /.container -->
  </nav><!-- /.navbar -->
</div><!-- /.fluid -->


