{% load staticfiles %}
{% load thumbnail %}
{% comment %}
<form role="search" class="side-search">
  <input type="search" class="form-control" placeholder="Ваш запрос" name="search">
  <input type="submit" name="button-search" value="">
</form>
{% endcomment %}

<div class="side-panel">
  <div class="side-title promodom-title">Акционный дом</div>

  <div class="clearfix" style="text-align: center"><img class="promodom-img" src="{% static "img/ActOlgovo_01.png" %}"
                                                        alt="Акционный дом">
    <p class="promodom">Не упусти свой шанс построить дом выгодно! Дом-студия за 9000 р/м&sup2;</p>
    {% comment %}<p class="promodom-text">Отлично подойдет для дачи.</p>{% endcomment %}
    {% comment %}<p class="promodom-text" style="margin-bottom: 5px">Проект 100 м&sup2; с фундаментом и монтажем за 900000 &#8381;</p>{% endcomment %}
    <a href="{% url 'promodom' %}" class="btn btn-info article-read" role="button">Подробнее...</a>
  </div>
</div>

<div class="side-panel">
  <div class="side-title">контакты</div>
  <div class="our-title">Мы строим по всей России.<br>
    Гарантия 10 лет!<br>
    <span>Выезд специалиста на участок бесплатно</span>
  </div>
  <div class="phone">
    <b>8 800 700-31-58</b><br>
    <span>бесплатный звонок по России</span><br>
    +7 (8412) 25-29-58 <br>
    +7 (927) 375-29-58
  </div>
  <div class="email">
    email: kras-dvor@mail.ru
  </div>
  <div class="address"><b>офис в г. Москва </b><br>
    Каширское шоссе, владение 63к1<br>
    <span>"Центр деревянного домостроения" участок № 9-1</span>
  </div>
  <div class="map katalog-img">
    <a href="https://yandex.ru/maps/?um=constructor%3A7aaab0be1e3d5e6c7fa2ed9128ec3c27cc09bbc1af9daf64455b0b113c34f564&amp;source=constructorStatic"
       target="_blank"><img
            src="https://api-maps.yandex.ru/services/constructor/1.0/static/?um=constructor%3A7aaab0be1e3d5e6c7fa2ed9128ec3c27cc09bbc1af9daf64455b0b113c34f564&amp;width=260&amp;height=240&amp;lang=ru_RU"
            alt="" style="border: 0;"/></a>
  </div>
  <br>
  <div class="address"><b>офис в г. Пенза </b><br>
    ул. Кирова 53 офис 2
  </div>
  <div class="map katalog-img">
    <a href="https://yandex.ru/maps/?um=constructor%3Ae69dbd52d1d37df3953a4c27d55b582e2a11707d671886862f279f19dbce1b3d&amp;source=constructorStatic"
       target="_blank"><img
            src="https://api-maps.yandex.ru/services/constructor/1.0/static/?um=constructor%3Ae69dbd52d1d37df3953a4c27d55b582e2a11707d671886862f279f19dbce1b3d&amp;width=260&amp;height=240&amp;lang=ru_RU"
            alt="" style="border: 0;"/></a>
  </div>
  <br>
</div>
<div class="side-panel">
  <div class="side-title vistavka">Выставочный дом</div>
  <div class="address clearfix" style="text-align: center">
    Пензенская область<br>
    п. Мичуринский
  </div>
  <a href="{% url 'expo' %}">
    <div class="katalog-img">
      {% with url_path=MEDIA_URL|add:"content/OutTMich_00.jpg" %}
        {% thumbnail url_path "300x225" crop="center" format="PNG" as im %}
          <img class="img-responsive content-img" src="{{ im.url }}" alt="{{ im.url }}">
        {% endthumbnail %}
      {% endwith %}
    </div>
  </a>
</div>
<div class="side-panel">
  <div class="side-title">Новости</div>
  <div class="news__item clearfix">
    <div class="news__item__date">28 июля 2018</div>
    <div class="news__item__title"><a href="{% url 'our_termo' %}?page=1">Коттедж 95 м2, г. Саратов</a></div>
    <div class="news__item__img"><a href="{% url 'our_termo' %}?page=1"><img src="{% static "img/Sar_Ind.png" %}"></a></div>
    <span class="news__item__text">Мы начали строительство коттеджа по технологии Комбинированные термопанели в г. Саратове.</span>
  </div>
  <div class="news__item clearfix">
    <div class="news__item__date">09 апреля 2018</div>
    <div class="news__item__title"><a href="{% url 'reconst' %}">Частный дом, п. Щапово</a></div>
    <div class="news__item__img"><a href="{% url 'reconst' %}"><img src="{% static "img/Shchapovo_Rec.png" %}"></a></div>
    <span class="news__item__text">Приступили к внутренней и внешней отделке частного дома в поселке Щапово Московской области.</span>
  </div>
  <div class="news__item clearfix">
    <div class="news__item__date">23 марта 2018</div>
    <div class="news__item__title"><a href="{% url 'our_termo' %}?page=1">Коттедж 128 м2, п. Тамала</a></div>
    <div class="news__item__img"><a href="{% url 'our_termo' %}?page=1"><img src="{% static "img/Tamala_Got.png" %}"></a></div>
    <span class="news__item__text">Приступили к внутренней отделке дома из термопанелей в поселке Тамала.</span>
  </div>
{% comment %}  <div class="news__item clearfix">
    <div class="news__item__date">11 февраля 2018</div>
    <div class="news__item__title"><a href="{% url 'reconst' %}">Частный дом, г. Серпухов</a></div>
    <div class="news__item__img"><a href="{% url 'reconst' %}"><img src="{% static "img/Serpuhov_Rec.png" %}"></a></div>
    <span class="news__item__text">Приступили к реконструкции частного дома в городе Серпухов Московской области.</span>
  </div>{% endcomment %}
  {% comment %}<div class="news__item clearfix">
    <div class="news__item__date">24 декабря 2017</div>
    <div class="news__item__title"><a href="{% url 'our_karkas' %}">Коттедж 130 м2, п. Новоклёмово</a></div>
    <div class="news__item__img"><a href="{% url 'our_karkas' %}"><img src="{% static "img/Novoklemovo_Got.png" %}"></a></div>
    <span class="news__item__text">Мы закончили строительство дома в поселке Новоклёмово</span>
  </div>{% endcomment %}
{% comment %}
  <div class="news__item clearfix">
    <div class="news__item__date">26 ноября 2017</div>
    <div class="news__item__title"><a href="{% url 'our_karkas' %}">Коттедж 130 м2, п. Новоклёмово</a></div>
    <div class="news__item__img"><a href="{% url 'our_karkas' %}"><img src="{% static "img/Novoklemovo_Ind.png" %}"></a></div>
    <span class="news__item__text">Мы начали строительство коттеджа по Каркасной технологии в поселке Новоклёмово Московской области.</span>
  </div>
{% endcomment %}
{% comment %}
  <div class="news__item clearfix">
    <div class="news__item__date">31 августа 2017</div>
    <div class="news__item__title"><a href="{% url 'promo' %}">Силовой каркас дома из пиломатериала камерной сушки в подарок!</a></div>
    <div class="news__item__img"><img src="{% static "img/04Akciya_01.png" %}"></div>
    <span class="news__item__text">В период с 1 сентября по 30 сентября 2017 г. компания Красный двор проводит АКЦИЮ!</span>
  </div>
{% endcomment %}
  {% comment %}<div class="news__item clearfix">
    <div class="news__item__date">03 апреля 2017</div>
    <div class="news__item__title">Новый офис</div>
    <span class="news__item__text">Мы переехали в новый офис по адресу ул. Кирова 53</span>
  </div>{% endcomment %}
  {% comment %}  <a class="all-news">все новости</a>{% endcomment %}
</div>
<div class="side-panel">
  <div class="side-title">отзывы</div>
  <div class="reviews__item clearfix">
    <span class="reviews__item__text"><img class="reviews__item__icon" src="{% static "img/Pahra_Rev.png" %}">Прошел год, с момента окончания строительства нашего дома. За этот период, наш дом уже пережил штормовой ветер в течении недели. Теперь уже ежегодный, "ледяной дождь". Морозы в тридцать градусов... <a
            href="{% url 'review' %}#pahra">весь отзыв</a>
    </span>

    <div class="reviews__item__name">Матюхин Алексей</div>
    <div class="reviews__item__date">09 февраля 2018</div>
  </div>
  <div class="reviews__item clearfix">
    <span class="reviews__item__text"><img class="reviews__item__icon" src="{% static "img/Novoklemovo_Rev.png" %}">Слаженная, качественная, оперативная работа, как по согласованию, так и по доставке так и по строительству. Компания ориентирована абсолютно на удобство для клиента... <a
            href="{% url 'review' %}#novoklyomovo">весь отзыв</a>
    </span>

    <div class="reviews__item__name">Болотин Сергей</div>
    <div class="reviews__item__date">25 декабря 2017</div>
  </div>
  <div class="reviews__item clearfix">
    <span class="reviews__item__text"><img class="reviews__item__icon" src="{% static "img/Tihij_Rev.png" %}">Заказывали дом в компании "Красный двор" из термопанелей. В компании работают действительно профессионалы, выбрали один из готовых проектов по нашим требованиям, подсказали нюансы и подводные камни, несколько раз переделывали проект в итоге пришли к идеальному варианту... <a
            href="{% url 'review' %}#tihij-bereg">весь отзыв</a>
    </span>

    <div class="reviews__item__name">Шуклина Ольга</div>
    <div class="reviews__item__date">28 ноября 2017</div>
  </div>
{% comment %}
  <div class="reviews__item clearfix">
    <span class="reviews__item__text"><img class="reviews__item__icon" src="{% static "img/RevMich_00.png" %}">Приношу слова благодарности строителям моего дачного домика. Все понравилось, ребята работали дружно и слаженно. Все выявленные недостатки сразу же устранялись без лишних вопросов. Был составлен договор на один объем работы, но после возведения домика решила продолжить работу с этими же ребятами по благоустройству близлежащей территории... <a
            href="{% url 'review' %}#michurinec">весь отзыв</a>
    </span>

    <div class="reviews__item__name">Глоталина Надежда</div>
    <div class="reviews__item__date">21 июля 2017</div>
  </div>
{% endcomment %}
{% comment %}
  <div class="reviews__item clearfix">
    <span class="reviews__item__text"><img class="reviews__item__icon" src="{% static "img/RevCvet_00.png" %}">Хочу выразить слова благодарности Андрею и его бригаде. Я долго искал проект дома, хотел, чтобы в самом доме был туалет, обязательно веранда, комната и кухня на 1-м этаже, две комнаты на 2-м этаже. Долго искал и нашел, но строить собирались каркасный из ОСВ панелей, но в начале сомнивался думали, что будет холодно в таком доме – всетаки бывает и ниже -30). Но потом по рекомендации друзей, дом которых мне очень понравился (качество возведения, внешний вид и т.д.)... <a
            href="{% url 'review' %}#paygarma">весь отзыв</a>
    </span>

    <div class="reviews__item__name">Приказчиков Юрий</div>
    <div class="reviews__item__date">1 марта 2017</div>
  </div>
{% endcomment %}
  <a href="{% url 'review' %}" class="all-reviews">все отзывы</a>
</div>
