{% load staticfiles %}
{% load thumbnail %}
{% comment %}
<form role="search" class="side-search">
  <input type="search" class="form-control" placeholder="Ваш запрос" name="search">
  <input type="submit" name="button-search" value="">
</form>
{% endcomment %}

<div class="side-panel">
  <div class="side-title vistavka">Акционный дом</div>

  <div class="clearfix" style="text-align: center"><img class="promodom-img" src="{% static "img/PromoDom_00.png" %}" alt="Акционный дом">
    <p class="promodom">Дом со скидкой!</p>
    <p class="promodom-text">Отлично подойдет для дачи.</p>
    <p class="promodom-text" style="margin-bottom: 5px">Проект 100 м&sup2; с фундаментом и монтажем за 900000 &#8381;</p>
    <a href="{% url 'promodom' %}" class="btn btn-info article-read" role="button">Подробнее...</a>
  </div>
</div>

<div class="side-panel">
  <div class="side-title">контакты</div>
  <div class="our-title">Мы строим по всей России.<br>
    Гарантия 10 лет!
  </div>
  <div class="address">г. Пенза <br>
    ул. Рябова 2 офис 10
  </div>
  <div class="phone">
    +7 (8412) 25-29-58 <br>
    +7 (927) 375-29-58
  </div>
  <div class="email">
    email: kras-dvor@mail.ru
  </div>
  <div class="map katalog-img">
    <a href="https://yandex.ru/maps/?um=constructor%3AngamqPx0CtkQjpb3CzV1k8nhSglBdsvb&amp;source=constructorStatic"
       target="_blank"><img src="https://api-maps.yandex.ru/services/constructor/1.0/static/?sid=ngamqPx0CtkQjpb3CzV1k8nhSglBdsvb&amp;width=260&amp;height=240&amp;lang=ru_RU&amp;sourceType=constructor"
       alt="" style="border: 0;"/></a>
  </div>
</div>
<div class="side-panel">
  <div class="side-title vistavka">Выставочный дом</div>
  <div class="address clearfix" style="text-align: center">
    Пензенская область<br>
    п. Мичуринский
  </div>
  <a href="{% url 'expo' %}">
    <div class="katalog-img">
      {% with url_path=MEDIA_URL|add:"content/OutTMich_00.jpg" %}
        {% thumbnail url_path "300x225" crop="center" format="PNG" as im %}
          <img class="img-responsive content-img" src="{{ im.url }}" alt="{{ im.url }}">
        {% endthumbnail %}
      {% endwith %}
    </div>
  </a>
</div>
<div class="side-panel">
  <div class="side-title">Новости</div>
  <div class="news__item clearfix">
    <div class="news__item__date">1 марта 2017</div>
    <div class="news__item__title">Мы продолжаем добавлять цены на наши типовые проекты домов</div>
    <span class="news__item__text">В течении месяца будут доступны цены на 3 комплектации по каждой технологии. <br> Вы сможете сравнить преимущества каждой технологии, стоимость строительства по ней и выбрать вариант подходящий именно Вам!</span>
  </div>
  <div class="news__item clearfix">
    <div class="news__item__date">21 февраля 2017</div>
    <div class="news__item__title"><a href="{% url 'promo' %}">Благоустройство террасы и крыльца в подарок!</a></div>
    <div class="news__item__img"><img src="{% static "img/01Akciya_01.png" %}"></div>
    <span class="news__item__text">В период с 1 марта по 30 апреля 2017 г. компания Красный двор проводит АКЦИЮ!</span>
  </div>
  <div class="news__item clearfix">
    <div class="news__item__date">20 февраля 2017</div>
    <div class="news__item__title"><a href="{% url 'promo' %}">Усиление фундамента профильной трубой!</a></div>
    <div class="news__item__img"><img src="{% static "img/02Akciya_03.png" %}"></div>
    <span class="news__item__text">В период с 1 марта по 30 апреля 2017 г. компания Красный двор проводит АКЦИЮ!</span>
  </div>
  {% comment %}  <a class="all-news">все новости</a>{% endcomment %}
</div>
<div class="side-panel">
  <div class="side-title">отзывы</div>
  <div class="reviews__item clearfix">
    <span class="reviews__item__text"><img class="reviews__item__icon" src="{% static "img/RevFst_00.png" %}">Заказал проект дома и собственно сам дом в компании "Красный двор" и ни разу не пожалел об этом. В компании
      работают настоящие профессионалы. Проект сделали очень быстро, не упустили ни одного моего пожелания; несколько раз проект присылали на
      согласование, пока в компании не убедились, что меня все устраивает... <a href="{% url 'review' %}#kovilkino">весь отзыв</a>
    </span>

    <div class="reviews__item__name">Кузнецов Владимир</div>
    <div class="reviews__item__date">16 февраля 2017</div>
  </div>
  <div class="reviews__item clearfix">
    <span class="reviews__item__text"><img class="reviews__item__icon" src="{% static "img/RevCvet_00.png" %}">Хочу выразить слова благодарности Андрею и его бригаде. Я долго искал проект дома, хотел, чтобы в самом доме был туалет, обязательно веранда, комната и кухня на 1-м этаже, две комнаты на 2-м этаже. Долго искал и нашел, но строить собирались каркасный из ОСВ панелей, но в начале сомнивался думали, что будет холодно в таком доме – всетаки бывает и ниже -30). Но потом по рекомендации друзей, дом которых мне очень понравился (качество возведения, внешний вид и т.д.)... <a
        href="{% url 'review' %}#paygarma">весь отзыв</a>
    </span>

    <div class="reviews__item__name">Приказчиков Юрий</div>
    <div class="reviews__item__date">1 марта 2017</div>
  </div>
  <a href="{% url 'review' %}" class="all-reviews">все отзывы</a>
</div>


{% comment %}<div class="panel panel-info">
  <div class="panel-heading">
    <div class="sidebar-header">Поиск</div>
  </div>
  <div class="panel-body">
    <form role="search">
      <div class="form-group">
        <div class="input-group">
          <input type="search" class="form-control" placeholder="Ваш запрос">
          <div class="input-group-btn">
            <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="panel panel-info">
  <div class="panel-heading">
    <div class="sidebar-header">Контакты</div>
  </div>
  <div class="panel-body">
    <h2><b>Пенза</b></h2>
    <p><b>ул. Рябова 2 офис 10</b></p>
    <p>Телефоны:</p>
    <p><b>+7 (495) 201-23-09</b></p>
    <p><b>+7 (916) 599-94-44</b></p>
    <p><b>email: <a href="mailto:kras-dvor@mail.ru">kras-dvor@mail.ru</a></b></p>
    <p></p>
    <div class="row"><a
        href="https://yandex.ru/maps/?um=constructor%3AGVO8PfQ7vukEQ4Dqv6dKReAO0m15lAGF&amp;source=constructorStatic"
        target="_blank"><img
        src="https://api-maps.yandex.ru/services/constructor/1.0/static/?sid=GVO8PfQ7vukEQ4Dqv6dKReAO0m15lAGF&amp;width=270&amp;height=210&amp;lang=ru_RU&amp;sourceType=constructor"
        alt="" style="border: 0;"/></a></div>
  </div>
</div>
<div class="panel panel-info">
  <div class="panel-heading">
    <div class="sidebar-header">Новости</div>
  </div>
  <div class="panel-body">
    <h2><a href="#">Вентиляция в подарок!</a></h2>
    <p>В период по 31 января 2017 компания «Красный двор» проводит АКЦИЮ!</p>
  </div>
</div>
<div class="panel panel-info">
  <div class="panel-heading">
    <div class="sidebar-header">Отзывы</div>
  </div>
  <div class="panel-body">

  </div>
</div>{% endcomment %}
