{% load staticfiles %}
<form role="search" class="side-search">
  <input type="search" class="form-control" placeholder="Ваш запрос" name="search">
  <input type="submit" name="button-search" value="">
</form>

<div class="side-panel">
  <div class="side-title">контакты</div>
  <div class="address">ПЕНЗА <br>
    ул. Чкалова д.32
  </div>
  <div class="phone">
    +7 (8412) 39-90-14 <br>
    +7 (927) 289-90-14
  </div>
  <div class="email">
    email: kras-dvor@mail.ru
  </div>
  <div class="map">
    <script type="text/javascript" charset="utf-8" async
            src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=xnLKTK1otR8Ab0mX8VAnGVymKWksZCYh&amp;width=100%25&amp;height=300&amp;lang=ru_RU&amp;sourceType=constructor&amp;scroll=true">
    </script>
  </div>
</div>
<div class="side-panel">
  <div class="side-title">Новости</div>
  <div class="news__item clearfix">
    <div class="news__item__date">21 сент 2017</div>
    <div class="news__item__title"><a href="">Вентиляция в подарок!</a></div>
    <div class="news__item__img"><img src="{% static "img/news-img.png" %}"></div>
    <span class="news__item__text">В период по 31 января 2017 компания «Красный двор» проводит АКЦИЮ!</span>
  </div>
  <div class="news__item clearfix">
    <div class="news__item__date">21 сент 2017</div>
    <div class="news__item__title"><a href="">Вентиляция в подарок!</a></div>
    <span class="news__item__text">В период по 31 января 2017 г компания «Красный двор» проводит
								день открытых дверей</span>
  </div>
  <div class="news__item clearfix">
    <div class="news__item__date">21 сент 2017</div>
    <div class="news__item__title"><a href="">Вентиляция в подарок!</a></div>
    <span class="news__item__text">В период по 31 января 2017 г компания «Красный двор» проводит
									день открытых дверей</span>
  </div>
  <a class="all-news">все новости</a>
</div>
<div class="side-panel">
  <div class="side-title">отзывы</div>
  <div class="reviews__item clearfix">
    <span class="reviews__item__text">Инновационный утеплитель HOTROCK, отличающийся высокими экологическими, звуко- и теплоизоляционными </span>
    <div class="reviews-icon"></div>
    <div class="reviews__item__icon"><img src="{% static "img/reviews-icon.png" %}"></div>
    <div class="reviews__item__name">Анна Иванова</div>
    <div class="reviews__item__date">21 сент 2017</div>
  </div>
  <div class="reviews__item clearfix">
    <span class="reviews__item__text">Инновационный утеплитель HOTROCK, отличающийся высокими экологическими, звуко- и теплоизоляционными </span>
    <div class="reviews-icon"></div>
    <div class="reviews__item__icon"><img src="{% static "img/reviews-icon.png" %}"></div>
    <div class="reviews__item__name">Анна Иванова</div>
    <div class="reviews__item__date">21 сент 2017</div>
  </div>
  <div class="reviews__item clearfix">
    <span class="reviews__item__text">Инновационный утеплитель HOTROCK, отличающийся высокими экологическими, звуко- и теплоизоляционными </span>
    <div class="reviews-icon"></div>
    <div class="reviews__item__icon"><img src="{% static "img/reviews-icon.png" %}"></div>
    <div class="reviews__item__name">Анна Иванова</div>
    <div class="reviews__item__date">21 сент 2017</div>
  </div>
  <a class="all-reviews">все отзывы</a>
</div>


{% comment %}<div class="panel panel-info">
  <div class="panel-heading">
    <div class="sidebar-header">Поиск</div>
  </div>
  <div class="panel-body">
    <form role="search">
      <div class="form-group">
        <div class="input-group">
          <input type="search" class="form-control" placeholder="Ваш запрос">
          <div class="input-group-btn">
            <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="panel panel-info">
  <div class="panel-heading">
    <div class="sidebar-header">Контакты</div>
  </div>
  <div class="panel-body">
    <h2><b>Пенза</b></h2>
    <p><b>ул. Чкалова д.32</b></p>
    <p>Телефоны:</p>
    <p><b>+7 (495) 201-23-09</b></p>
    <p><b>+7 (916) 599-94-44</b></p>
    <p><b>email: <a href="mailto:kras-dvor@mail.ru">kras-dvor@mail.ru</a></b></p>
    <p></p>
    <div class="row"><a
        href="https://yandex.ru/maps/?um=constructor%3AGVO8PfQ7vukEQ4Dqv6dKReAO0m15lAGF&amp;source=constructorStatic"
        target="_blank"><img
        src="https://api-maps.yandex.ru/services/constructor/1.0/static/?sid=GVO8PfQ7vukEQ4Dqv6dKReAO0m15lAGF&amp;width=270&amp;height=210&amp;lang=ru_RU&amp;sourceType=constructor"
        alt="" style="border: 0;"/></a></div>
  </div>
</div>
<div class="panel panel-info">
  <div class="panel-heading">
    <div class="sidebar-header">Новости</div>
  </div>
  <div class="panel-body">
    <h2><a href="#">Вентиляция в подарок!</a></h2>
    <p>В период по 31 января 2017 компания «Красный двор» проводит АКЦИЮ!</p>
  </div>
</div>
<div class="panel panel-info">
  <div class="panel-heading">
    <div class="sidebar-header">Отзывы</div>
  </div>
  <div class="panel-body">

  </div>
</div>{% endcomment %}
