{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
  <ol class="breadcrumbs">
    <li><a href="\">Главная</a></li>
    <li class="active">Статьи</li>
  </ol>

  <div class="content-article clearfix">
    {% for art in article_list %}
        <a href="{{ art.get_absolute_url }}">
          <h3>{{ art.name }}</h3>
        </a>
        <p class="content-text">{{ art.description|safe }}</p>
    {% endfor %}
  </div> <!-- /.content-article -->

  {% if is_paginated %}
    <nav>
      <ul class="paggination">
        {% if page_obj.has_previous %}
          <li class="double-arrow"><a href="?page={{ page_obj.previous_page_number }}">
            <i class="fa fa-angle-double-left" aria-hidden="true"></i>
          </a>
          </li>
        {% else %}
          <li class="double-arrow ">
            <a href="#">
              <i class="fa fa-angle-double-left" aria-hidden="true"></i>
            </a>
          </li>
        {% endif %}

        {% for page in paginator.page_range %}
          <li {% if page == page_obj.number %}class="active"{% endif %}>
            <a href="?page={{ page }}">{{ page }}</a>
          </li>
        {% endfor %}

        {% if page_obj.has_next %}
          <li class="double-arrow">
            <a href="?page={{ page_obj.next_page_number }}">
              <i class="fa fa-angle-double-right" aria-hidden="true"></i>
            </a>
          </li>
        {% else %}
          <li class="double-arrow ">
            <a href="#">
              <i class="fa fa-angle-double-right" aria-hidden="true"></i>
            </a>
          </li>
        {% endif %}
      </ul>
    </nav>
  {% endif %}

{% endblock %}