{% extends "base.html" %}
{% load staticfiles %}

{% block title %}{{ article.title }}{% endblock %}
{% block meta_seo %}
  <meta name="keywords" content="{{ article.metakey }}"/>
  <meta name="description" content="{{ article.metadesc }}">
{% endblock %}

{% block content %}
  <ol class="breadcrumbs">
    <li><a href="\">Главная</a></li>
    <li><a href="{% url 'article_list' %}">Статьи</a></li>
    <li class="active">{{ article.name|title }}</li>
  </ol>

  <div class="content-article clearfix">
    <h2>{{ article.name }}</h2>
    {{ article.body|safe }}
  </div> <!-- /.content-article -->

{% endblock %}