{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Красный двор - Контакты{% endblock %}
{% block content %}
<ol class="breadcrumbs">
  <li><a href="{% url 'index_page' %}">Главная</a></li>
  <li class="active">Контакты</li>
</ol>

<div class="content-page clearfix">
  <h1>Контакты</h1>
  <h4>Компания Красный двор занимается строительством и реконструкцией домов под ключ <b>по всей России</b>.</h4>
  <h3><b>Офис в Пензе:</b></h3>
  <div class="row contacts">
    <div class="col-xs-6 col-lg-3">
      <h2><i class="glyphicon glyphicon-phone"></i>Телефоны</h2>
{% comment %}
      <b>8 800 700-31-58</b> <br>
      <span>бесплатный звонок по России</span><br>
{% endcomment %}
      +7 (902) 200-68-54 <br>
      +7 (8412) 25-29-58 <br>
      +7 (927) 375-29-58
    </div>
    <div class="col-xs-6 col-lg-3">
      <h2><i class="glyphicon glyphicon-envelope"></i> E-mail</h2>
      <a href="mailto:kras-dvor@mail.ru" class="email">kras-dvor@mail.ru</a>
    </div>
    <div class="clearfix hidden-lg"></div>
    <div class="content-text col-xs-6 col-lg-3" style="padding: 0 5px">
      <h2><i class="glyphicon glyphicon-map-marker"></i>Адрес</h2>
      г. Пенза <br>
      <b>ул. Кирова 53 офис 2</b>
    </div>
    <div class="content-text col-xs-6 col-lg-3">
      <h2><i class="glyphicon glyphicon-time"></i>График работы</h2>
      <b>10:00 - 18:00 без выходных</b><br>
      Просим Вас заранее согласовывать дату и время встречи по телефону.
    </div>
  </div>
  <div class="map">
    <script type="text/javascript" charset="utf-8" async
            src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Ae69dbd52d1d37df3953a4c27d55b582e2a11707d671886862f279f19dbce1b3d&amp;width=100%25&amp;height=600&amp;lang=ru_RU&amp;scroll=true"></script>
  </div>
  <h3><b>Офис в Москве:</b></h3>
  <div class="row contacts">
    <div class="col-xs-6 col-lg-3">
      <h2><i class="glyphicon glyphicon-phone"></i>Телефон</h2>
      +7 (902) 200-68-54
{% comment %}
      <b>8 800 700-31-58</b> <br>
      <span>бесплатный звонок по России</span><br>
{% endcomment %}
    </div>
    <div class="col-xs-6 col-lg-3">
      <h2><i class="glyphicon glyphicon-envelope"></i> E-mail</h2>
      <a href="mailto:kras-dvor@mail.ru" class="email">kras-dvor@mail.ru</a>
    </div>
    <div class="clearfix hidden-lg"></div>
    <div class="content-text col-xs-6 col-lg-3" style="padding: 0 5px">
      <h2><i class="glyphicon glyphicon-map-marker"></i>Адрес</h2>
      г. Москва <br>
      <b>Каширское шоссе, <br>владение 63к1, <br>"Центр деревянного домостроения" участок № 9-1</b>
    </div>
    <div class="content-text col-xs-6 col-lg-3">
      <h2><i class="glyphicon glyphicon-time"></i>График работы</h2>
      <b>10:00 - 18:00 без выходных</b><br>
      Просим Вас заранее согласовывать дату и время встречи по телефону.
    </div>
  </div>
  <div class="map">
    <script type="text/javascript" charset="utf-8" async
            src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A7aaab0be1e3d5e6c7fa2ed9128ec3c27cc09bbc1af9daf64455b0b113c34f564&amp;width=100%25&amp;height=600&amp;lang=ru_RU&amp;scroll=true"></script>
  </div>
  <div class="col-xs-12">
    <h3>Реквизиты</h3>
    <b>ООО «Красный двор» </b><br>
    440004, Пензенская область, г. Пенза, Улица Рябова, дом 2, офис 10<br>
    <b>ИНН:</b> 5837068532<br>
    <b>КПП:</b> 583701001<br>
    <b>ОГРН:</b> 1175835001253
  </div>
</div> <!-- /.content-article -->

<script type="text/javascript">
    $(window).load(function () {
        var yaParams = {order_price: 5, currency: "RUB"};
        yaCounter43178169.reachGoal('contacts', yaParams)
    });
</script>
{% endblock %}