{% extends "base.html" %}
{% load staticfiles %}
{% load thumbnail %}

{% block content %}
  <div class="content-article clearfix">
    <h2>Дома из термопанелей</h2>
    <a class="gallery" href="{% static "content/content-img.png" %}">
      {% with url_path=MEDIA_URL|add:"content/content-img.png" %}
        {% thumbnail url_path "262x175" crop="80% top" format="PNG" as im %}
          <img class="img-responsive content-img" src="{{ im.url }}" alt="{{ im.url }}">
        {% endthumbnail %}
      {% endwith %}

    </a>
    <p class="content-text">Одним из таких материалов являются комбинированные термопанели (КТП). Это инновационный
      стройматериал, разработанный нашей компанией «Стройка СИП», но прежде чем рассказать о нем, хотим пару слов
      сказать о том, что послужило причиной его создания – это позволит людям, не имеющим глубоких познаний в
      строительной сфере, понять, чего ожидать от материала, и каковы его основные достоинства. Итак, после того,
      как стали появляться жалобы на качество вышедших на строительный рынок лет 10 назад СИП-панелей, создающих в
      помещении парниковый эффект и плохой звукоизоляцией, мы отнеслись к этому с должным вниманием и задумались над
      созданием материала, сочетающего достоинства СИП-панелей и </p>
    <h3>Что представляют собой КТП и из чего они сделаны</h3>
    <p class="content-text">КТП или комбинированные термопанели – это усовершенствованные СИП-панели, применяемые в
      строительстве каркасных домов, в которых, в отличие от СИП-панелей, используются материалы, оптимально
      соответствующие назначению дома или конкретного помещения, замыслу архитектора, проекту, схеме расположения
      инженерных коммуникаций, способу отделки, а также уровню санитарной и пожарной безопасности.</p>
    <h3>Что мы предлагаем</h3>
    <p class="content-text">Инновационный утеплитель HOTROCK, отличающийся высокими экологическими, звуко- и
      теплоизоляционными характеристиками, а также высоким классом пожаробезопасности, что позволяет использовать
      его в конструкциях, расположенных рядом с поверхностями, рабочая температура нагревания которых составляет
      около 220о (печи, камины). HOTROCK фиксируется посредством клея между несущими листами КТП, исключая
      образование пустот, проседание утеплителя, кроме того, данный материал устойчив к воздействию грызунов. По
      сути HOTROCK – современная альтернатива минеральной базальтовой вате, широко применяемой в строительстве в
      качестве утеплителя.</p>
    <p class="content-text">Применение в конструкции панелей плитную минвату вместо ламельной исключает образование
      пустот и снижает трудозатраты в процессе производства. Необходимая жесткость конструкции панелей достигается
      за счет высокой плотности минваты (не менее 50кг/м3), в стеновых КТП используется минвата, плотностью
      50-75кг/м3, отличающаяся оптимальными тепло- и звукоизоляционными показателями. <br>
      Листовым материалом КТП может служить OSB-плиты, плиты GreenBoard, а иногда – ЦСП. Их применение обусловлено
      местом монтажа панели. Например, для межэтажных и цокольных перекрытий применяются OSB-плиты, для стен и
      перегородок лучше использовать более жесткие GreenBoard, ЦСП отличается высокой адгезией к клеящим составам,
      благодаря чему плитку можно клеить прямо на КТП, не монтируя предварительно гипсокартон (исключение –
      помещения с температурными перепадами – санузел, ванная комната).
      Более плотный и эффективный утеплитель и более тяжелый листовой материал делают КТП гораздо надежней
      СИП-панелей, но учитывая больший вес, мы уменьшили ширину КТП, сделав ее 625мм (ширина СИП-1250мм). Это дало
      еще ряд преимуществ: <br>
      повышает жесткость всей конструкции, прочность перегородок и перекрытий; <br>
      стыковка КТП посредством «замка» исключает появление мостиков холода; <br>
      упрощает монтаж. <br>
      Кроме того, на одном объекте можно сочетать все применяемые материалы, руководствуясь участками монтажа КТП и
      назначением помещений. <br>
      Производим также односторонние КТП или ОКТП для удешевления строительства. Такие плиты используются как для
      наружных стен, так и для перегородок внутри помещений, а проблемы тепло- и звукоизоляции решаются за счет
      дальнейших отделочных работ. <br>
      Таким образом, наш инновационный усовершенствованный стройматериал обладает всеми достоинствами каркасных
      СИП-панелей и при этом полностью нивелирует их недостатки.</p>
  </div> <!-- /.content-article -->

  <div class="our-project">
    <div class="our-project-title">наши проекты</div>
    <div class="katalog-list clearfix">
      {% for prj in projects %}
        <div class="col-lg-4 col-md-6 col-xs-12">
          <div class="katalog-item">

            <a href="{{ prj.get_absolute_url }}">
              <div class="katalog-img">
                {% thumbnail prj.img "258x187" crop="80% top" format="PNG" as im %}
                  <img class="img-responsive" src="{{ im.url }}" alt="{{ im.title }}">
                {% endthumbnail %}
              </div>
            </a>
            <div class="katalog-info clearfix">
              <a href="{{ prj.get_absolute_url }}">
                <div class="katalog-title">{{ prj.name|title }}</div>
              </a>
              <span class="katalog-area"><img class="build-icon"
                                              src="{% static "img/build-icon.png" %}">{{ prj.square }} кв.м.</span>
              <span class="katalog-price">{{ prj.price }} ₽</span>
            </div>

          </div>
        </div>
      {% endfor %}
    </div>
    <div class="view-all-wrapper">
      <a href="{% url 'project_list' %}" class="view-all">смотреть все</a>
    </div>
  </div><!-- /.our-project -->



  {% comment %}
  <div class="container">
    <div class="row">
      <div class="col-sm-9">
        <ol class="breadcrumb">
          <li class="active">Главная</li>
        </ol>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <a title="termo" href="#"><img class="img-responsive imgpopup" src="{% static "termopaneli-5.jpg" %}"></a>
      </div>
      <div class="col-lg-6">
        <h1 class="blog-post-title">Дома из термопанелей</h1>
        <p>Одним из таких материалов являются комбинированные термопанели (КТП). Это инновационный стройматериал,
          разработанный нашей компанией «Стройка СИП», но прежде чем рассказать о нем, хотим пару слов сказать о том,
          что послужило причиной его создания – это позволит людям, не имеющим глубоких познаний в строительной сфере,
          понять, чего ожидать от материала, и каковы его основные достоинства. Итак, после того, как стали появляться
          жалобы на качество вышедших на строительный рынок лет 10 назад СИП-панелей, создающих в помещении парниковый
          эффект и плохой звукоизоляцией, мы отнеслись к этому с должным вниманием и задумались над созданием материала,
          сочетающего достоинства СИП-панелей и исключающего их недостатки.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-9">
        <h2>Что представляют собой КТП и из чего они сделаны</h2>
        <p>КТП или комбинированные термопанели – это усовершенствованные СИП-панели, применяемые в строительстве
          каркасных домов, в которых, в отличие от СИП-панелей, используются материалы, оптимально соответствующие
          назначению дома или конкретного помещения, замыслу архитектора, проекту, схеме расположения инженерных
          коммуникаций, способу отделки, а также уровню санитарной и пожарной безопасности.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3">
        <a title="termo" href="#"><img class="img-responsive thumbnail imgpopup" src="{% static "termopaneli-4.jpg" %}"></a>
      </div>
      <div class="col-lg-3">
        <a title="termo" href="#"><img class="img-responsive thumbnail imgpopup" src="{% static "termopaneli-6.jpg" %}"></a>
      </div>
      <div class="col-lg-3">
        <a title="termo" href="#"><img class="img-responsive thumbnail imgpopup" src="{% static "termopaneli-7.jpg" %}"></a>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-9">
        <h2>
          Что мы предлагаем:
        </h2>
        <ol>
          <li>Инновационный утеплитель HOTROCK, отличающийся высокими экологическими, звуко- и теплоизоляционными
            характеристиками, а также высоким классом пожаробезопасности, что позволяет использовать его в конструкциях,
            расположенных рядом с поверхностями, рабочая температура нагревания которых составляет около 220о (печи,
            камины). HOTROCK фиксируется посредством клея между несущими листами КТП, исключая образование пустот,
            проседание утеплителя, кроме того, данный материал устойчив к воздействию грызунов. По сути HOTROCK –
            современная альтернатива минеральной базальтовой вате, широко применяемой в строительстве в качестве
            утеплителя.
          </li>
          <li>Применение в конструкции панелей плитную минвату вместо ламельной исключает образование пустот и снижает
            трудозатраты в процессе производства. Необходимая жесткость конструкции панелей достигается за счет высокой
            плотности минваты (не менее 50кг/м3), в стеновых КТП используется минвата, плотностью 50-75кг/м3,
            отличающаяся оптимальными тепло- и звукоизоляционными показателями.
          </li>
          <li>Листовым материалом КТП может служить OSB-плиты, плиты GreenBoard, а иногда – ЦСП. Их применение
            обусловлено местом монтажа панели. Например, для межэтажных и цокольных перекрытий применяются OSB-плиты,
            для стен и перегородок лучше использовать более жесткие GreenBoard, ЦСП отличается высокой адгезией к
            клеящим составам, благодаря чему плитку можно клеить прямо на КТП, не монтируя предварительно гипсокартон
            (исключение – помещения с температурными перепадами – санузел, ванная комната).
          </li>
          <li>Более плотный и эффективный утеплитель и более тяжелый листовой материал делают КТП гораздо надежней
            СИП-панелей, но учитывая больший вес, мы уменьшили ширину КТП, сделав ее 625мм (ширина СИП-1250мм). Это дало
            еще ряд преимуществ:
            <ul>
              <li>повышает жесткость всей конструкции, прочность перегородок и перекрытий;</li>
              <li>стыковка КТП посредством «замка» исключает появление мостиков холода;</li>
              <li>упрощает монтаж.</li>
            </ul>
            Кроме того, на одном объекте можно сочетать все применяемые материалы, руководствуясь участками монтажа КТП
            и назначением помещений.
          </li>
          <li>Производим также односторонние КТП или ОКТП для удешевления строительства. Такие плиты используются как
            для наружных стен, так и для перегородок внутри помещений, а проблемы тепло- и звукоизоляции решаются за
            счет дальнейших отделочных работ.
            <p>Таким образом, наш инновационный усовершенствованный стройматериал обладает всеми достоинствами каркасных
              СИП-панелей и при этом полностью нивелирует их недостатки.</p>
          </li>
        </ol>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-5">
        <p>Таким образом, наш инновационный усовершенствованный стройматериал обладает всеми достоинствами каркасных
          СИП-панелей и при этом полностью нивелирует их недостатки.</p>
        <p><b>Описание патента</b></p>
      </div>
      <div class="col-lg-4">
        <a title="termo" href="#"><img class="img-responsive thumbnail imgpopup" src="{% static "patent-paneli.jpg" %}"></a>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-9">
        <p>Если у вас появились вопросы, вы хотите сделать предварительный проект и просчитать стоимость – добро
          пожаловать в нашу компанию «Стройка СИП»! Мы же, в свою очередь, гарантируем, что Вы на 100% останетесь
          довольны результатом.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3">
        <a title="termo" href="#"><img class="img-responsive thumbnail imgpopup" src="{% static "termopaneli-1.jpg" %}"></a>
      </div>
      <div class="col-lg-3">
        <a title="termo" href="#"><img class="img-responsive thumbnail imgpopup" src="{% static "termopaneli-2.jpg" %}"></a>
      </div>
      <div class="col-lg-3">
        <a title="termo" href="#"><img class="img-responsive thumbnail imgpopup" src="{% static "termopaneli-9.jpg" %}"></a>
      </div>
    </div>

    <div class="container">
      <div class="row">
        {% for prj in projects %}
          <div class="col-lg-3">
            <a href="{{ prj.get_absolute_url }}">
              {% thumbnail prj.img "300x200" crop="80% top" format="PNG" as im %}
                <img class="img-responsive" src="{{ im.url }}" alt="{{ im.title }}">
              {% endthumbnail %}
              <h4 class="text-center">{{ prj.name|title }}</h4>
            </a>
          </div>
        {% endfor %}
      </div>
    </div>


  </div>


  <div tabindex="-1" class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">

        </div>
      </div>
    </div>
  </div>

  <script>
      $(document).ready(function () {
          $('.imgpopup').click(function () {
              $('.modal-body').empty();
              var title = $(this).parent('a').attr("title");
              $($(this).parents('div').html()).appendTo('.modal-body');
              $('#myModal').modal({show: true});
          });
      });
  </script>{% endcomment %}
{% endblock %}