{% extends "base.html" %}
{% load staticfiles %}
{% load thumbnail %}

{% block content %}
  <div class="content-article clearfix">
    <h1>Строительство домов под ключ из готовых домокомплектов</h1>
    <p class="content-text">Компания «Красный двор» работает в этой нише с 2008 года. За это время был получен бесценный
      опыт в строительстве каркасных и СИП панельных домов, досконально изучены все сильные и слабые стороны технологии,
      построены десятки домов, которые верой и правдой служат нашим заказчикам и по сей день. А когда делаешь одно дело
      много лет, вкладывая в него силы и душу, отличный результат гарантирован. В итоге мы разработали и запатентовали
      собственную технологию строительства из термопанелей, объединившую сильные стороны каркасного и СИП панельного
      строительства и почти полностью нивелировавшую их недостатки.</p>
    <p class="content-text">Благодаря наличию собственной базы, на которой происходит изготовление домокомплектов, мы
      готовы предложить самые короткие сроки строительства. Возведение домов ведется без привлечения грузоподъемной
      техники и практически с колес. В производстве используются сертифицированные, экологически чистые материалы:
      пенополистерол, базальтовый утеплитель, ОСП (ориентировочно-стружечная плита), крепеж.</p>
    <p class="content-text">Помимо строительства домов под ключ мы оказываем услуги по реконструкции и ремонту и
      утеплению крыш и фасадов, усилению фундаментов, выполняем отделочные работы. Работаем по всей России. В каталоге
      каркасных, СИП и термопанельных домов представлены типовые проекты объектов, которые мы построили собственноручно,
      и поэтому можем с чистой совестью рекомендовать своим клиентам. При желании любой проект можно доработать с учетом
      ваших пожеланий или выполнить новый. Наш уровень и квалификация позволяют нам предлагать строительство домов под
      ключ по самым конкурентным ценам.</p>
    <h2>Строительство частных домов под ключ</h2>
    <p class="content-text"><b>Индивидуальное строительство каркасных домов</b> – это одно из направлений нашей
      деятельности. Каркасный дом – достаточно легкая конструкция, не требующая тяжелый фундамент. Это позволяет
      значительно сократить сроки возведения и стоимость объекта. В зависимости от сложности готовый дом можно получить
      за 1-2 месяца.</p>
    <p class="content-text"><b>Строительство домов из СИП панелей</b> имеет свое преимущество. Коробка здания собирается
      из готовых конструктивных элементов, выполняющих несущие, ограждающего и теплоизоляционные функции. Готовую
      коробку с крышей, окнами, дверями и наружной отделкой можно получить за 1-5 недель.</p>
    <p class="content-text"><b>Строительство домов из термопанелей</b> – еще одна из услуг, которую мы предлагаем. По
      сути – это усовершенствованная СИП технология. Используемый в их производстве утеплитель, по нашему глубокому
      убеждению, подходит для этих целей лучше всего. Быстровозводимые панели имеют более высокие показатели по несущей
      способности и не теряют своих теплоизоляционных свойств в процессе эксплуатации.</p>
    <p class="content-text">Вы можете заказать у нас любой дом, но мы настоятельно рекомендуем обратить внимание на
      термопанели. Это лучшее, что можно сейчас найти на рынке. При сопоставимых затратах, вы получите гарантировано
      более высокий результат.</p>
    <h2>Строительство каркасных домов</h2>
    <p class="content-text">Строительство домов под ключ из готовых домокомплектов в России, пожалуй, самое динамично
      развивающееся направление в малоэтажном строительстве. Этот феномен объясняется очень просто. Быстровозводимые
      дома весят примерно столько же, сколько одна стена у классического кирпичного дома аналогичных размеров.
      Соответственно под легкое строение нужен легкий фундамент. Добавьте сюда значительно более низкие трудозатраты,
      почти полное отсутствие в необходимости задействовать дорогостоящую строительную технику и на выходе получается
      очень существенная экономическая выгода.</p>
    <p class="content-text">Это далеко не все преимущества. Об этом можно говорить достаточно много, но особо выделить
      стоит одно из них. Речь идет о энергоэффективности. По этому показателю дома, которые мы возводим, явные лидеры.
      Нам с вами «посчастливилось» жить во время, в которое весь мир активно включается в борьбу за экономию
      энергоресурсов, а предлагаемые нами технологии оптимально вписываются в эту философию. Таким образом,
      быстровозводимые дома под ключ - это экономия бюджета на этапе монтажа и на этапе эксплуатации.</p>
    <p class="content-text">Компания «Красный двор» - это коллектив единомышленников, во главе которого стоят люди,
      которые лично принимали участие в строительстве десятков объектов. За время работы были пройдены и отлажены до
      автоматизма все этапы – от разработки проекта до сдачи в эксплуатацию. На фото ниже приведены реальные объекты,
      которые построены нашими руками:</p>
  </div> <!-- /.content-article -->

  <div class="our-project">
    <div class="our-project-title">наши проекты</div>
  </div>
  <div class="content-page clearfix">
    {% for prj in projects %}
      <div class="promo-cat col-lg-4 col-md-6 col-xs-12">
        <div class="katalog-item">

          <a href="{% url 'project_detail' prj.slug %}?tech=1">
            <div class="katalog-img">
              {% thumbnail prj.img "258x187" crop="80% top" format="PNG" as im %}
                <img class="img-responsive" src="{{ im.url }}" alt="{{ im.title }}">
              {% endthumbnail %}
            </div>
          </a>
          <div class="katalog-info clearfix">
            <a href="{% url 'project_detail' prj.slug %}?tech=1">
              <div class="katalog-title">{{ prj.name|title }}</div>
            </a>
            <span class="katalog-area"><img class="build-icon"
                                            {% if prj.house == 2 %}src="{% static "img/build-icon2.png" %}"
                                            {% elif prj.house == 3 %}src="{% static "img/build-icon3.png" %}"
                                            {% elif prj.house == 4 %}src="{% static "img/build-icon4.png" %}"
                                            {% elif prj.house == 5 %}src="{% static "img/build-icon5.png" %}"
                                            {% else %}src="{% static "img/build-icon1.png" %}"{% endif %}
            >{{ prj.square }} кв.м.</span>
            <span class="katalog-price">{{ prj.price }} ₽</span>
          </div>
        </div>
      </div>
    {% endfor %}
    <div class="view-all-wrapper">
      <a href="{% url 'project_list' %}?tech=1&search=1&vid=0&pmin=0&pmax=5000000&smin=0&smax=500" class="view-all">смотреть
        все</a>
    </div>
  </div><!-- /.our-project -->
{% endblock %}