{% extends "base.html" %}
{% load staticfiles %}
{% load thumbnail %}

{% block content %}
  <div class="content-article clearfix">
{% comment %}    <a class="gallery" href="{% static "content/content-img.png" %}">
      {% with url_path=MEDIA_URL|add:"content/content-img.png" %}
        {% thumbnail url_path "262x175" crop="80% top" format="PNG" as im %}
          <img class="img-responsive content-img" src="{{ im.url }}" alt="{{ im.url }}">
        {% endthumbnail %}
      {% endwith %}
    </a>{% endcomment %}
    <p class="content-text">Строительство домов под ключ по каркасной и каркасно-щитовой технологии в России, пожалуй, самое динамично развивающееся направление в малоэтажном строительстве. Этот феномен объясняется очень просто. Быстровозводимые дома весят примерно столько же, сколько одна стена у классического кирпичного дома аналогичных размеров. Соответственно под легкое строение нужен легкий фундамент. Добавьте сюда значительно более низкие трудозатраты, почти полное отсутствие в необходимости задействовать дорогостоящую строительную технику и на выходе получается очень существенная экономическая выгода.</p>
    <p class="content-text">Это далеко не все преимущества. Об этом можно говорить достаточно много, но особо выделить стоит одно из них. Речь идет о энергоэффективности. По этому показателю каркасные и каркасно-щитовые дома явные лидеры. Нам с вами «посчастливилось» жить во время, в которое весь мир активно включается в борьбу за экономию энергоресурсов, а предлагаемые нами технологии оптимально вписываются в эту философию. Таким образом, быстровозводимые дома под ключ - это экономия бюджета на этапе монтажа и на этапе эксплуатации.</p>
    <p class="content-text">Компания «Красный двор» - это коллектив единомышленников, работающий на общий результат. За время работы были пройдены и отлажены до автоматизма все этапы – от разработки проекта до сдачи в эксплуатацию. На фото ниже приведены реальные объекты, которые мы строили с нуля:</p>
    <h2>Строительство частных домов под ключ</h2>
    <p class="content-text"><b>Индивидуальное строительство каркасных домов</b> – одно из направлений нашей деятельности. Каркасный дом – достаточно легкая конструкция, не требующая тяжелый фундамент. Это позволяет значительно сократить сроки возведения и стоимость объекта. В зависимости от сложности готовый дом можно получить за 1-2 месяца.</p>
    <p class="content-text"><b>Строительство домов из СИП панелей</b> имеет свое преимущество. Коробка здания собирается из готовых конструктивных элементов, выполняющих несущие, ограждающего и теплоизоляционные функции. Готовую коробку с крышей, окнами, дверями и наружной отделкой можно получить за 1-5 недель.</p>
    <p class="content-text"><b>Строительство домов из термопанелей</b> – еще одна из услуг, которую мы предлагаем. По сути – это усовершенствованная СИП технология. Используемый в их производстве утеплитель, по нашему глубокому убеждению, подходит для этих целей лучше всего. Быстровозводимые панели имеют более высокие показатели по несущей способности и не теряют своих теплоизоляционных свойств в процессе эксплуатации.</p>
    <p class="content-text">Вы можете заказать у нас любой дом, но мы настоятельно рекомендуем обратить внимание на термопанели. Это лучшее, что можно сейчас найти на рынке. При сопоставимых затратах, вы получите гарантировано более высокий результат.</p>
    <h2>Строительство из готового домокомплекта</h2>
    <p class="content-text">Наша компания работает в этой нише с 2008 года. За это время был получен бесценный опыт в строительстве каркасных и СИП панельных домов, досконально изучены все сильные и слабые стороны технологии, построены десятки домов, которые верой и правдой служат нашим заказчикам и по сей день. А когда делаешь одно дело много лет, вкладывая в него силы и душу, отличный результат гарантирован. В итоге мы разработали и запатентовали собственную технологию строительства из термопанелей, объединившую сильные стороны каркасного и СИП панельного строительства и нивелировавшую почти полностью их недостатки.</p>
    <p class="content-text">Благодаря наличию собственной базы, на которой происходит изготовление домокомплектов, мы готовы предложить самые короткие сроки строительства. Возведение домов ведется без привлечения грузоподъемной техники практически с колес. В производстве используются сертифицированные, экологически чистые материалы: пенополистерол, базальтовый утеплитель, ОСП (ориентировочно-стружечная плита), крепеж.</p>
    <p class="content-text">Помимо строительства домов под ключ мы оказываем услуги по реконструкции и ремонту и утеплению крыш и фасадов, усилению фундаментов, выполняем отделочные работы. Работаем по всей России. В каталоге каркасных, СИП и термопанельных домов представлены типовые проекты объектов, которые мы построили собсвенноручно, и поэтому можем с чистой совестью рекомендовать своим клиентам. При желании любой проект можно доработать с учетом ваших пожеланий или выполнить новый. Наш уровень и квалификация позволяют нам предлагать строительство домов под ключ по самым конкурентным ценам.</p>
  </div> <!-- /.content-article -->

  <div class="our-project">
    <div class="our-project-title">наши проекты</div>
    <div class="katalog-list clearfix">
      {% for prj in projects %}
        <div class="col-lg-4 col-md-6 col-xs-12">
          <div class="katalog-item">

            <a href="{% url 'project_detail' prj.slug %}?tech=1">
              <div class="katalog-img">
                {% thumbnail prj.img "258x187" crop="80% top" format="PNG" as im %}
                  <img class="img-responsive" src="{{ im.url }}" alt="{{ im.title }}">
                {% endthumbnail %}
              </div>
            </a>
            <div class="katalog-info clearfix">
              <a href="{% url 'project_detail' prj.slug %}?tech=1">
                <div class="katalog-title">{{ prj.name|title }}</div>
              </a>
              <span class="katalog-area"><img class="build-icon"
                                              {% if prj.house == 2 %}src="{% static "img/build-icon2.png" %}"
                                              {% elif prj.house == 3 %}src="{% static "img/build-icon3.png" %}"
                                              {% elif prj.house == 4 %}src="{% static "img/build-icon4.png" %}"
                                              {% elif prj.house == 5 %}src="{% static "img/build-icon5.png" %}"
                                              {% else %}src="{% static "img/build-icon1.png" %}"{% endif %}
                                          >{{ prj.square }} кв.м.</span>
              <span class="katalog-price">{{ prj.price }} ₽</span>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
    <div class="view-all-wrapper">
      <a href="{% url 'project_list' %}?tech=1&search=1&vid=0&pmin=0&pmax=5000000&smin=0&smax=500" class="view-all">смотреть все</a>
    </div>
  </div><!-- /.our-project -->



  {% comment %}
  <div class="container">
    <div class="row">
      <div class="col-sm-9">
        <ol class="breadcrumb">
          <li class="active">Главная</li>
        </ol>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <a title="termo" href="#"><img class="img-responsive imgpopup" src="{% static "termopaneli-5.jpg" %}"></a>
      </div>
      <div class="col-lg-6">
        <h1 class="blog-post-title">Дома из термопанелей</h1>
        <p>Одним из таких материалов являются комбинированные термопанели (КТП). Это инновационный стройматериал,
          разработанный нашей компанией «Стройка СИП», но прежде чем рассказать о нем, хотим пару слов сказать о том,
          что послужило причиной его создания – это позволит людям, не имеющим глубоких познаний в строительной сфере,
          понять, чего ожидать от материала, и каковы его основные достоинства. Итак, после того, как стали появляться
          жалобы на качество вышедших на строительный рынок лет 10 назад СИП-панелей, создающих в помещении парниковый
          эффект и плохой звукоизоляцией, мы отнеслись к этому с должным вниманием и задумались над созданием материала,
          сочетающего достоинства СИП-панелей и исключающего их недостатки.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-9">
        <h2>Что представляют собой КТП и из чего они сделаны</h2>
        <p>КТП или комбинированные термопанели – это усовершенствованные СИП-панели, применяемые в строительстве
          каркасных домов, в которых, в отличие от СИП-панелей, используются материалы, оптимально соответствующие
          назначению дома или конкретного помещения, замыслу архитектора, проекту, схеме расположения инженерных
          коммуникаций, способу отделки, а также уровню санитарной и пожарной безопасности.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3">
        <a title="termo" href="#"><img class="img-responsive thumbnail imgpopup" src="{% static "termopaneli-4.jpg" %}"></a>
      </div>
      <div class="col-lg-3">
        <a title="termo" href="#"><img class="img-responsive thumbnail imgpopup" src="{% static "termopaneli-6.jpg" %}"></a>
      </div>
      <div class="col-lg-3">
        <a title="termo" href="#"><img class="img-responsive thumbnail imgpopup" src="{% static "termopaneli-7.jpg" %}"></a>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-9">
        <h2>
          Что мы предлагаем:
        </h2>
        <ol>
          <li>Инновационный утеплитель HOTROCK, отличающийся высокими экологическими, звуко- и теплоизоляционными
            характеристиками, а также высоким классом пожаробезопасности, что позволяет использовать его в конструкциях,
            расположенных рядом с поверхностями, рабочая температура нагревания которых составляет около 220о (печи,
            камины). HOTROCK фиксируется посредством клея между несущими листами КТП, исключая образование пустот,
            проседание утеплителя, кроме того, данный материал устойчив к воздействию грызунов. По сути HOTROCK –
            современная альтернатива минеральной базальтовой вате, широко применяемой в строительстве в качестве
            утеплителя.
          </li>
          <li>Применение в конструкции панелей плитную минвату вместо ламельной исключает образование пустот и снижает
            трудозатраты в процессе производства. Необходимая жесткость конструкции панелей достигается за счет высокой
            плотности минваты (не менее 50кг/м3), в стеновых КТП используется минвата, плотностью 50-75кг/м3,
            отличающаяся оптимальными тепло- и звукоизоляционными показателями.
          </li>
          <li>Листовым материалом КТП может служить OSB-плиты, плиты GreenBoard, а иногда – ЦСП. Их применение
            обусловлено местом монтажа панели. Например, для межэтажных и цокольных перекрытий применяются OSB-плиты,
            для стен и перегородок лучше использовать более жесткие GreenBoard, ЦСП отличается высокой адгезией к
            клеящим составам, благодаря чему плитку можно клеить прямо на КТП, не монтируя предварительно гипсокартон
            (исключение – помещения с температурными перепадами – санузел, ванная комната).
          </li>
          <li>Более плотный и эффективный утеплитель и более тяжелый листовой материал делают КТП гораздо надежней
            СИП-панелей, но учитывая больший вес, мы уменьшили ширину КТП, сделав ее 625мм (ширина СИП-1250мм). Это дало
            еще ряд преимуществ:
            <ul>
              <li>повышает жесткость всей конструкции, прочность перегородок и перекрытий;</li>
              <li>стыковка КТП посредством «замка» исключает появление мостиков холода;</li>
              <li>упрощает монтаж.</li>
            </ul>
            Кроме того, на одном объекте можно сочетать все применяемые материалы, руководствуясь участками монтажа КТП
            и назначением помещений.
          </li>
          <li>Производим также односторонние КТП или ОКТП для удешевления строительства. Такие плиты используются как
            для наружных стен, так и для перегородок внутри помещений, а проблемы тепло- и звукоизоляции решаются за
            счет дальнейших отделочных работ.
            <p>Таким образом, наш инновационный усовершенствованный стройматериал обладает всеми достоинствами каркасных
              СИП-панелей и при этом полностью нивелирует их недостатки.</p>
          </li>
        </ol>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-5">
        <p>Таким образом, наш инновационный усовершенствованный стройматериал обладает всеми достоинствами каркасных
          СИП-панелей и при этом полностью нивелирует их недостатки.</p>
        <p><b>Описание патента</b></p>
      </div>
      <div class="col-lg-4">
        <a title="termo" href="#"><img class="img-responsive thumbnail imgpopup" src="{% static "patent-paneli.jpg" %}"></a>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-9">
        <p>Если у вас появились вопросы, вы хотите сделать предварительный проект и просчитать стоимость – добро
          пожаловать в нашу компанию «Стройка СИП»! Мы же, в свою очередь, гарантируем, что Вы на 100% останетесь
          довольны результатом.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3">
        <a title="termo" href="#"><img class="img-responsive thumbnail imgpopup" src="{% static "termopaneli-1.jpg" %}"></a>
      </div>
      <div class="col-lg-3">
        <a title="termo" href="#"><img class="img-responsive thumbnail imgpopup" src="{% static "termopaneli-2.jpg" %}"></a>
      </div>
      <div class="col-lg-3">
        <a title="termo" href="#"><img class="img-responsive thumbnail imgpopup" src="{% static "termopaneli-9.jpg" %}"></a>
      </div>
    </div>

    <div class="container">
      <div class="row">
        {% for prj in projects %}
          <div class="col-lg-3">
            <a href="{{ prj.get_absolute_url }}">
              {% thumbnail prj.img "300x200" crop="80% top" format="PNG" as im %}
                <img class="img-responsive" src="{{ im.url }}" alt="{{ im.title }}">
              {% endthumbnail %}
              <h4 class="text-center">{{ prj.name|title }}</h4>
            </a>
          </div>
        {% endfor %}
      </div>
    </div>


  </div>


  <div tabindex="-1" class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">

        </div>
      </div>
    </div>
  </div>

  <script>
      $(document).ready(function () {
          $('.imgpopup').click(function () {
              $('.modal-body').empty();
              var title = $(this).parent('a').attr("title");
              $($(this).parents('div').html()).appendTo('.modal-body');
              $('#myModal').modal({show: true});
          });
      });
  </script>{% endcomment %}
{% endblock %}