{% extends "base.html" %}
{% load staticfiles %}
{% load thumbnail %}

{% block title %}Сертификаты{% endblock %}
{% block content %}
  <ol class="breadcrumbs">
    <li><a href="\">Главная</a></li>
    <li class="active">Сертификаты</li>
  </ol>

  <div class="content-page clearfix">
    <div class="gallery-div col-lg-4 col-md-4 col-sm-6 col-xs-12">
      <div class="gallery-stage">
        <a class="gallery" href="{% static "content/Certif_01.jpg" %}">
          {% with url_path=MEDIA_URL|add:"content/Certif_01.jpg" %}
            {% thumbnail url_path "350x500" crop="center" format="PNG" as im %}
              <img class="img-responsive img-thumbnail content-img" src="{{ im.url }}" alt="{{ im.url }}">
            {% endthumbnail %}
          {% endwith %}
        </a>
      </div>
    </div>
    <div class="gallery-div col-lg-4 col-md-4 col-sm-6 col-xs-12">
      <div class="gallery-stage">
        <a class="gallery" href="{% static "content/Certif_02.jpg" %}">
          {% with url_path=MEDIA_URL|add:"content/Certif_02.jpg" %}
            {% thumbnail url_path "350x500" crop="center" format="PNG" as im %}
              <img class="img-responsive img-thumbnail content-img" src="{{ im.url }}" alt="{{ im.url }}">
            {% endthumbnail %}
          {% endwith %}
        </a>
      </div>
    </div>
    <div class="gallery-div col-lg-4 col-md-4 col-sm-6 col-xs-12">
      <div class="gallery-stage">
        <a class="gallery" href="{% static "content/Certif_03.jpg" %}">
          {% with url_path=MEDIA_URL|add:"content/Certif_03.jpg" %}
            {% thumbnail url_path "350x500" crop="center" format="PNG" as im %}
              <img class="img-responsive img-thumbnail content-img" src="{{ im.url }}" alt="{{ im.url }}">
            {% endthumbnail %}
          {% endwith %}
        </a>
      </div>
    </div>
    <div class="gallery-div col-lg-4 col-md-4 col-sm-6 col-xs-12">
      <div class="gallery-stage">
        <a class="gallery" href="{% static "content/Certif_04.jpg" %}">
          {% with url_path=MEDIA_URL|add:"content/Certif_04.jpg" %}
            {% thumbnail url_path "350x500" crop="center" format="PNG" as im %}
              <img class="img-responsive img-thumbnail content-img" src="{{ im.url }}" alt="{{ im.url }}">
            {% endthumbnail %}
          {% endwith %}
        </a>
      </div>
    </div>
    <div class="gallery-div col-lg-4 col-md-4 col-sm-6 col-xs-12">
      <div class="gallery-stage">
        <a class="gallery" href="{% static "content/Certif_05.jpg" %}">
          {% with url_path=MEDIA_URL|add:"content/Certif_05.jpg" %}
            {% thumbnail url_path "350x500" crop="center" format="PNG" as im %}
              <img class="img-responsive img-thumbnail content-img" src="{{ im.url }}" alt="{{ im.url }}">
            {% endthumbnail %}
          {% endwith %}
        </a>
      </div>
    </div>
    <div class="gallery-div col-lg-4 col-md-4 col-sm-6 col-xs-12">
      <div class="gallery-stage">
        <a class="gallery" href="{% static "content/Certif_06.jpg" %}">
          {% with url_path=MEDIA_URL|add:"content/Certif_06.jpg" %}
            {% thumbnail url_path "350x500" crop="center" format="PNG" as im %}
              <img class="img-responsive img-thumbnail content-img" src="{{ im.url }}" alt="{{ im.url }}">
            {% endthumbnail %}
          {% endwith %}
        </a>
      </div>
    </div>
    <div class="gallery-div col-lg-4 col-md-4 col-sm-6 col-xs-12">
      <div class="gallery-stage">
        <a class="gallery" href="{% static "content/Certif_07.jpg" %}">
          {% with url_path=MEDIA_URL|add:"content/Certif_07.jpg" %}
            {% thumbnail url_path "350x500" crop="center" format="PNG" as im %}
              <img class="img-responsive img-thumbnail content-img" src="{{ im.url }}" alt="{{ im.url }}">
            {% endthumbnail %}
          {% endwith %}
        </a>
      </div>
    </div>
    <div class="gallery-div col-lg-4 col-md-4 col-sm-6 col-xs-12">
      <div class="gallery-stage">
        <a class="gallery" href="{% static "content/Certif_08.jpg" %}">
          {% with url_path=MEDIA_URL|add:"content/Certif_08.jpg" %}
            {% thumbnail url_path "350x500" crop="center" format="PNG" as im %}
              <img class="img-responsive img-thumbnail content-img" src="{{ im.url }}" alt="{{ im.url }}">
            {% endthumbnail %}
          {% endwith %}
        </a>
      </div>
    </div>
  </div> <!-- /.content-article -->
{% endblock %}