{% extends "base.html" %}
{% load staticfiles %}
{% load thumbnail %}

{% block content %}
  <ol class="breadcrumbs">
    <li><a href="\">Главная</a></li>
    <li class="active">Галерея - Фундаменты</li>
  </ol>

  <div class="content-page clearfix">
    <h2>Свайно-винтовой фундамент</h2>
    <div class="clearfix">
      <div class="gallery-div col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="gallery-stage">
          <a class="gallery" href="{% static "content/FundSv_01.jpg" %}">
            {% with url_path=MEDIA_URL|add:"content/FundSv_01.jpg" %}
              {% thumbnail url_path "300x225" crop="center" format="PNG" as im %}
                <img class="img-responsive content-img" src="{{ im.url }}" alt="{{ im.url }}">
              {% endthumbnail %}
            {% endwith %}
          </a>
        </div>
      </div>
      <div class="gallery-div col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="gallery-stage">
          <a class="gallery" href="{% static "content/FundSv_02.jpg" %}">
            {% with url_path=MEDIA_URL|add:"content/FundSv_02.jpg" %}
              {% thumbnail url_path "300x225" crop="center" format="PNG" as im %}
                <img class="img-responsive content-img" src="{{ im.url }}" alt="{{ im.url }}">
              {% endthumbnail %}
            {% endwith %}
          </a>
        </div>
      </div>
      <div class="gallery-div col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="gallery-stage">
          <a class="gallery" href="{% static "content/FundSv_03.jpg" %}">
            {% with url_path=MEDIA_URL|add:"content/FundSv_03.jpg" %}
              {% thumbnail url_path "300x225" crop="center" format="PNG" as im %}
                <img class="img-responsive content-img" src="{{ im.url }}" alt="{{ im.url }}">
              {% endthumbnail %}
            {% endwith %}
          </a>
        </div>
      </div>
      <div class="gallery-div col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="gallery-stage">
          <a class="gallery" href="{% static "content/FundSv_04.jpg" %}">
            {% with url_path=MEDIA_URL|add:"content/FundSv_04.jpg" %}
              {% thumbnail url_path "300x225" crop="center" format="PNG" as im %}
                <img class="img-responsive content-img" src="{{ im.url }}" alt="{{ im.url }}">
              {% endthumbnail %}
            {% endwith %}
          </a>
        </div>
      </div>
      <div class="gallery-div col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="gallery-stage">
          <a class="gallery" href="{% static "content/FundSv_05.jpg" %}">
            {% with url_path=MEDIA_URL|add:"content/FundSv_05.jpg" %}
              {% thumbnail url_path "300x225" crop="center" format="PNG" as im %}
                <img class="img-responsive content-img" src="{{ im.url }}" alt="{{ im.url }}">
              {% endthumbnail %}
            {% endwith %}
          </a>
        </div>
      </div>
      <div class="gallery-div col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="gallery-stage">
          <a class="gallery" href="{% static "content/FundSv_06.jpg" %}">
            {% with url_path=MEDIA_URL|add:"content/FundSv_06.jpg" %}
              {% thumbnail url_path "300x225" crop="center" format="PNG" as im %}
                <img class="img-responsive content-img" src="{{ im.url }}" alt="{{ im.url }}">
              {% endthumbnail %}
            {% endwith %}
          </a>
        </div>
      </div>
      <div class="gallery-div col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="gallery-stage">
          <a class="gallery" href="{% static "content/FundSv_07.jpg" %}">
            {% with url_path=MEDIA_URL|add:"content/FundSv_07.jpg" %}
              {% thumbnail url_path "300x225" crop="center" format="PNG" as im %}
                <img class="img-responsive content-img" src="{{ im.url }}" alt="{{ im.url }}">
              {% endthumbnail %}
            {% endwith %}
          </a>
        </div>
      </div>
      <div class="gallery-div col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="gallery-stage">
          <a class="gallery" href="{% static "content/FundSv_08.jpg" %}">
            {% with url_path=MEDIA_URL|add:"content/FundSv_08.jpg" %}
              {% thumbnail url_path "300x225" crop="center" format="PNG" as im %}
                <img class="img-responsive content-img" src="{{ im.url }}" alt="{{ im.url }}">
              {% endthumbnail %}
            {% endwith %}
          </a>
        </div>
      </div>
      <div class="gallery-div col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="gallery-stage">
          <a class="gallery" href="{% static "content/FundSv_09.jpg" %}">
            {% with url_path=MEDIA_URL|add:"content/FundSv_09.jpg" %}
              {% thumbnail url_path "300x225" crop="center" format="PNG" as im %}
                <img class="img-responsive content-img" src="{{ im.url }}" alt="{{ im.url }}">
              {% endthumbnail %}
            {% endwith %}
          </a>
        </div>
      </div>
      <div class="gallery-div col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="gallery-stage">
          <a class="gallery" href="{% static "content/FundSv_10.jpg" %}">
            {% with url_path=MEDIA_URL|add:"content/FundSv_10.jpg" %}
              {% thumbnail url_path "300x225" crop="center" format="PNG" as im %}
                <img class="img-responsive content-img" src="{{ im.url }}" alt="{{ im.url }}">
              {% endthumbnail %}
            {% endwith %}
          </a>
        </div>
      </div>
      <div class="gallery-div col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="gallery-stage">
          <a class="gallery" href="{% static "content/FundSv_11.jpg" %}">
            {% with url_path=MEDIA_URL|add:"content/FundSv_11.jpg" %}
              {% thumbnail url_path "300x225" crop="center" format="PNG" as im %}
                <img class="img-responsive content-img" src="{{ im.url }}" alt="{{ im.url }}">
              {% endthumbnail %}
            {% endwith %}
          </a>
        </div>
      </div>
      <div class="gallery-div col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="gallery-stage">
          <a class="gallery" href="{% static "content/FundSv_12.jpg" %}">
            {% with url_path=MEDIA_URL|add:"content/FundSv_12.jpg" %}
              {% thumbnail url_path "300x225" crop="center" format="PNG" as im %}
                <img class="img-responsive content-img" src="{{ im.url }}" alt="{{ im.url }}">
              {% endthumbnail %}
            {% endwith %}
          </a>
        </div>
      </div>
      <div class="gallery-div col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="gallery-stage">
          <a class="gallery" href="{% static "content/FundSv_13.jpg" %}">
            {% with url_path=MEDIA_URL|add:"content/FundSv_13.jpg" %}
              {% thumbnail url_path "300x225" crop="center" format="PNG" as im %}
                <img class="img-responsive content-img" src="{{ im.url }}" alt="{{ im.url }}">
              {% endthumbnail %}
            {% endwith %}
          </a>
        </div>
      </div>
      <div class="gallery-div col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="gallery-stage">
          <a class="gallery" href="{% static "content/FundSv_14.jpg" %}">
            {% with url_path=MEDIA_URL|add:"content/FundSv_14.jpg" %}
              {% thumbnail url_path "300x225" crop="center" format="PNG" as im %}
                <img class="img-responsive content-img" src="{{ im.url }}" alt="{{ im.url }}">
              {% endthumbnail %}
            {% endwith %}
          </a>
        </div>
      </div>
      <div class="gallery-div col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="gallery-stage">
          <a class="gallery" href="{% static "content/FundSv_15.jpg" %}">
            {% with url_path=MEDIA_URL|add:"content/FundSv_15.jpg" %}
              {% thumbnail url_path "300x225" crop="center" format="PNG" as im %}
                <img class="img-responsive content-img" src="{{ im.url }}" alt="{{ im.url }}">
              {% endthumbnail %}
            {% endwith %}
          </a>
        </div>
      </div>
      <div class="gallery-div col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="gallery-stage">
          <a class="gallery" href="{% static "content/FundSv_16.jpg" %}">
            {% with url_path=MEDIA_URL|add:"content/FundSv_16.jpg" %}
              {% thumbnail url_path "300x225" crop="center" format="PNG" as im %}
                <img class="img-responsive content-img" src="{{ im.url }}" alt="{{ im.url }}">
              {% endthumbnail %}
            {% endwith %}
          </a>
        </div>
      </div>
      <div class="gallery-div col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="gallery-stage">
          <a class="gallery" href="{% static "content/FundSv_17.jpg" %}">
            {% with url_path=MEDIA_URL|add:"content/FundSv_17.jpg" %}
              {% thumbnail url_path "300x225" crop="center" format="PNG" as im %}
                <img class="img-responsive content-img" src="{{ im.url }}" alt="{{ im.url }}">
              {% endthumbnail %}
            {% endwith %}
          </a>
        </div>
      </div>
      <div class="gallery-div col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="gallery-stage">
          <a class="gallery" href="{% static "content/FundSv_18.jpg" %}">
            {% with url_path=MEDIA_URL|add:"content/FundSv_18.jpg" %}
              {% thumbnail url_path "300x225" crop="center" format="PNG" as im %}
                <img class="img-responsive content-img" src="{{ im.url }}" alt="{{ im.url }}">
              {% endthumbnail %}
            {% endwith %}
          </a>
        </div>
      </div>
    </div>
    <h2>Фундамент ТИСЭ</h2>
    <h4>Московская область, поселок Гжель</h4>
    <div class="clearfix">
      <div class="gallery-div col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="gallery-stage">
          <a class="gallery" href="{% static "content/FundTs_01.jpg" %}">
            {% with url_path=MEDIA_URL|add:"content/FundTs_01.jpg" %}
              {% thumbnail url_path "300x225" crop="center" format="PNG" as im %}
                <img class="img-responsive content-img" src="{{ im.url }}" alt="{{ im.url }}">
              {% endthumbnail %}
            {% endwith %}
          </a>
        </div>
      </div>
      <div class="gallery-div col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="gallery-stage">
          <a class="gallery" href="{% static "content/FundTs_02.jpg" %}">
            {% with url_path=MEDIA_URL|add:"content/FundTs_02.jpg" %}
              {% thumbnail url_path "300x225" crop="center" format="PNG" as im %}
                <img class="img-responsive content-img" src="{{ im.url }}" alt="{{ im.url }}">
              {% endthumbnail %}
            {% endwith %}
          </a>
        </div>
      </div>
      <div class="gallery-div col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="gallery-stage">
          <a class="gallery" href="{% static "content/FundTs_03.jpg" %}">
            {% with url_path=MEDIA_URL|add:"content/FundTs_03.jpg" %}
              {% thumbnail url_path "300x225" crop="center" format="PNG" as im %}
                <img class="img-responsive content-img" src="{{ im.url }}" alt="{{ im.url }}">
              {% endthumbnail %}
            {% endwith %}
          </a>
        </div>
      </div>
      <div class="gallery-div col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="gallery-stage">
          <a class="gallery" href="{% static "content/FundTs_04.jpg" %}">
            {% with url_path=MEDIA_URL|add:"content/FundTs_04.jpg" %}
              {% thumbnail url_path "300x225" crop="center" format="PNG" as im %}
                <img class="img-responsive content-img" src="{{ im.url }}" alt="{{ im.url }}">
              {% endthumbnail %}
            {% endwith %}
          </a>
        </div>
      </div>
      <div class="gallery-div col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="gallery-stage">
          <a class="gallery" href="{% static "content/FundTs_05.jpg" %}">
            {% with url_path=MEDIA_URL|add:"content/FundTs_05.jpg" %}
              {% thumbnail url_path "300x225" crop="center" format="PNG" as im %}
                <img class="img-responsive content-img" src="{{ im.url }}" alt="{{ im.url }}">
              {% endthumbnail %}
            {% endwith %}
          </a>
        </div>
      </div>
      <div class="gallery-div col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="gallery-stage">
          <a class="gallery" href="{% static "content/FundTs_06.jpg" %}">
            {% with url_path=MEDIA_URL|add:"content/FundTs_06.jpg" %}
              {% thumbnail url_path "300x225" crop="center" format="PNG" as im %}
                <img class="img-responsive content-img" src="{{ im.url }}" alt="{{ im.url }}">
              {% endthumbnail %}
            {% endwith %}
          </a>
        </div>
      </div>
      <div class="gallery-div col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="gallery-stage">
          <a class="gallery" href="{% static "content/FundTs_07.jpg" %}">
            {% with url_path=MEDIA_URL|add:"content/FundTs_07.jpg" %}
              {% thumbnail url_path "300x225" crop="center" format="PNG" as im %}
                <img class="img-responsive content-img" src="{{ im.url }}" alt="{{ im.url }}">
              {% endthumbnail %}
            {% endwith %}
          </a>
        </div>
      </div>
      <div class="gallery-div col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="gallery-stage">
          <a class="gallery" href="{% static "content/FundTs_08.jpg" %}">
            {% with url_path=MEDIA_URL|add:"content/FundTs_08.jpg" %}
              {% thumbnail url_path "300x225" crop="center" format="PNG" as im %}
                <img class="img-responsive content-img" src="{{ im.url }}" alt="{{ im.url }}">
              {% endthumbnail %}
            {% endwith %}
          </a>
        </div>
      </div>
      <div class="gallery-div col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="gallery-stage">
          <a class="gallery" href="{% static "content/FundTs_09.jpg" %}">
            {% with url_path=MEDIA_URL|add:"content/FundTs_09.jpg" %}
              {% thumbnail url_path "300x225" crop="center" format="PNG" as im %}
                <img class="img-responsive content-img" src="{{ im.url }}" alt="{{ im.url }}">
              {% endthumbnail %}
            {% endwith %}
          </a>
        </div>
      </div>
    </div>
    <h4>Пензенская область, Пензенский район, село Малая Валяевка</h4>
    <div class="clearfix">
      <div class="gallery-div col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="gallery-stage">
          <a class="gallery" href="{% static "content/FundTs_11.jpg" %}">
            {% with url_path=MEDIA_URL|add:"content/FundTs_11.jpg" %}
              {% thumbnail url_path "300x225" crop="center" format="PNG" as im %}
                <img class="img-responsive content-img" src="{{ im.url }}" alt="{{ im.url }}">
              {% endthumbnail %}
            {% endwith %}
          </a>
        </div>
      </div>
      <div class="gallery-div col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="gallery-stage">
          <a class="gallery" href="{% static "content/FundTs_12.jpg" %}">
            {% with url_path=MEDIA_URL|add:"content/FundTs_12.jpg" %}
              {% thumbnail url_path "300x225" crop="center" format="PNG" as im %}
                <img class="img-responsive content-img" src="{{ im.url }}" alt="{{ im.url }}">
              {% endthumbnail %}
            {% endwith %}
          </a>
        </div>
      </div>
      <div class="gallery-div col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="gallery-stage">
          <a class="gallery" href="{% static "content/FundTs_13.jpg" %}">
            {% with url_path=MEDIA_URL|add:"content/FundTs_13.jpg" %}
              {% thumbnail url_path "300x225" crop="center" format="PNG" as im %}
                <img class="img-responsive content-img" src="{{ im.url }}" alt="{{ im.url }}">
              {% endthumbnail %}
            {% endwith %}
          </a>
        </div>
      </div>
      <div class="gallery-div col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="gallery-stage">
          <a class="gallery" href="{% static "content/FundTs_14.jpg" %}">
            {% with url_path=MEDIA_URL|add:"content/FundTs_14.jpg" %}
              {% thumbnail url_path "300x225" crop="center" format="PNG" as im %}
                <img class="img-responsive content-img" src="{{ im.url }}" alt="{{ im.url }}">
              {% endthumbnail %}
            {% endwith %}
          </a>
        </div>
      </div>
      <div class="gallery-div col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="gallery-stage">
          <a class="gallery" href="{% static "content/FundTs_15.jpg" %}">
            {% with url_path=MEDIA_URL|add:"content/FundTs_15.jpg" %}
              {% thumbnail url_path "300x225" crop="center" format="PNG" as im %}
                <img class="img-responsive content-img" src="{{ im.url }}" alt="{{ im.url }}">
              {% endthumbnail %}
            {% endwith %}
          </a>
        </div>
      </div>
      <div class="gallery-div col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="gallery-stage">
          <a class="gallery" href="{% static "content/FundTs_16.jpg" %}">
            {% with url_path=MEDIA_URL|add:"content/FundTs_16.jpg" %}
              {% thumbnail url_path "300x225" crop="center" format="PNG" as im %}
                <img class="img-responsive content-img" src="{{ im.url }}" alt="{{ im.url }}">
              {% endthumbnail %}
            {% endwith %}
          </a>
        </div>
      </div>
    </div>

    <h2>Ленточный фундамент</h2>
    <div class="clearfix">
      <div class="gallery-div col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="gallery-stage">
          <a class="gallery" href="{% static "content/FundLn_01.jpg" %}">
            {% with url_path=MEDIA_URL|add:"content/FundLn_01.jpg" %}
              {% thumbnail url_path "300x225" crop="center" format="PNG" as im %}
                <img class="img-responsive content-img" src="{{ im.url }}" alt="{{ im.url }}">
              {% endthumbnail %}
            {% endwith %}
          </a>
        </div>
      </div>
      <div class="gallery-div col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="gallery-stage">
          <a class="gallery" href="{% static "content/FundLn_02.jpg" %}">
            {% with url_path=MEDIA_URL|add:"content/FundLn_02.jpg" %}
              {% thumbnail url_path "300x225" crop="center" format="PNG" as im %}
                <img class="img-responsive content-img" src="{{ im.url }}" alt="{{ im.url }}">
              {% endthumbnail %}
            {% endwith %}
          </a>
        </div>
      </div>
      <div class="gallery-div col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="gallery-stage">
          <a class="gallery" href="{% static "content/FundLn_03.jpg" %}">
            {% with url_path=MEDIA_URL|add:"content/FundLn_03.jpg" %}
              {% thumbnail url_path "300x225" crop="center" format="PNG" as im %}
                <img class="img-responsive content-img" src="{{ im.url }}" alt="{{ im.url }}">
              {% endthumbnail %}
            {% endwith %}
          </a>
        </div>
      </div>
      <div class="gallery-div col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="gallery-stage">
          <a class="gallery" href="{% static "content/FundLn_04.jpg" %}">
            {% with url_path=MEDIA_URL|add:"content/FundLn_04.jpg" %}
              {% thumbnail url_path "300x225" crop="center" format="PNG" as im %}
                <img class="img-responsive content-img" src="{{ im.url }}" alt="{{ im.url }}">
              {% endthumbnail %}
            {% endwith %}
          </a>
        </div>
      </div>
      <div class="gallery-div col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="gallery-stage">
          <a class="gallery" href="{% static "content/FundLn_05.jpg" %}">
            {% with url_path=MEDIA_URL|add:"content/FundLn_05.jpg" %}
              {% thumbnail url_path "300x225" crop="center" format="PNG" as im %}
                <img class="img-responsive content-img" src="{{ im.url }}" alt="{{ im.url }}">
              {% endthumbnail %}
            {% endwith %}
          </a>
        </div>
      </div>
      <div class="gallery-div col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="gallery-stage">
          <a class="gallery" href="{% static "content/FundLn_06.jpg" %}">
            {% with url_path=MEDIA_URL|add:"content/FundLn_06.jpg" %}
              {% thumbnail url_path "300x225" crop="center" format="PNG" as im %}
                <img class="img-responsive content-img" src="{{ im.url }}" alt="{{ im.url }}">
              {% endthumbnail %}
            {% endwith %}
          </a>
        </div>
      </div>
      <div class="gallery-div col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="gallery-stage">
          <a class="gallery" href="{% static "content/FundLn_07.jpg" %}">
            {% with url_path=MEDIA_URL|add:"content/FundLn_07.jpg" %}
              {% thumbnail url_path "300x225" crop="center" format="PNG" as im %}
                <img class="img-responsive content-img" src="{{ im.url }}" alt="{{ im.url }}">
              {% endthumbnail %}
            {% endwith %}
          </a>
        </div>
      </div>
      <div class="gallery-div col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="gallery-stage">
          <a class="gallery" href="{% static "content/FundLn_08.jpg" %}">
            {% with url_path=MEDIA_URL|add:"content/FundLn_08.jpg" %}
              {% thumbnail url_path "300x225" crop="center" format="PNG" as im %}
                <img class="img-responsive content-img" src="{{ im.url }}" alt="{{ im.url }}">
              {% endthumbnail %}
            {% endwith %}
          </a>
        </div>
      </div>
    </div>

    <h2>Фундамент из блоков ФБС</h2>
    <div class="clearfix">
      <div class="gallery-div col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="gallery-stage">
          <a class="gallery" href="{% static "content/FundFbs_01.jpg" %}">
            {% with url_path=MEDIA_URL|add:"content/FundFbs_01.jpg" %}
              {% thumbnail url_path "300x225" crop="center" format="PNG" as im %}
                <img class="img-responsive content-img" src="{{ im.url }}" alt="{{ im.url }}">
              {% endthumbnail %}
            {% endwith %}
          </a>
        </div>
      </div>
      <div class="gallery-div col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="gallery-stage">
          <a class="gallery" href="{% static "content/FundFbs_02.jpg" %}">
            {% with url_path=MEDIA_URL|add:"content/FundFbs_02.jpg" %}
              {% thumbnail url_path "300x225" crop="center" format="PNG" as im %}
                <img class="img-responsive content-img" src="{{ im.url }}" alt="{{ im.url }}">
              {% endthumbnail %}
            {% endwith %}
          </a>
        </div>
      </div>
      <div class="gallery-div col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="gallery-stage">
          <a class="gallery" href="{% static "content/FundFbs_03.jpg" %}">
            {% with url_path=MEDIA_URL|add:"content/FundFbs_03.jpg" %}
              {% thumbnail url_path "300x225" crop="center" format="PNG" as im %}
                <img class="img-responsive content-img" src="{{ im.url }}" alt="{{ im.url }}">
              {% endthumbnail %}
            {% endwith %}
          </a>
        </div>
      </div>
      <div class="gallery-div col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="gallery-stage">
          <a class="gallery" href="{% static "content/FundFbs_04.jpg" %}">
            {% with url_path=MEDIA_URL|add:"content/FundFbs_04.jpg" %}
              {% thumbnail url_path "300x225" crop="center" format="PNG" as im %}
                <img class="img-responsive content-img" src="{{ im.url }}" alt="{{ im.url }}">
              {% endthumbnail %}
            {% endwith %}
          </a>
        </div>
      </div>
      <div class="gallery-div col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="gallery-stage">
          <a class="gallery" href="{% static "content/FundFbs_05.jpg" %}">
            {% with url_path=MEDIA_URL|add:"content/FundFbs_05.jpg" %}
              {% thumbnail url_path "300x225" crop="center" format="PNG" as im %}
                <img class="img-responsive content-img" src="{{ im.url }}" alt="{{ im.url }}">
              {% endthumbnail %}
            {% endwith %}
          </a>
        </div>
      </div>
      <div class="gallery-div col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="gallery-stage">
          <a class="gallery" href="{% static "content/FundFbs_06.jpg" %}">
            {% with url_path=MEDIA_URL|add:"content/FundFbs_06.jpg" %}
              {% thumbnail url_path "300x225" crop="center" format="PNG" as im %}
                <img class="img-responsive content-img" src="{{ im.url }}" alt="{{ im.url }}">
              {% endthumbnail %}
            {% endwith %}
          </a>
        </div>
      </div>
      <div class="gallery-div col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="gallery-stage">
          <a class="gallery" href="{% static "content/FundFbs_07.jpg" %}">
            {% with url_path=MEDIA_URL|add:"content/FundFbs_07.jpg" %}
              {% thumbnail url_path "300x225" crop="center" format="PNG" as im %}
                <img class="img-responsive content-img" src="{{ im.url }}" alt="{{ im.url }}">
              {% endthumbnail %}
            {% endwith %}
          </a>
        </div>
      </div>
      <div class="gallery-div col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="gallery-stage">
          <a class="gallery" href="{% static "content/FundFbs_08.jpg" %}">
            {% with url_path=MEDIA_URL|add:"content/FundFbs_08.jpg" %}
              {% thumbnail url_path "300x225" crop="center" format="PNG" as im %}
                <img class="img-responsive content-img" src="{{ im.url }}" alt="{{ im.url }}">
              {% endthumbnail %}
            {% endwith %}
          </a>
        </div>
      </div>
      <div class="gallery-div col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="gallery-stage">
          <a class="gallery" href="{% static "content/FundFbs_09.jpg" %}">
            {% with url_path=MEDIA_URL|add:"content/FundFbs_09.jpg" %}
              {% thumbnail url_path "300x225" crop="center" format="PNG" as im %}
                <img class="img-responsive content-img" src="{{ im.url }}" alt="{{ im.url }}">
              {% endthumbnail %}
            {% endwith %}
          </a>
        </div>
      </div>
    </div>


  </div> <!-- /.content-article -->
{% endblock %}