{% extends "base.html" %}
{% load staticfiles %}
{% load thumbnail %}

{% block content %}
  <form
    action="{% url 'project_list' %}" method="get">
    {{ search_form.as_table }}
    <button type="submit">Поиск</button>
  </form>
  <div class="container">
    <div class="row">
      <div class="col-sm-9">
        <div class="row">
          {% for prj in project_list %}
            <div class="col-sm-6 col-md-4">
              <a class="domlink" href="
                {% if request.GET.tech %}
                  {% url 'project_detail' prj.slug %}?tech={{request.GET.tech}}
                {% else %}
                  {% url 'project_detail' prj.slug %}?tech={{techfilter.pk}}
                {% endif %}
              ">
                {% thumbnail prj.img "262x175" crop="80% top" format="PNG" as im %}
                  <img class="img-responsive" src="{{ im.url }}" alt="{{ im.title }}">
                {% endthumbnail %}
                {{ prj.name|title }}
              </a>
              <div class="dom_char">
                <div class="square">
                  <i class="glyphicon glyphicon-home"></i>
                  {{ prj.square }}   кв.м.
                </div>
                <div class="pricedom">
                  <span class="label label-info price">
                    {% for kit in prj.kits.all %}
                      {% if request.GET.tech and kit.tech.pk == request.GET.tech %}
                        {{ kit.price1 }} р
                      {% elif kit.tech.pk == techfilter.pk%}
                        {{ kit.price1 }} р
                      {% endif %}
                    {% endfor %}
                  </span>
                </div>
              </div>
              <div class="margin-8"></div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}