{% extends "base.html" %}
{% load staticfiles %}
{% load core_tags %}
{% load thumbnail %}


{% block title %}
  {{ project.name|title }} - Проект
  {% if project.house == 1 %}
    одноэтажного дома
  {% elif project.house == 2 %}
    дома с мансардой
  {% elif project.house == 3 %}
    двухэтажного дома
  {% endif %}
  {{ size_na }}
  {% if request.GET.tech == '1' %}
    по технологии Термопанели
  {% elif request.GET.tech == '2' %}
    по СИП панельной технологии
  {% elif request.GET.tech == '3' %}
    по каркасной технологии
  {% endif %}
{% endblock %}
{% block meta_seo %}
  <meta name="keywords"
        content="проект дома, коттеджа, под ключ, цены, {% if project.house == 1 %}одноэтажного{% elif project.house == 2 %}с мансардой{% elif project.house == 3 %}двухэтажного, 2 этажа{% endif %}, {% if request.GET.tech == '1' %}из термопанелей{% elif request.GET.tech == '2' %}из СИП панелей{% elif request.GET.tech == '3' %}каркасного, каркасных{% endif %}, {{ size_na }}, {{ project.name }}"/>
  <meta name="description"
        content="Типовой проект {% if project.house == 1 %}одноэтажного коттеджа{% elif project.house == 2 %}дома с мансардой{% elif project.house == 3 %}двухэтажного коттеджа{% endif %} {{ project.name }} {% if request.GET.tech == '1' %}из Комбинированных Термопанелей{% elif request.GET.tech == '2' %}из СИП панелей{% elif request.GET.tech == '3' %}по каркасной технологии{% endif %}. Размер {{ size_na }} м. Под ключ, цены указаны для трех комплектаций.">
{% endblock %}
{% block content %}
  <ol class="breadcrumbs">
    <li><a href="{% url 'index_page' %}">Главная</a></li>
    <li><a href="{% url 'project_list' %}?tech={{ techfilter.pk }}&search=1&vid=0&pmin=0&pmax=5000000&smin=0&smax=500">Проекты</a>
    </li>
    {% if techfilter.pk == 2 %}
      <li><a
              href="{% url 'project_list' %}?tech={{ techfilter.pk }}&search=1&vid=0&pmin=0&pmax=5000000&smin=0&smax=500">Проекты
        из СИП панелей</a></li>
    {% elif techfilter.pk == 3 %}
      <li><a
              href="{% url 'project_list' %}?tech={{ techfilter.pk }}&search=1&vid=0&pmin=0&pmax=5000000&smin=0&smax=500">Проекты
        по каркасной технологии</a></li>
    {% else %}
      <li><a
              href="{% url 'project_list' %}?tech={{ techfilter.pk }}&search=1&vid=0&pmin=0&pmax=5000000&smin=0&smax=500">Проекты
        из Термопанелей</a></li>
    {% endif %}
    <li class="active">{{ project.name|title }}</li>
  </ol>

  <div class="katalog tovar clearfix">
    <div class="kat-title">
      {{ project.name|title }}
    </div>

    <div class="tovar-header clearfix">
      <a class="gallery tovar-foto" href="{{ project.img.url }}">
        {% thumbnail project.img "508x382" format="PNG" as im %}
          <img class="img-responsive" src="{{ im.url }}" alt="{{ project.name|title }}">
        {% endthumbnail %}
      </a>
      <div class="tovar-charact clearfix">
        <div class="name">{{ project.name|title }} <span>{{ project.size }}</span></div>
        <span class="title">Характеристики проекта:</span>
        <span>{{ project.description|linebreaks }}</span>
      </div>
    </div>

    <div class="kat-title">
      фасады
    </div>
    <div class="tovar-fasad clearfix">
      {% for ph in project.photos.all %}
        {% if ph.type == 1 %}
          <div class="col-md-3 col-xs-6">
            <a class="gallery" href="{{ ph.img.url }}">
              {% thumbnail ph.img "196x110" format="PNG" as im %}
                <img src="{{ im.url }}" alt="">
              {% endthumbnail %}
            </a>
          </div>
        {% endif %}
      {% endfor %}

    </div>
    <div class="kat-title">
      Планировка
    </div>
    <div class="plan clearfix">
      {% for ph in project.photos.all %}
        {% if ph.type > 1 %}
          <div class="col-md-6 col-xs-12">
            <a class="gallery" href="{{ ph.img.url }}">
              {% thumbnail ph.img "393" crop="center" format="PNG" as im %}
                <img class="img-responsive" src="{{ im.url }}" alt="">
              {% endthumbnail %}
            </a>
          </div>
        {% endif %}
      {% endfor %}
    </div>

    <div class="tovar-compl">
      <div class="item active">
        <span class="title">Комплектация "Комфорт"</span>
        <div class="compl-wrap" style="display: block;">
          <div>
            {{ kit.kit1|safe }}
          </div>
          <div class="price-and-button clearfix">
            <div class="text">
              <span>Цена проекта {{ project.name|title }} (комплектация «Комфорт»)</span>
              <span class="price">{{ kit.price1|intspace }} <span>&#8381;</span></span>
            </div>
            <button type="button" class="button" data-toggle="modal" data-target="#prjcalc" data-calc="1">
              <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> Заказать
            </button>
          </div>
        </div>
      </div>
      <div class="item">
        <span class="title">Комплектация "Престиж"</span>
        <div class="compl-wrap">
          <div>
            {{ kit.kit2|safe }}
          </div>
          <div class="price-and-button clearfix">
            <div class="text">
              <span>Цена проекта {{ project.name|title }} (комплектация «Престиж»)</span>
              <span class="price">{{ kit.price2|intspace }} <span>&#8381;</span></span>
            </div>
            <button type="button" class="button" data-toggle="modal" data-target="#prjcalc" data-calc="2">
              <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> Заказать
            </button>
          </div>
        </div>
      </div>
      <div class="item">
        <span class="title">Комплектация "Премиум"</span>
        <div class="compl-wrap">
          <div>
            {{ kit.kit3|safe }}
          </div>
          <div class="price-and-button clearfix">
            <div class="text">
              <span>Цена проекта {{ project.name|title }} (комплектация «Премиум»)</span>
              <span class="price">{{ kit.price3|intspace }} <span>&#8381;</span></span>
            </div>
            <button type="button" class="button" data-toggle="modal" data-target="#prjcalc" data-calc="2">
              <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> Заказать
            </button>
          </div>
        </div>
      </div>
    </div><!-- /.tovar-compl -->

    {% if project.builts.all %}
      <div class="content-page clearfix">
        <h2>Построенные нами дома по проекту {{ project.name|title }}:</h2>
        {% for built in project.builts.all %}
          <div class="gallery-div col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="gallery-stage">
              <a class="gallery" href="{{ built.img.url }}">
                {% thumbnail built.img "300x225" crop="center" format="PNG" as im %}
                  <img class="img-responsive content-img" src="{{ im.url }}" alt="">
                {% endthumbnail %}
              </a>
            </div>
          </div>
        {% endfor %}
      </div>
    {% endif %}

    <div class="content-page clearfix">
      <p style="text-align: center"><b>Любую из представленных выше комплектаций мы можем изменить по Вашему
        желанию. А также изменить планировку дома и увеличить или уменьшить площадь.</b></p>
      <h2>Цены на проект <b>{{ project.name }}</b> по другим технологиям:</h2>
      <table class="table table-hover comp-kit">
        <tr>
          <th>Технология</th>
          <th>Комфорт</th>
          <th>Престиж</th>
          <th>Премиум</th>
          <th></th>
        </tr>
        {% for ckit in compkit %}
          <tr>
            <td class="tech-title">{{ ckit.tech.mnemo|upper }}</td>
            <td class="comp-price"><b>{{ ckit.price1|intspace }}</b> ₽</td>
            <td class="comp-price"><b>{{ ckit.price2|intspace }}</b> ₽</td>
            <td class="comp-price"><b>{{ ckit.price3|intspace }}</b> ₽</td>
            <td class="comp-link"><a href="{% url 'project_detail' project.slug %}?tech={{ ckit.tech.pk }}">
              Посмотреть
            </a></td>
          </tr>
        {% endfor %}
      </table>
    </div>
  </div>

  <div class="modal" id="prjcalc">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title">Заказать проект <b>{{ project.name|title }}</b> <span class="badge"
                                                                                        style="background-color: #468847;">{{ techfilter.mnemo }}</span>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </h3>
        </div>
        {% get_prjc_form as calc_form %}
        <form id="prjcalc_form" action="{% url 'thanks_prj' %}" method="post" enctype="multipart/form-data">
          {% csrf_token %}

          <div class="modal-body clearfix">
            <div id="{{ calc_form.fio.name }}" class="fieldWrapper form-group">
              <label for="{{ calc_form.fio.id_for_label }}">{{ calc_form.fio.label }}:</label>
              {{ calc_form.fio }}
            </div>
            <div id="{{ calc_form.email.name }}" class="fieldWrapper form-group">
              <label for="{{ calc_form.email.id_for_label }}">{{ calc_form.email.label }}:</label>
              {{ calc_form.email }}
            </div>
            <div id="{{ calc_form.phone.name }}" class="fieldWrapper form-group">
              <label for="{{ calc_form.phone.id_for_label }}">{{ calc_form.phone.label }}:</label>
              {{ calc_form.phone }}
            </div>
            <div id="{{ calc_form.note.name }}" class="fieldWrapper form-group">
              <label for="{{ calc_form.note.id_for_label }}">{{ calc_form.note.label }}:</label>
              {{ calc_form.note }}
            </div>
            <div id="{{ calc_form.file.name }}" class="fieldWrapper form-group">
              <label for="{{ calc_form.file.id_for_label }}">{{ calc_form.file.label }}:</label>
              {{ calc_form.file }}
            </div>
            <input type="hidden" name="{{ calc_form.kit.name }}" id="{{ calc_form.kit.id_for_label }}"
                   value="{{ kit.pk }}">
            <input type="hidden" name="{{ calc_form.kit_numb.name }}" id="{{ calc_form.kit_numb.id_for_label }}">
          </div>
          <div class="modal-footer">
            <button type="submit" class="button-calculation">
              <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>Заказать
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <script type="text/javascript">
      $(window).load(function () {
          var yaParams = {order_price: 1, currency: "RUB"};
          yaCounter43178169.reachGoal('katalog', yaParams)
      });
  </script>

  <script>
      $('#prjcalc').on('show.bs.modal', function (event) {
          var button = $(event.relatedTarget) // Button that triggered the modal
          var calc_num = button.data('calc') // Extract info from data-* attributes
          // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
          // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
          var modal = $(this)
          modal.find('.modal-body input[name="{{ calc_form.kit_numb.name }}"]').val(calc_num)
      })
  </script>

  <script>
      $(".tovar-compl .title").click(function () {
          $(this).parent().toggleClass("active").siblings().removeClass('active');
          $(this).parent().siblings().children("div").hide();
          $(this).next().slideToggle();
      });
      var max_item_height = 0; // максимальная высота, первоначально 0
      $(".tovar-compl .compl-wrap").each(function () {
          if ($(this).height() > max_item_height) { // если высота колонки больше значения максимальной высоты,
              max_item_height = $(this).height(); // то она сама становится новой максимальной высотой
          }
      });
      $(".tovar-compl").height(max_item_height + 100); // устанавливаем высоту каждой колонки равной значению максимальной высоты
  </script>

  <script>
      $(document).ready(function () {
          $("form#prjcalc_form").submit(function () {
              var formData = new FormData($(this)[0]);
              $('.form-err').detach();
              $.ajax({
                  url: $(this).attr('action'),
                  type: 'POST',
                  data: formData,
                  async: true,
                  success: function (data) {
                      if (data.status === 1) {
                          $('#prjcalc').modal('hide');
                          $('#prjcalc [name="fio"]').val('');
                          $('#prjcalc [name="email"]').val('');
                          $('#prjcalc [name="phone"]').val('');
                          $('#prjcalc [name="note"]').val('');
                          window.location = "{% url 'thanks_prj' %}"
                      }
                      else {
                          $.each(data.errors, function (index, value) {
                              $('#' + index + '').append("<span class='form-err text-danger'>" + value[0] + "</span>");
                          });
                      }
                  },
                  contentType: false,
                  processData: false
              });

              return false;
          });
      });
  </script>
{% endblock %}

