{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-sm-9">
        <div class="row">
          <div class="col-sm-8">
            <img class="img-responsive" src="{{ project.img.url }}">
          </div>
          <div class="col-sm-4">
            <h3>{{ project.name }}</h3>
            <h4>характеристики проекта:</h4>
            <div>Размеры, м: <b>{{ project.size }}</b></div>
            <div>Площадь, кв.м: <b>{{ project.square }}</b></div>
          </div>
        </div>
        <div class="margin-8"></div>
        <div class="panel panel-primary">
          <div class="panel-heading">Фасады</div>
          <div class="panel-body">
            {% for ph in project.photos.all %}
              {% if ph.type == 1 %}
                <div class="col-sm-3">
                  <img class="img-responsive" src="{{ ph.img.url }}">
                </div>
              {% endif %}
            {% endfor %}
          </div>
        </div>
        <div class="panel panel-primary">
          <div class="panel-heading">Планировка</div>
          <div class="panel-body">
            {% for ph in project.photos.all %}
              {% if ph.type > 1 %}
                <div class="col-sm-6">
                  <img class="img-responsive" src="{{ ph.img.url }}">
                </div>
              {% endif %}
            {% endfor %}
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="panel panel-primary">
              <div class="panel-heading">Комплектация 1</div>
              <div class="panel-body">
                {{ kit.kit1|safe }}
                <div class="pricedom">
                  <span class="label label-info price">
                    {{ kit.price1 }} р
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="panel panel-primary">
              <div class="panel-heading">Комплектация 2</div>
              <div class="panel-body">
                {{ kit.kit2|safe }}
                <div class="pricedom">
                  <span class="label label-info price">
                    {{ kit.price2 }} р
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

