{% extends "base.html" %}
{% load staticfiles %}
{% load core_tags %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-sm-9">
        <ol class="breadcrumb">
          <li><a href="\">Главная</a></li>
          <li><a href="{% url 'project_list' %}?tech={{techfilter.pk}}&search=1&vid=0&pmin=0&pmax=5000000&smin=0&smax=500">Проекты</a></li>
          {% if techfilter.pk == 2 %}
            <li><a href="{% url 'project_list' %}?tech={{techfilter.pk}}&search=1&vid=0&pmin=0&pmax=5000000&smin=0&smax=500">Проекты из СИП панелей</a></li>
          {% elif techfilter.pk == 3 %}
            <li><a href="{% url 'project_list' %}?tech={{techfilter.pk}}&search=1&vid=0&pmin=0&pmax=5000000&smin=0&smax=500">Проекты по каркасной технологии</a></li>
          {% else %}
            <li><a href="{% url 'project_list' %}?tech={{techfilter.pk}}&search=1&vid=0&pmin=0&pmax=5000000&smin=0&smax=500">Проекты из Термопанелей</a></li>
          {% endif %}
          <li class="active">{{ project.name|title }}</li>
        </ol>
      </div>
    </div>
  </div>


  <div class="container">
    <div class="row">
      <div class="col-sm-9">
        <div class="row">
          <div class="col-sm-8">
            <img class="img-responsive" src="{{ project.img.url }}">
          </div>
          <div class="col-sm-4">
            <h3>{{ project.name }}</h3>
            <h4>характеристики проекта:</h4>
            <div>Размеры, м: <b>{{ project.size }}</b></div>
            <div>Площадь, кв.м: <b>{{ project.square }}</b></div>
          </div>
        </div>
        <div class="margin-8"></div>
        <div class="panel panel-primary">
          <div class="panel-heading">Фасады</div>
          <div class="panel-body">
            {% for ph in project.photos.all %}
              {% if ph.type == 1 %}
                <div class="col-sm-3">
                  <img class="img-responsive" src="{{ ph.img.url }}">
                </div>
              {% endif %}
            {% endfor %}
          </div>
        </div>
        <div class="panel panel-primary">
          <div class="panel-heading">Планировка</div>
          <div class="panel-body">
            {% for ph in project.photos.all %}
              {% if ph.type > 1 %}
                <div class="col-sm-6">
                  <img class="img-responsive" src="{{ ph.img.url }}">
                </div>
              {% endif %}
            {% endfor %}
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="panel panel-primary">
              <div class="panel-heading">Комплектация 1</div>
              <div class="panel-body">
                {{ kit.kit1|safe }}
                <div class="pricedom">
                  <span class="label label-info price">
                    {{ kit.price1 }} р
                  </span>
                  <button type="button" class="btn btn-warning" style="width: 162px" data-toggle="modal" data-target="#prjcalc" data-calc="1">
                    <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> Заказать
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="panel panel-primary">
              <div class="panel-heading">Комплектация 2</div>
              <div class="panel-body">
                {{ kit.kit2|safe }}
                <div class="pricedom">
                  <span class="label label-info price">
                    {{ kit.price2 }} р
                  </span>
                  <button type="button" class="btn btn-warning" style="width: 162px" data-toggle="modal" data-target="#prjcalc" data-calc="2">
                    <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> Заказать
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal" id="prjcalc">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title">Заказать проект <b>{{ project.name|title }}</b> <span class="badge" style="background-color: #468847;">{{ techfilter.mnemo }}</span>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          </h3>
        </div>
        <div class="modal-body">
          {% get_prjc_form as calc_form %}
          <form id="prjcalc_form" action="{% url 'thanks_prj' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div id="{{ calc_form.fio.name}}" class="fieldWrapper form-group">
              <label for="{{ calc_form.fio.id_for_label }}">{{ calc_form.fio.label }}:</label>
              {{ calc_form.fio }}
            </div>
            <div id="{{ calc_form.email.name}}" class="fieldWrapper form-group">
              <label for="{{ calc_form.email.id_for_label }}">{{ calc_form.email.label }}:</label>
              {{ calc_form.email }}
            </div>
            <div id="{{ calc_form.phone.name}}" class="fieldWrapper form-group">
              <label for="{{ calc_form.phone.id_for_label }}">{{ calc_form.phone.label }}:</label>
              {{ calc_form.phone }}
            </div>
            <div id="{{ calc_form.note.name}}" class="fieldWrapper form-group">
              <label for="{{ calc_form.note.id_for_label }}">{{ calc_form.note.label }}:</label>
              {{ calc_form.note }}
            </div>
            <div id="{{ calc_form.file.name }}" class="fieldWrapper form-group">
              <label for="{{ calc_form.file.id_for_label }}">{{ calc_form.file.label }}:</label>
              {{ calc_form.file }}
            </div>
            <input type="hidden" name="{{ calc_form.kit.name }}" id="{{ calc_form.kit.id_for_label }}" value="{{ kit.pk }}">
            <input type="hidden" name="{{ calc_form.kit_numb.name }}" id="{{ calc_form.kit_numb.id_for_label }}">

            <button type="submit" class="btn btn-primary">Заказать</button>
          </form>
        </div>
      </div>
    </div>
  </div>

<script>
$('#prjcalc').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget) // Button that triggered the modal
  var calc_num = button.data('calc') // Extract info from data-* attributes
  // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
  // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
  var modal = $(this)
  modal.find('.modal-body input[name="{{ calc_form.kit_numb.name }}"]').val(calc_num)
})
</script>

  <script>
      $( document ).ready(function() {
          $("form#prjcalc_form").submit(function () {
              var formData = new FormData($(this)[0]);
              $('.form-err').detach();
              $.ajax({
                  url: $(this).attr('action'),
                  type: 'POST',
                  data: formData,
                  async: true,
                  success: function (data) {
                      if (data.status === 1){
                          $('#prjcalc').modal('hide');
                          $('#prjcalc [name="fio"]').val('');
                          $('#prjcalc [name="email"]').val('');
                          $('#prjcalc [name="phone"]').val('');
                          $('#prjcalc [name="note"]').val('');
                          window.location = "{% url 'thanks_prj' %}"
                      }
                      else{
                          $.each(data.errors, function(index, value) {
                              $('#'+index+'').append("<span class='form-err text-danger'>"+value[0]+"</span>");
                          });
                      }
                  },
                  contentType: false,
                  processData: false
              });

              return false;
          });
      });
  </script>
{% endblock %}

