{% extends "base.html" %}
{% load staticfiles %}
{% load core_tags %}
{% load thumbnail %}

{% block title %}
  {% if request.GET.tech == '1' %}
    Проекты домов из Термопанелей
    {% if request.GET.smin == '0' and request.GET.smax == '500' %}
      под ключ
    {% elif request.GET.smin == '0' and request.GET.smax == '100' %}
      до 100 кв.м
    {% elif request.GET.smin == '100' and request.GET.smax == '150' %}
      до 150 кв.м
    {% elif request.GET.smin == '150' and request.GET.smax == '500' %}
      от 150 кв.м
    {% else %}
      с ценами
    {% endif %}
  {% elif request.GET.tech == '2' %}
    Проекты домов из СИП-панелей
    {% if request.GET.smin == '0' and request.GET.smax == '500' %}
      под ключ
    {% elif request.GET.smin == '0' and request.GET.smax == '100' %}
      до 100 кв.м
    {% elif request.GET.smin == '100' and request.GET.smax == '150' %}
      до 150 кв.м
    {% elif request.GET.smin == '150' and request.GET.smax == '500' %}
      от 150 кв.м
    {% else %}
      с ценами
    {% endif %}
  {% elif request.GET.tech == '3' %}
    Проекты каркасных домов
    {% if request.GET.smin == '0' and request.GET.smax == '500' %}
      под ключ
    {% elif request.GET.smin == '0' and request.GET.smax == '100' %}
      до 100 кв.м
    {% elif request.GET.smin == '100' and request.GET.smax == '150' %}
      до 150 кв.м
    {% elif request.GET.smin == '150' and request.GET.smax == '500' %}
      от 150 кв.м
    {% else %}
      с ценами
    {% endif %}
  {% else %}
    Проекты быстровозводимых домов
    {% if request.GET.smin == '0' and request.GET.smax == '500' %}
      под ключ
    {% elif request.GET.smin == '0' and request.GET.smax == '100' %}
      до 100 кв.м
    {% elif request.GET.smin == '100' and request.GET.smax == '150' %}
      до 150 кв.м
    {% elif request.GET.smin == '150' and request.GET.smax == '500' %}
      от 150 кв.м
    {% else %}
      с ценами
    {% endif %}
  {% endif %}
{% endblock %}
{% block meta_seo %}
  <meta name="keywords"
        content="проекты домов, коттеджей, одноэтажных, двухэтажных, 10 на 10, 8 на 8, под ключ, цены,{% if request.GET.tech == '1' %}проекты из термопанелей{% elif request.GET.tech == '2' %}проекты из СИП панелей{% elif request.GET.tech == '3' %}проекты каркасного, каркасных{% endif %},{% if request.GET.smin == '0' and request.GET.smax == '100' %}до 100 кв.м{% elif request.GET.smin == '100' and request.GET.smax == '150' %}до 150 кв.м{% elif request.GET.smin == '150' and request.GET.smax == '500' %}от 150 кв.м{% endif %}"/>
  <meta name="description"
        content="Каталог типовых проектов {% if request.GET.tech == '1' %}домов из Комбинированных Термопанелей{% elif request.GET.tech == '2' %}домов из СИП панелей{% elif request.GET.tech == '3' %}каркасных домов{% endif %} {% if request.GET.smin == '0' and request.GET.smax == '100' %}до 100 кв.м{% elif request.GET.smin == '100' and request.GET.smax == '150' %}до 150 кв.м{% elif request.GET.smin == '150' and request.GET.smax == '500' %}от 150 кв.м{% endif %}. Под ключ, цены указаны для трех технологий.">
{% endblock %}
{% block content %}
  <ol class="breadcrumbs">
    <li><a href="\">Главная</a></li>
    <li><a href="{% url 'project_list' %}?tech={{ techfilter.pk }}&search=1&vid=0&pmin=0&pmax=5000000&smin=0&smax=500">Проекты</a>
    </li>
    {% if techfilter.pk == 2 %}
      <li class="active">Проекты из СИП панелей</li>
    {% elif techfilter.pk == 3 %}
      <li class="active">Проекты по каркасной технологии</li>
    {% else %}
      <li class="active">Проекты из Термопанелей</li>
    {% endif %}
  </ol>

  <div class="katalog">
    <div class="kat-title">
      каталог
    </div>

    <form class="filters" action="{% url 'project_list' %}" method="get">
      <input id="id_search" name="search" type="hidden" value="1"/>
      <div class="filter-box-one">
        <div class="price">
          <label for="id_pmin">Цена от</label>
          <input id="id_pmin" class="short-input" name="pmin" type="number" value="{{ search_form.pmin.value }}"
                 required/>
          <label for="id_pmax">до</label>
          <input id="id_pmax" class="short-input" name="pmax" type="number" value="{{ search_form.pmax.value }}"
                 required/>
        </div>
        <div class="area">
          <label for="id_smin">Площадь от</label>
          <input id="id_smin" class="short-input" name="smin" type="number" value="{{ search_form.smin.value }}"
                 required/>
          <label for="id_smax">до</label>
          <input id="id_smax" class="short-input" name="smax" type="number" value="{{ search_form.smax.value }}"
                 required/>
        </div>
      </div>

      <div class="filter-box-two">
        <div class="technology">
          <label for="id_tech">Технологии</label>
          {{ search_form.tech }}
        </div>
        <div class="type">
          <label for="id_vid">Тип</label>
          {{ search_form.vid }}
        </div>
      </div>
      <button type="submit">Поиск</button>
    </form>

    <div class="katalog-list clearfix">
      {% for prj in project_list %}
        <div class="col-lg-4 col-md-6 col-xs-12">
          <div class="katalog-item">

            <a href="
                {% if request.GET.tech %}
                  {% url 'project_detail' prj.slug %}?tech={{ request.GET.tech }}
                {% else %}
                  {% url 'project_detail' prj.slug %}?tech={{ techfilter.pk }}
                {% endif %}">
              <div class="katalog-img">
                {% thumbnail prj.img "258x187" crop="80% top" format="PNG" as im %}
                  <img class="img-responsive" src="{{ im.url }}" alt="{{ im.title }}">
                {% endthumbnail %}
              </div>
            </a>
            <div class="katalog-info clearfix">
              <a href="
                {% if request.GET.tech %}
                  {% url 'project_detail' prj.slug %}?tech={{ request.GET.tech }}
                {% else %}
                  {% url 'project_detail' prj.slug %}?tech={{ techfilter.pk }}
                {% endif %}">
                <div class="katalog-title">{{ prj.name|title }}</div>
              </a>
              <span class="katalog-area"><img class="build-icon"
                                              {% if prj.house == 2 %}src="{% static "img/build-icon2.png" %}"
                                              {% elif prj.house == 3 %}src="{% static "img/build-icon3.png" %}"
                                              {% elif prj.house == 4 %}src="{% static "img/build-icon4.png" %}"
                                              {% elif prj.house == 5 %}src="{% static "img/build-icon5.png" %}"
                                              {% else %}src="{% static "img/build-icon1.png" %}"{% endif %}
              >{{ prj.square }} кв.м.</span>
              <span class="katalog-price">
                {% for kit in prj.kits.all %}
                  {% if request.GET.tech and kit.tech.pk == request.GET.tech %}
                    {% if kit.price1 == 0 %}
                      от 9000 р/м&sup2;
                    {% else %}
                      {{ kit.price1|intspace }} ₽
                    {% endif %}
                  {% elif kit.tech.pk == techfilter.pk %}
                    {% if kit.price1 == 0 %}
                      от 9000 р/м&sup2;
                    {% else %}
                      {{ kit.price1|intspace }} ₽
                    {% endif %}
                  {% endif %}
                {% endfor %}
              </span>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>

    {% if request.GET.vid == '2' %}
      <div class="content-page clearfix">
        <p class="content-text">Типовые проекты домов на две семьи (дуплексы) будут добавлены в каталог в ближайшее
          время.</p>
        <p class="content-text">Вы можете оставить заявку на расчет своего индивидуального проекта. Мы бесплатно
          рассчитаем стоимость и свяжемся с Вами.</p>
      </div>
    {% elif request.GET.vid == '3' %}
      <div class="content-page clearfix">
        <p class="content-text">Типовые проекты бань будут добавлены в каталог в ближайшее время.</p>
        <p class="content-text">Вы можете оставить заявку на расчет своего индивидуального проекта бани. Мы бесплатно
          рассчитаем стоимость и свяжемся с Вами.</p>
      </div>
    {% else %}
      <div class="content-page clearfix">
        <p style="text-align: center"><b>По Вашему желанию мы можем увеличить или уменьшить площадь типового проекта, изменить планировку.</b></p>
      </div>
    {% endif %}

    {% if is_paginated %}
      <nav>
        <ul class="paggination">
          {% if page_obj.has_previous %}
            <li class="double-arrow"><a href="?page={{ page_obj.previous_page_number }}">
              <span class="glyphicon glyphicon-menu-left"></span>
            </a>
            </li>
          {% else %}
            <li class="double-arrow ">
              <a href="#">
                <span class="glyphicon glyphicon-menu-left"></span>
              </a>
            </li>
          {% endif %}

          {% for page in paginator.page_range %}
            <li {% if page == page_obj.number %}class="active"{% endif %}>
              <a href="?page={{ page }}">{{ page }}</a>
            </li>
          {% endfor %}

          {% if page_obj.has_next %}
            <li class="double-arrow">
              <a href="?page={{ page_obj.next_page_number }}">
                <span class="glyphicon glyphicon-menu-right"></span>
              </a>
            </li>
          {% else %}
            <li class="double-arrow ">
              <a href="#">
                <span class="glyphicon glyphicon-menu-right"></span>
              </a>
            </li>
          {% endif %}
        </ul>
      </nav>
    {% endif %}

  </div>
{% endblock %}