{% extends "base.html" %}
{% load staticfiles %}
{% load thumbnail %}

{% block content %}
  <form
    action="{% url 'project_list' %}" method="get">
    {{ search_form.as_table }}
    <button type="submit">Поиск</button>
  </form>
  <div class="container">
    <div class="row">
      <div class="col-lg-9">
        <div class="row">
          {% for prj in project_list %}
            <div class="col-lg-4">
              <a href="{{ prj.get_absolute_url }}">
                {% thumbnail prj.img "300x200" crop="80% top" format="PNG" as im %}
                  <img class="img-responsive" src="{{ im.url }}" alt="{{ im.title }}">
                {% endthumbnail %}
                <h4 class="text-center">{{ prj.name|title }}</h4>
              </a>
              {% for kit in prj.kits.all %}
                {% if request.GET.tech and kit.tech.pk == request.GET.tech %}
                  {{ kit.price1 }}
                {% elif kit.tech.pk == techfilter.pk%}
                  {{ kit.price1 }}
                {% endif %}
              {% endfor %}
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}