{% extends "base.html" %}
{% load staticfiles %}
{% load core_tags %}
{% load thumbnail %}

{% block title %}Технология строительства домов из СИП-панелей{% endblock %}
{% block meta_seo %}
  <meta name="keywords"
        content="дома из сип панелей, sip, панели, под ключ, цены, строительство, построить"/>
  <meta name="description"
        content="Строительство домов из СИП панелей по всей России. Производство СИП панелей. Каталог типовых проектов домов из СИП панелей.">
{% endblock %}
{% block content %}
  <ol class="breadcrumbs">
    <li><a href="\">Главная</a></li>
    <li class="active">Технология "СИП панели"</li>
  </ol>

  <div class="content-article clearfix">
    <h2>Дома из СИП панелей</h2>
    <p class="content-text">Панельно-каркасная технология, пришедшая к нам с Запада, стремительно набирает популярность,
      тесня на рынке малоэтажного строительства более привычные каменные и деревянные дома. В Канаде и на севере Европы
      (Финляндия, Швеция, Дания и др.) дома из СИП панелей – очень распространенная технология, а это говорит о многом.
      Например, в Финляндии, их выбирают более 40% от всех застройщиков, а в Канаде и того больше - около 80%. Именно
      поэтому в России такие дома часто называют канадскими.</p>
    <p class="content-text">В чем же причина такой популярности? Если сказать коротко, то такие дома недорого стоят,
      быстро возводятся, их можно строить в любое время года и они теплые и экологически безопасные. Абсолютное
      большинство владельцев очень довольны своим выбором. Еще бы! Как только начинают приходить первые счета за
      коммунальные услуги в отопительный сезон, приходит понимание, что платить придется в разы меньше, чем раньше.</p>
    <h3>Что такое СИП панели?</h3>
    <p class="content-text">
      <a class="gallery content-img-right" href="{% static "content/sippaneli_01.jpg" %}">
        {% with url_path=MEDIA_URL|add:"content/sippaneli_01.jpg" %}
          {% thumbnail url_path "250x187" crop="center" format="PNG" as im %}
            <img class="img-responsive content-img" src="{{ im.url }}" alt="{{ im.url }}">
          {% endthumbnail %}
        {% endwith %}
      </a>СИП панель (сэндвич-панель) – готовый конструктивный элемент, из которого собирается коробка
      дома. Представляет собой прочную трехслойную конструкцию, состоящую из 2 плит влагостойкого OSB и утеплителя.
      Построенный из СИП панелей дом обладает прекрасными теплоизоляционными свойствами и не требует дополнительного
      утепления. Вопреки распространенным мифам (большинство из них – продукт недобросовестной конкуренции) СИП панели
      не выделяют вредных веществ (в противном случае, контролирующие органы уже бы давно запретили их использование),
      не поддерживают горение и долговечны. Построенную коробку можно обшить любым отделочным материалом.</p>
    <div class="clearfix">
      <div class="gallery-div col-md-4 col-sm-6 col-xs-12">
        <div class="gallery-stage">
          <a class="gallery" href="{% static "content/OurSip_90.jpg" %}">
            {% with url_path=MEDIA_URL|add:"content/OurSip_90.jpg" %}
              {% thumbnail url_path "400x300" crop="center" format="PNG" as im %}
                <img class="img-responsive content-img" src="{{ im.url }}" alt="{{ im.url }}">
              {% endthumbnail %}
            {% endwith %}
          </a>
        </div>
      </div>
      <div class="gallery-div col-md-4 col-sm-6 col-xs-12">
        <div class="gallery-stage">
          <a class="gallery" href="{% static "content/OurSip_99.jpg" %}">
            {% with url_path=MEDIA_URL|add:"content/OurSip_99.jpg" %}
              {% thumbnail url_path "400x300" crop="center" format="PNG" as im %}
                <img class="img-responsive content-img" src="{{ im.url }}" alt="{{ im.url }}">
              {% endthumbnail %}
            {% endwith %}
          </a>
        </div>
      </div>
      <div class="gallery-div col-md-4 col-sm-6 col-xs-12">
        <div class="gallery-stage">
          <a class="gallery" href="{% static "content/OutTRyj_00.jpg" %}">
            {% with url_path=MEDIA_URL|add:"content/OutTRyj_00.jpg" %}
              {% thumbnail url_path "400x300" crop="center" format="PNG" as im %}
                <img class="img-responsive content-img" src="{{ im.url }}" alt="{{ im.url }}">
              {% endthumbnail %}
            {% endwith %}
          </a>
        </div>
      </div>
    </div>
    <h3>Что мы предлагаем?</h3>
    <p class="content-text">В нашей компании можно заказать дом из СИП панелей под ключ. Заказывая услугу в одном месте,
      вы избавляете себя от необходимости искать подрядчиков на разные виды работ, а потом координировать их
      взаимодействие. Все в одном месте. Вы делаете заказ, мы согласовываем проектную документацию, строим и сдаем
      объект со всеми коммуникациями.</p>
    <p class="content-text">У нас можно заказать дом по выгодной цене в любое время года. Что позволяет нам предлагать
      дома из сип панелей по доступной цене? Все просто:</p>
    <ul class="content-text">
      <li>Отработанная до мелочей технология.</li>
      <li>Минимум вспомогательных работ на объекте. Весь домокомплект изготавливается на производстве и доставляется в
        готовом виде. Остается только его собрать.
      </li>
      <li>Доказавшие свою эффективность проекты домов.</li>
      <li>Экономичные строительные материалы.</li>
    </ul>
    <p class="content-text">Услуга под ключ включает:</p>
    <ul class="content-text">
      <li>Разработку и согласование проектной документации.</li>
      <li>Подготовительные работы: снос старых строений, планировка участка, земляные работы.</li>
      <li>Устройство фундамента.</li>
      <li>Монтаж коробки.</li>
      <li>Монтаж кровли.</li>
      <li>Заполнение дверных и оконных проемов.</li>
      <li>Монтаж инженерный коммуникаций.</li>
      <li>Наружные и внутренние отделочные работы.</li>
      <li>Полностью готовый объект максимум через 2 месяца.</li>
    </ul>
    <p class="content-text">Наши дома из СИП панелей ориентированы на все категории клиентов. Это может быть небольшой
      одноэтажный дом для сезонного проживания или коттедж для большой семьи с дорогой отделкой. Наша компания – это
      производитель и застройщик в одном лице и нам есть что предложить. Обращайтесь, и мы поможем вам оценить все
      преимущества этой технологии.</p>
  </div> <!-- /.content-article -->

  <div class="content-page clearfix">
    <h2>Примеры типовых проектов</h2>

    {% for prj in projects_sip %}
      <div class="promo-cat col-lg-4 col-md-6 col-xs-12">
        <div class="katalog-item">

          <a href="{% url 'project_detail' prj.slug %}?tech=2">
            <div class="katalog-img">
              {% thumbnail prj.img "258x187" crop="80% top" format="PNG" as im %}
                <img class="img-responsive" src="{{ im.url }}" alt="{{ im.title }}">
              {% endthumbnail %}
            </div>
          </a>
          <div class="katalog-info clearfix">
            <a href="{% url 'project_detail' prj.slug %}?tech=2">
              <div class="katalog-title">{{ prj.name|title }}</div>
            </a>
            <span class="katalog-area"><img class="build-icon"
                                            {% if prj.house == 2 %}src="{% static "img/build-icon2.png" %}"
                                            {% elif prj.house == 3 %}src="{% static "img/build-icon3.png" %}"
                                            {% elif prj.house == 4 %}src="{% static "img/build-icon4.png" %}"
                                            {% elif prj.house == 5 %}src="{% static "img/build-icon5.png" %}"
                                            {% else %}src="{% static "img/build-icon1.png" %}"{% endif %}
            >{{ prj.square }} кв.м.</span>
            <span class="katalog-price">
              {% if prj.price == 0 %}
                от 9000 р/м&sup2;
              {% else %}
                {{ prj.price|intspace }} ₽
              {% endif %}
            </span>
          </div>
        </div>
      </div>
    {% endfor %}
    <div class="view-all-promo clearfix">
      <a href="{% url 'project_list' %}?tech=2&search=1&vid=0&pmin=0&pmax=5000000&smin=0&smax=500" class="view-all"
         role="button">Полный каталог</a>
    </div>
  </div>
{% endblock %}