{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
  <ol class="breadcrumbs">
    <li><a href="\">Главная</a></li>
    <li class="active">Технология "Комбинированные термопанели"</li>
  </ol>

  <div class="content-article clearfix">
    <h2>Каркасный дом из комбинированных термопанелей</h2>
    <p class="content-text">Возведение домов из комбинированных термопанелей (КТП) является достаточно новым, но
      эффективным способом каркасного строительства. Обладая рядом серьезных преимуществ, эта сравнительно молодая
      технология становится все более и более популярной. Наша компания строит дома на основе запатентованной технологии
      малоэтажного строительства. Данный метод доказал свою эффективность в совершенно разных климатических условиях. В
      его основе лежат комбинированные термопанели собственного производства.</p>
    <p class="content-text">Комбинированные термопанели (КТП) – конструктивные элементы, выполняющие одновременно
      несущие, ограждающие и теплоизоляционные функции. Эта технология отлично зарекомендовала себя при строительстве
      жилой и коммерческой недвижимости в условиях крайнего севера, средней и южной полосы РФ. Выбирая проект
      загородного дома, лучшего варианта просто не найти. Благодаря уникальным свойствам КТП, построенные дома обладают
      оптимальными пропорциями, очень прочны и полностью отвечают всем требованиям, предъявляемым к современному
      жилищу.</p>
    <h2>Из чего состоят термопанели</h2>
    <p class="content-text">Комбинированные термопанели представляют однослойную конструкцию, состоящую из двух плит и
      инновационного базальтового утеплителя. Утеплитель прекрасно сочетается с различными плитными материалами,
      такими как Гринборд, OSB-3 и ЦСП (цементно-стружечная плита). Элементы каркаса расположены таким образом, что
      исключается появление мостиков холода, поэтому они показывают высокую эффективность в энергосбережении. Помимо
      этого термопанели лишены главного недостатка, присущего традиционным СИП панелям, – они не способствуют
      возникновению «парникового» эффекта. Именно по этой причине при производстве КТП используется базальтовый
      утеплитель – утеплитель нового поколения, который гораздо лучше подходит для строительства домов. Он обладает высокой
      плотностью (от 25 до 200 кг/м³), хорошей паропроницаемостью и оптимальными тепло- и звукоизоляционными характеристиками.</p>
    <h2>Достоинства домов из термопанелей</h2>
    <ul class="content-text">
      <li>При строительстве не требуется задействовать тяжелую и специальную строительную технику</li>
      <li>Возводятся на легких ленточных или свайных фундаментах</li>
      <li>Можно строить в условиях плотной застройки</li>
      <li>Построенные по этой технологии объекты весьма прочны, обладают хорошей сейсмоустойчивостью, сохраняя при этом
        расчетную несущую способность (как в продольном, так и в поперечном направлении)
      </li>
      <li>Экологическая безопасность</li>
      <li>Низкие затраты на содержание</li>
      <li>Возможность возведения в любое время года</li>
      <li>Отлично сочетаются с любыми отделочными материалами</li>
    </ul>
    <h2>Каркасный дом из термопанелей под ключ</h2>
    <p class="content-text">Если вы рассматриваете возможность строительства дома, мы можем представить множество
      дополнительной информации в пользу этой технологии. Имея богатый опыт по скоростному возведению каркасных домов,
      мы предложим вам самые выгодные условия сотрудничества.</p>
    <p class="content-text">К вашим услугам:</p>
    <ul class="content-text">
      <li>Опыт и профессионализм</li>
      <li>Бесплатная проектная документация</li>
      <li>Качественные материалы</li>
      <li>Гарантия</li>
    </ul>
    <p class="content-text">Мы строим быстро, качественно и в срок, предоставляя долгосрочную гарантию на работы и
      материалы. Каркасный дом – это комфортно, красиво и экономно. Обращайтесь, и мы построим каркасный дом по
      доступной цене.</p>
  </div> <!-- /.content-article -->
{% endblock %}