{% extends "base.html" %}
{% load staticfiles %}
{% load core_tags %}
{% load thumbnail %}

{% block title %}Строительство домов из комбинированных термопанелей по патентованной технологии{% endblock %}
{% block meta_seo %}
  <meta name="keywords"
        content="новая, запатентованная технология, дома из комбинированных термопанелей, экологичней и энергоэффективней чем СИП панели, под ключ, цены, строительство, построить"/>
  <meta name="description"
        content="Строительство домов по технологии экологичней и энергоэффективней чем СИП панели. Есть патент на технологию! Своё производство. Каталог типовых проектов домов.">
{% endblock %}
{% block content %}
  <ol class="breadcrumbs">
    <li><a href="\">Главная</a></li>
    <li class="active">Технология "Комбинированные термопанели"</li>
  </ol>

  <div class="content-article clearfix">
    <h2>Каркасный дом из комбинированных термопанелей</h2>
    <div class="clearfix"><p class="content-text">Возведение домов из комбинированных термопанелей (КТП) является
      достаточно новым, но
      эффективным способом каркасного строительства. Обладая рядом серьезных преимуществ, эта сравнительно молодая
      технология становится все более и более популярной. <a class="gallery content-img-right"
                                                             href="{% static "content/Patent_termopanel.png" %}">
        {% with url_path=MEDIA_URL|add:"content/Patent_termopanel.png" %}
          {% thumbnail url_path "300x413" crop="center" format="PNG" as im %}
            <img class="img-responsive content-img" src="{{ im.url }}" alt="{{ im.url }}">
          {% endthumbnail %}
        {% endwith %}
      </a>Наша компания строит дома на основе запатентованной технологии
      малоэтажного строительства. Данный метод доказал свою эффективность в совершенно разных климатических условиях. В
      его основе лежат комбинированные термопанели собственного производства.</p>
      <p class="content-text">Комбинированные термопанели (КТП) – конструктивные элементы, выполняющие одновременно
        несущие, ограждающие и теплоизоляционные функции. Эта технология отлично зарекомендовала себя при строительстве
        жилой и коммерческой недвижимости в условиях крайнего севера, средней и южной полосы РФ. Выбирая проект
        загородного дома, лучшего варианта просто не найти. Благодаря уникальным свойствам КТП, построенные дома
        обладают
        оптимальными пропорциями, очень прочны и полностью отвечают всем требованиям, предъявляемым к современному
        жилищу.</p></div>
    <h2 style="margin-top: 15px">Из чего состоят термопанели</h2>
    <p class="content-text">Комбинированные термопанели представляют однослойную конструкцию, состоящую из двух плит и
      инновационного базальтового утеплителя. Утеплитель прекрасно сочетается с различными плитными материалами,
      такими как Гринборд, OSB-3 и ЦСП (цементно-стружечная плита). Элементы каркаса расположены таким образом, что
      исключается появление мостиков холода, поэтому они показывают высокую эффективность в энергосбережении. <a
          class="gallery content-img-right"
          href="{% static "content/termopaneli_15.png" %}">
        {% with url_path=MEDIA_URL|add:"content/termopaneli_15.png" %}
          {% thumbnail url_path "151x320" crop="center" format="PNG" as im %}
            <img class="img-responsive content-img" src="{{ im.url }}" alt="{{ im.url }}">
          {% endthumbnail %}
        {% endwith %}
      </a>Помимо
      этого термопанели лишены главного недостатка, присущего традиционным СИП панелям, – они не способствуют
      возникновению «парникового» эффекта. Именно по этой причине при производстве КТП используется базальтовый
      утеплитель – утеплитель нового поколения, который гораздо лучше подходит для строительства домов. Он обладает
      высокой плотностью (от 25 до 200 кг/м³), хорошей паропроницаемостью и оптимальными тепло- и звукоизоляционными
      характеристиками.</p>
    <p class="content-text clearfix">За счет преимуществ технологии, вы можете дополнительно съэкономить <b>50000 -
      70000</b> руб.
      <b>Термопанель доступна для прокладки электропроводки и даже труб водоснабжения вплоть до того, как она будет
        зашита
        с открытой стороны.</b> Скрытая проводка в панелях даст дополнительную экономию на монтажных материалах, а также
      позволит
      экономить внутреннее пространство комнаты, по сравнению с традиционной проводкой по наружному покрытию СИП-панели
      и последующей обшивкой отделочным материалом.</p>
    <div class="clearfix">
      <div class="gallery-div col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="gallery-stage">
          <a class="gallery" href="{% static "content/termopaneli_05.jpg" %}">
            {% with url_path=MEDIA_URL|add:"content/termopaneli_05.jpg" %}
              {% thumbnail url_path "400x300" crop="center" format="PNG" as im %}
                <img class="img-responsive content-img" src="{{ im.url }}" alt="{{ im.url }}">
              {% endthumbnail %}
            {% endwith %}
          </a>
        </div>
      </div>
      <div class="gallery-div col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="gallery-stage">
          <a class="gallery" href="{% static "content/termopaneli_06.jpg" %}">
            {% with url_path=MEDIA_URL|add:"content/termopaneli_06.jpg" %}
              {% thumbnail url_path "400x300" crop="center" format="PNG" as im %}
                <img class="img-responsive content-img" src="{{ im.url }}" alt="{{ im.url }}">
              {% endthumbnail %}
            {% endwith %}
          </a>
        </div>
      </div>
      <div class="gallery-div col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="gallery-stage">
          <a class="gallery" href="{% static "content/termopaneli_07.jpg" %}">
            {% with url_path=MEDIA_URL|add:"content/termopaneli_07.jpg" %}
              {% thumbnail url_path "400x300" crop="center" format="PNG" as im %}
                <img class="img-responsive content-img" src="{{ im.url }}" alt="{{ im.url }}">
              {% endthumbnail %}
            {% endwith %}
          </a>
        </div>
      </div>
    </div>
    <h2 style="margin-top: 15px">Достоинства домов из термопанелей</h2>
    <ul class="content-text">
      <li>При строительстве не требуется задействовать тяжелую и специальную строительную технику</li>
      <li>Возводятся на легких ленточных или свайных фундаментах</li>
      <li>Можно строить в условиях плотной застройки</li>
      <li>Построенные по этой технологии объекты весьма прочны, обладают хорошей сейсмоустойчивостью, сохраняя при этом
        расчетную несущую способность (как в продольном, так и в поперечном направлении)
      </li>
      <li>Экологическая безопасность</li>
      <li>Хорошая шумоизоляция</li>
      <li>Низкие затраты на содержание</li>
      <li>Возможность возведения в любое время года</li>
      <li>Отлично сочетаются с любыми отделочными материалами</li>
    </ul>
    <div class="clearfix">
      <div class="gallery-div col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="gallery-stage">
          <a class="gallery" href="{% static "content/termopaneli_08.jpg" %}">
            {% with url_path=MEDIA_URL|add:"content/termopaneli_08.jpg" %}
              {% thumbnail url_path "400x300" crop="center" format="PNG" as im %}
                <img class="img-responsive content-img" src="{{ im.url }}" alt="{{ im.url }}">
              {% endthumbnail %}
            {% endwith %}
          </a>
        </div>
      </div>
      <div class="gallery-div col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="gallery-stage">
          <a class="gallery" href="{% static "content/termopaneli_09.jpg" %}">
            {% with url_path=MEDIA_URL|add:"content/termopaneli_09.jpg" %}
              {% thumbnail url_path "400x300" crop="center" format="PNG" as im %}
                <img class="img-responsive content-img" src="{{ im.url }}" alt="{{ im.url }}">
              {% endthumbnail %}
            {% endwith %}
          </a>
        </div>
      </div>
      <div class="gallery-div col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="gallery-stage">
          <a class="gallery" href="{% static "content/termopaneli_10.jpg" %}">
            {% with url_path=MEDIA_URL|add:"content/termopaneli_10.jpg" %}
              {% thumbnail url_path "400x300" crop="center" format="PNG" as im %}
                <img class="img-responsive content-img" src="{{ im.url }}" alt="{{ im.url }}">
              {% endthumbnail %}
            {% endwith %}
          </a>
        </div>
      </div>
    </div>
    <h2 style="margin-top: 15px">Каркасный дом из термопанелей под ключ</h2>
    <p class="content-text">Если вы рассматриваете возможность строительства дома, мы можем представить множество
      дополнительной информации в пользу этой технологии. Имея богатый опыт по скоростному возведению каркасных домов,
      мы предложим вам самые выгодные условия сотрудничества.</p>
    <p class="content-text">К вашим услугам:</p>
    <ul class="content-text">
      <li>Опыт и профессионализм</li>
      <li>Бесплатная проектная документация</li>
      <li>Качественные материалы</li>
      <li>Гарантия</li>
    </ul>
    <p class="content-text">Мы строим быстро, качественно и в срок, предоставляя долгосрочную гарантию на работы и
      материалы. Каркасный дом – это комфортно, красиво и экономно. Обращайтесь, и мы построим каркасный дом по
      доступной цене.</p>
    <div class="clearfix">
      <div class="gallery-div col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="gallery-stage">
          <a class="gallery" href="{% static "content/termopaneli_11.jpg" %}">
            {% with url_path=MEDIA_URL|add:"content/termopaneli_11.jpg" %}
              {% thumbnail url_path "400x300" crop="center" format="PNG" as im %}
                <img class="img-responsive content-img" src="{{ im.url }}" alt="{{ im.url }}">
              {% endthumbnail %}
            {% endwith %}
          </a>
        </div>
      </div>
      <div class="gallery-div col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="gallery-stage">
          <a class="gallery" href="{% static "content/termopaneli_12.jpg" %}">
            {% with url_path=MEDIA_URL|add:"content/termopaneli_12.jpg" %}
              {% thumbnail url_path "400x300" crop="center" format="PNG" as im %}
                <img class="img-responsive content-img" src="{{ im.url }}" alt="{{ im.url }}">
              {% endthumbnail %}
            {% endwith %}
          </a>
        </div>
      </div>
      <div class="gallery-div col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="gallery-stage">
          <a class="gallery" href="{% static "content/termopaneli_13.jpg" %}">
            {% with url_path=MEDIA_URL|add:"content/termopaneli_13.jpg" %}
              {% thumbnail url_path "400x300" crop="center" format="PNG" as im %}
                <img class="img-responsive content-img" src="{{ im.url }}" alt="{{ im.url }}">
              {% endthumbnail %}
            {% endwith %}
          </a>
        </div>
      </div>
    </div>
  </div> <!-- /.content-article -->

  <div class="content-page clearfix">

    <h2>Примеры домов построенных нами</h2>

    <div class="gallery-div col-lg-4 col-md-4 col-sm-6 col-xs-12">
      <a href="{% url 'our_termo' %}?page=1">
        <div class="gallery-stage">
          {% with url_path=MEDIA_URL|add:"readyobj/OurTermPah_00.jpg" %}
            {% thumbnail url_path "400x300" crop="center" format="PNG" as im %}
              <img class="img-responsive content-img" src="{{ im.url }}" alt="{{ im.url }}">
            {% endthumbnail %}
          {% endwith %}
        </div>
      </a>
    </div>
    <div class="gallery-div col-lg-4 col-md-4 col-sm-6 col-xs-12">
      <a href="{% url 'our_termo' %}?page=3">
        <div class="gallery-stage">
          {% with url_path=MEDIA_URL|add:"readyobj/OutTRyj_00.jpg" %}
            {% thumbnail url_path "400x300" crop="center" format="PNG" as im %}
              <img class="img-responsive content-img" src="{{ im.url }}" alt="{{ im.url }}">
            {% endthumbnail %}
          {% endwith %}
        </div>
      </a>
    </div>
    <div class="gallery-div col-lg-4 col-md-4 col-sm-6 col-xs-12">
      <a href="{% url 'our_termo' %}?page=3">
        <div class="gallery-stage">
          {% with url_path=MEDIA_URL|add:"readyobj/OurTGjel_00.jpg" %}
            {% thumbnail url_path "400x300" crop="center" format="PNG" as im %}
              <img class="img-responsive content-img" src="{{ im.url }}" alt="{{ im.url }}">
            {% endthumbnail %}
          {% endwith %}
        </div>
      </a>
    </div>

    <div class="view-all-promo clearfix">
      <a href="{% url 'our_termo' %}" class="view-all" role="button">Полная галерея</a>
    </div>
  </div>

  <div class="content-page clearfix">

    <h2>Примеры типовых проектов</h2>

    {% for prj in projects_term %}
      <div class="promo-cat col-lg-4 col-md-6 col-xs-12">
        <div class="katalog-item">

          <a href="{% url 'project_detail' prj.slug %}?tech=1">
            <div class="katalog-img">
              {% thumbnail prj.img "258x187" crop="80% top" format="PNG" as im %}
                <img class="img-responsive" src="{{ im.url }}" alt="{{ im.title }}">
              {% endthumbnail %}
            </div>
          </a>
          <div class="katalog-info clearfix">
            <a href="{% url 'project_detail' prj.slug %}?tech=1">
              <div class="katalog-title">{{ prj.name|title }}</div>
            </a>
            <span class="katalog-area"><img class="build-icon"
                                            {% if prj.house == 2 %}src="{% static "img/build-icon2.png" %}"
                                            {% elif prj.house == 3 %}src="{% static "img/build-icon3.png" %}"
                                            {% elif prj.house == 4 %}src="{% static "img/build-icon4.png" %}"
                                            {% elif prj.house == 5 %}src="{% static "img/build-icon5.png" %}"
                                            {% else %}src="{% static "img/build-icon1.png" %}"{% endif %}
            >{{ prj.square }} кв.м.</span>
            <span class="katalog-price">
              {% if prj.price == 0 %}
                от 9000 р/м&sup2;
              {% else %}
                {{ prj.price|intspace }} ₽
              {% endif %}
            </span>
          </div>
        </div>
      </div>
    {% endfor %}
    <div class="view-all-promo clearfix">
      <a href="{% url 'project_list' %}?tech=1&search=1&vid=0&pmin=0&pmax=5000000&smin=0&smax=500" class="view-all"
         role="button">Полный каталог</a>
    </div>
  </div>
{% endblock %}