{% extends "base.html" %}
{% load staticfiles %}
{% load core_tags %}
{% load thumbnail %}

{% block title %}Ремонт{% endblock %}
{% block content %}
  <ol class="breadcrumbs">
    <li><a href="\">Главная</a></li>
    <li class="active">Ремонт и отделка</li>
  </ol>

  <div class="content-article clearfix">
    <h2>Ремонт и отделка</h2>
    <p class="content-text">Наша компания оказывает услуги по наружной и внутренней отделке жилой и нежилой
      недвижимости. У нас можно заказать косметический или капитальный ремонт коттеджей под ключ, а также дизайнерскую
      отделку VIP материалами. Данная услуга поможет не только обновить внешность вашего жилища, но и внести в дизайн
      что-то новое. Если интерьер вам приелся, то это повод задуматься над тем, чтобы его изменить. К решению этой
      задачи можно подходить двумя путями: кардинально изменить интерьер или внести несколько свежих штрихов. Решение,
      конечно же, за вами.</p>
    <div class="clearfix">
      <div class="gallery-div col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="gallery-stage">
          <a class="gallery" href="{% static "content/Remont_04.jpg" %}">
            {% with url_path=MEDIA_URL|add:"content/Remont_04.jpg" %}
              {% thumbnail url_path "400x300" crop="center" format="PNG" as im %}
                <img class="img-responsive content-img" src="{{ im.url }}" alt="{{ im.url }}">
              {% endthumbnail %}
            {% endwith %}
          </a>
        </div>
      </div>
      <div class="gallery-div col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="gallery-stage">
          <a class="gallery" href="{% static "content/Remont_01.jpg" %}">
            {% with url_path=MEDIA_URL|add:"content/Remont_01.jpg" %}
              {% thumbnail url_path "400x300" crop="center" format="PNG" as im %}
                <img class="img-responsive content-img" src="{{ im.url }}" alt="{{ im.url }}">
              {% endthumbnail %}
            {% endwith %}
          </a>
        </div>
      </div>
      <div class="gallery-div col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="gallery-stage">
          <a class="gallery" href="{% static "content/Remont_05.jpg" %}">
            {% with url_path=MEDIA_URL|add:"content/Remont_05.jpg" %}
              {% thumbnail url_path "400x300" crop="center" format="PNG" as im %}
                <img class="img-responsive content-img" src="{{ im.url }}" alt="{{ im.url }}">
              {% endthumbnail %}
            {% endwith %}
          </a>
        </div>
      </div>
    </div>
    <p class="content-text">Ремонт в частном доме с применением современных отделочных материалов – достаточно сложный
      процесс, требующий знания и опыт. Учитывая высокую стоимость материалов, эксперименты без досконального знания
      предмета обычно приводят к увеличению стоимости ремонта. Наружная и внутренняя отделка дома проводится по
      определенному алгоритму, с соблюдением четкой последовательности операций. Профессионалы соблюдают ее практически
      на «автомате». Только в точности соблюдая технологию, можно получить высокий результат.</p>
    <p class="content-text">Отделка фасадов и внутренняя отделка не зависят друг от друга, поэтому их можно вести
      одновременно или развести по времени.</p>
    <h3>Наружная отделка дома</h3>
    <p class="content-text">Ремонт дома снаружи может преследовать несколько целей. Во-первых, он защищает стены от
      внешних разрушающих факторов. Во-вторых, в него можно включить работы по теплоизоляции. В-третьих, внешний вид
      дома оказывает влияние на восприятие окружающих. Именно по наружной отделке складывается первое впечатление о
      доме. Не стоит сбрасывать со счетов и то, что значительную часть времени в году хозяева проводят на придомовой
      территории. Красивая отделка способствует только позитивным эмоциям.</p>
    <p class="content-text">Для фасадов мы чаще всего используем следующие виды отделки:</p>
    <ul class="content-text">
      <li>Декоративный кирпич<a class="gallery content-img-right" href="{% static "content/Remont_02.jpg" %}">
        {% with url_path=MEDIA_URL|add:"content/Remont_02.jpg" %}
          {% thumbnail url_path "250x187" crop="center" format="PNG" as im %}
            <img class="img-responsive content-img" src="{{ im.url }}" alt="{{ im.url }}">
          {% endthumbnail %}
        {% endwith %}
      </a></li>
      <li>Натуральный или искусственный камень</li>
      <li>Теплоизоляционные панели</li>
      <li>Отделка декоративной штукатуркой</li>
      <li>Фасадные краски</li>
      <li>Отделка сайдингом</li>
      <li>Керамическую плитку</li>
      <li>Блок-хаус</li>
    </ul>
    <p class="content-text">Обшивка сайдингом, блок-хаусом и кирпичом, монтаж плит утепления и нанесение декоративной
      штукатурки ведутся с инвентарных строительных лесов. Их установка и демонтаж проводятся способом, исключающим
      нанесение вреда растительности и любым предметам ландшафта.</p>
    <h3>Отделка дома внутри</h3>
    <p class="content-text">Внутренняя отделка помещений является воплощением дизайнерских решений – своих собственных
      или профессионального дизайнера. Именно это должно быть отправной точкой ремонта. В зависимости от дизайна
      подбираются материалы, задается последовательность операций. Как правило, работы выполняется сверху вниз, хотя
      бывают и исключения.</p>
    <p class="content-text">Комплексный ремонт и отделка включают:</p>
    <ul class="content-text">
      <li>Ремонт/монтаж потолка (одноуровневый, многоуровневый, подвесной, натяжной)</li>
      <li>Ремонт стен (покраска, обои, обои под покраску, гипсокартон, керамическая плитка, декоративный камень,
        лепнина, стеновые панели для внутренней отделки и т.д.)
      </li>
      <li>Ремонт откосов</li>
      <li>Окраска дверей, окон</li>
      <li>Ремонт/монтаж напольного покрытия (керамическая плитка, линолеум, ламинат, доска)</li>
    </ul>
    <div class="clearfix">
      <div class="gallery-div col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="gallery-stage">
          <a class="gallery" href="{% static "content/Remont_03.jpg" %}">
            {% with url_path=MEDIA_URL|add:"content/Remont_03.jpg" %}
              {% thumbnail url_path "400x300" crop="center" format="PNG" as im %}
                <img class="img-responsive content-img" src="{{ im.url }}" alt="{{ im.url }}">
              {% endthumbnail %}
            {% endwith %}
          </a>
        </div>
      </div>
      <div class="gallery-div col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="gallery-stage">
          <a class="gallery" href="{% static "content/Remont_06.jpg" %}">
            {% with url_path=MEDIA_URL|add:"content/Remont_06.jpg" %}
              {% thumbnail url_path "400x300" crop="center" format="PNG" as im %}
                <img class="img-responsive content-img" src="{{ im.url }}" alt="{{ im.url }}">
              {% endthumbnail %}
            {% endwith %}
          </a>
        </div>
      </div>
      <div class="gallery-div col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="gallery-stage">
          <a class="gallery" href="{% static "content/Remont_07.jpg" %}">
            {% with url_path=MEDIA_URL|add:"content/Remont_07.jpg" %}
              {% thumbnail url_path "400x300" crop="center" format="PNG" as im %}
                <img class="img-responsive content-img" src="{{ im.url }}" alt="{{ im.url }}">
              {% endthumbnail %}
            {% endwith %}
          </a>
        </div>
      </div>
    </div>
    <p class="content-text">Если вы ищете подрядчика на отделочные работы, смело обращайтесь в нашу компанию. Используя
      богатый опыт, мы реализуем любое ваше желание, оперативно выполним работы любой сложности, подскажем нюансы,
      которые несет в себе ремонт каркасного дома, порекомендуем качественные материалы, поможем купить внутреннюю
      отделку и все это по самым доступным ценам. Если вы не получили ответы на все свои вопросы, звоните и мы
      предоставим дополнительную информацию.</p>

    <h4>Заказать расчет стоимости ремонта</h4>

    <div class="content-form" id="remontcalc">
      {% get_remontc_form as calc_form %}
      <form id="remontcalc_form" action="{% url 'thanks_remont' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="clearfix">
          <div id="{{ calc_form.fio.name }}" class="fieldWrapper form-group">
            <label for="{{ calc_form.fio.id_for_label }}">{{ calc_form.fio.label }}:</label>
            {{ calc_form.fio }}
          </div>
          <div id="{{ calc_form.email.name }}" class="fieldWrapper form-group">
            <label for="{{ calc_form.email.id_for_label }}">{{ calc_form.email.label }}:</label>
            {{ calc_form.email }}
          </div>
          <div id="{{ calc_form.phone.name }}" class="fieldWrapper form-group">
            <label for="{{ calc_form.phone.id_for_label }}">{{ calc_form.phone.label }}:</label>
            {{ calc_form.phone }}
          </div>
          <div id="{{ calc_form.note.name }}" class="fieldWrapper form-group">
            <label for="{{ calc_form.note.id_for_label }}">{{ calc_form.note.label }}:</label>
            {{ calc_form.note }}
          </div>
          <div id="{{ calc_form.file.name }}" class="fieldWrapper form-group">
            <label for="{{ calc_form.file.id_for_label }}">{{ calc_form.file.label }}:</label>
            {{ calc_form.file }}
          </div>
        </div>
        <button type="submit" class="button-calculation" style="margin-top: 10px">
          <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>Заказать
        </button>

      </form>
    </div>
  </div> <!-- /.content-article -->
  
  <script>
      $(document).ready(function () {
          $("form#remontcalc_form").submit(function () {
              var formData = new FormData($(this)[0]);
              $('.form-err').detach();
              $.ajax({
                  url: $(this).attr('action'),
                  type: 'POST',
                  data: formData,
                  async: true,
                  success: function (data) {
                      if (data.status === 1) {
                          $('#remontcalc [name="fio"]').val('');
                          $('#remontcalc [name="email"]').val('');
                          $('#remontcalc [name="phone"]').val('');
                          $('#remontcalc [name="note"]').val('');
                          window.location = "{% url 'thanks_remont' %}"
                      }
                      else {
                          $.each(data.errors, function (index, value) {
                              $('#' + index + '').append("<span class='form-err text-danger'>" + value[0] + "</span>");
                          });
                      }
                  },
                  contentType: false,
                  processData: false
              });
              return false;
          });
      });
  </script>
{% endblock %}