{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
  <ol class="breadcrumbs">
    <li><a href="\">Главная</a></li>
    <li class="active">Ремонт и отделка</li>
  </ol>

  <div class="content-article clearfix">
    <h2>Ремонт и отделка</h2>
    <p class="content-text">Наша компания оказывает услуги по наружной и внутренней отделке жилой и нежилой недвижимости. У нас можно заказать косметический или капитальный ремонт коттеджей под ключ, а также дизайнерскую отделку VIP материалами. Данная услуга поможет не только обновить внешность вашего жилища, но и внести в дизайн что-то новое. Если интерьер вам приелся, то это повод задуматься над тем, чтобы его изменить. К решению этой задачи можно подходить двумя путями: кардинально изменить интерьер или внести несколько свежих штрихов. Решение, конечно же, за вами.</p>
    <p class="content-text">Ремонт в частном доме с применением современных отделочных материалов – достаточно сложный процесс, требующий знания и опыт. Учитывая высокую стоимость материалов, эксперименты без досконального знания предмета обычно приводят к увеличению стоимости ремонта. Наружная и внутренняя отделка дома проводится по определенному алгоритму, с соблюдением четкой последовательности операций. Профессионалы соблюдают ее практически на «автомате». Только в точности соблюдая технологию, можно получить высокий результат.</p>
    <p class="content-text">Отделка фасадов и внутренняя отделка не зависят друг от друга, поэтому их можно вести одновременно или развести по времени.</p>
    <h3>Наружная отделка дома</h3>
    <p class="content-text">Ремонт дома снаружи может преследовать несколько целей. Во-первых, он защищает стены от внешних разрушающих факторов. Во-вторых, в него можно включить работы по теплоизоляции. В-третьих, внешний вид дома оказывает влияние на восприятие окружающих. Именно по наружной отделке складывается первое впечатление о доме. Не стоит сбрасывать со счетов и то, что значительную часть времени в году хозяева проводят на придомовой территории. Красивая отделка способствует только позитивным эмоциям.</p>
    <p class="content-text">Для фасадов мы чаще всего используем следующие виды отделки:</p>
    <ul class="content-text">
      <li>Декоративный кирпич</li>
      <li>Натуральный или искусственный камень</li>
      <li>Теплоизоляционные панели</li>
      <li>Отделка декоративной штукатуркой</li>
      <li>Фасадные краски</li>
      <li>Отделка сайдингом</li>
      <li>Керамическую плитку</li>
      <li>Блок-хаус</li>
    </ul>
    <p class="content-text">Обшивка сайдингом, блок-хаусом и кирпичом, монтаж плит утепления и нанесение декоративной штукатурки ведутся с инвентарных строительных лесов. Их установка и демонтаж проводятся способом, исключающим нанесение вреда растительности и любым предметам ландшафта.</p>
    <h3>Отделка дома внутри</h3>
    <p class="content-text">Внутренняя отделка помещений является воплощением дизайнерских решений – своих собственных или профессионального дизайнера. Именно это должно быть отправной точкой ремонта. В зависимости от дизайна подбираются материалы, задается последовательность операций. Как правило, работы выполняется сверху вниз, хотя бывают и исключения.</p>
    <p class="content-text">Комплексный ремонт и отделка включают:</p>
    <ul class="content-text">
      <li>Ремонт/монтаж потолка (одноуровневый, многоуровневый, подвесной, натяжной)</li>
      <li>Ремонт стен (покраска, обои, обои под покраску, гипсокартон, керамическая плитка, декоративный камень, лепнина, стеновые панели для внутренней отделки и т.д.)</li>
      <li>Ремонт откосов</li>
      <li>Окраска дверей, окон</li>
      <li>Ремонт/монтаж напольного покрытия (керамическая плитка, линолеум, ламинат, доска)</li>
    </ul>
    <p class="content-text">Если вы ищете подрядчика на отделочные работы, смело обращайтесь в нашу компанию. Используя богатый опыт, мы реализуем любое ваше желание, оперативно выполним работы любой сложности, подскажем нюансы, которые несет в себе ремонт каркасного дома, порекомендуем качественные материалы, поможем купить внутреннюю отделку и все это по самым доступным ценам. Если вы не получили ответы на все свои вопросы, звоните и мы предоставим дополнительную информацию.</p>
  </div> <!-- /.content-article -->
{% endblock %}