{% extends "base.html" %}
{% load staticfiles %}
{% load thumbnail %}
{% load core_tags %}

{% block title %}Фундаменты{% endblock %}
{% block content %}
  <ol class="breadcrumbs">
    <li><a href="\">Главная</a></li>
    <li class="active">Фундаменты</li>
  </ol>

  <div class="content-article clearfix">
    <h2>Строительство фундаментов</h2>
    <p class="content-text">Фундамент – это основа основ любого строения. Любые ошибки при его возведении обходятся
      слишком дорого, и поэтому данная область не терпит дилетантов. В нашей компании можно заказать надежный фундамент
      для дома, коттеджа, бани, гаража и любого индивидуального строения. Мы понимаем, что строительство даже небольшого
      дома – весьма затратное дело. Даже если вы ограничены в финансах, планируете растянуть строительство на несколько
      лет или выполнить часть работ собственными силами, бетонный фундамент лучше заказать у специалистов.</p>
    <h3>Какие услуги мы оказываем?</h3>
    <p class="content-text">Мы досконально знаем, как сделать фундамент, чтобы он прослужил не менее 100 лет. После
      обращения и предварительной договоренности наш специалист выезжает на место для осмотра участка и проведения
      геодезических измерений. В некоторых случаях необходимо провести геологическое исследование с целью определения
      состава и особенностей грунта. На их основании предлагается наиболее оптимальный вариант фундамента и, если
      заказчик не возражает, мы выполняем проектно-сметную документацию. В проекте отражаются все объемы работ, перечень
      необходимых материалов и расценки. После согласования бригада выезжает на место и производится заливка.</p>
    <h3>Какие типы фундаментов мы строим?</h3>
    <ul class="content-text">
      <li>Ленточный фундамент</li>
      <li>Винтовой фундамент</li>
      <li>Фундамент ТИСЭ</li>
    </ul>
    <p class="content-text"><b>Ленточный фундамент</b> представляет собой замкнутый контур из монолитных железобетонных
      балок,
      являющихся основанием для всех несущих элементов здания. Его можно использовать под любой тип малоэтажного
      строения. При строительстве загородных домов и дач чаще всего используется именно этот тип. В зависимости от
      глубины заложения ленточный фундамент бывает мелкозаглубленный и глубокозаглубленный. Укладывается на
      подготовленное основание (песчано-гравийную подушка). При возведении легких строений подушкой можно пренебречь,
      достаточно хорошо утрамбовать почву.</p>
    <div class="clearfix">
      <div class="gallery-div col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="gallery-stage">
          <a class="gallery" href="{% static "content/fundament_01.jpg" %}">
            {% with url_path=MEDIA_URL|add:"content/fundament_01.jpg" %}
              {% thumbnail url_path "400x300" crop="center" format="PNG" as im %}
                <img class="img-responsive content-img" src="{{ im.url }}" alt="{{ im.url }}">
              {% endthumbnail %}
            {% endwith %}
          </a>
        </div>
      </div>
      <div class="gallery-div col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="gallery-stage">
          <a class="gallery" href="{% static "content/fundament_02.jpg" %}">
            {% with url_path=MEDIA_URL|add:"content/fundament_02.jpg" %}
              {% thumbnail url_path "400x300" crop="center" format="PNG" as im %}
                <img class="img-responsive content-img" src="{{ im.url }}" alt="{{ im.url }}">
              {% endthumbnail %}
            {% endwith %}
          </a>
        </div>
      </div>
      <div class="gallery-div col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="gallery-stage">
          <a class="gallery" href="{% static "content/fundament_03.jpg" %}">
            {% with url_path=MEDIA_URL|add:"content/fundament_03.jpg" %}
              {% thumbnail url_path "400x300" crop="center" format="PNG" as im %}
                <img class="img-responsive content-img" src="{{ im.url }}" alt="{{ im.url }}">
              {% endthumbnail %}
            {% endwith %}
          </a>
        </div>
      </div>
    </div>
    <p id="FundSv" class="content-text"><b>Винтовой фундамент</b> используется под строительство легких домов. Представляет собой
      специальную сваю, закручиваемую в грунт ниже уровня промерзания. По верху свай, выступающих над уровнем земли,
      укладывается обвязка будущего дома. Считается очень экономичным видом, требующим минимум подготовки. При его
      устройстве отпадает необходимость в проведении земляных работ.</p>
    <div class="clearfix">
      <div class="gallery-div col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="gallery-stage">
          <a class="gallery" href="{% static "content/fundament_07.jpg" %}">
            {% with url_path=MEDIA_URL|add:"content/fundament_07.jpg" %}
              {% thumbnail url_path "400x300" crop="center" format="PNG" as im %}
                <img class="img-responsive content-img" src="{{ im.url }}" alt="{{ im.url }}">
              {% endthumbnail %}
            {% endwith %}
          </a>
        </div>
      </div>
      <div class="gallery-div col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="gallery-stage">
          <a class="gallery" href="{% static "content/fundament_08.jpg" %}">
            {% with url_path=MEDIA_URL|add:"content/fundament_08.jpg" %}
              {% thumbnail url_path "400x300" crop="center" format="PNG" as im %}
                <img class="img-responsive content-img" src="{{ im.url }}" alt="{{ im.url }}">
              {% endthumbnail %}
            {% endwith %}
          </a>
        </div>
      </div>
      <div class="gallery-div col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="gallery-stage">
          <a class="gallery" href="{% static "content/FundSv_16.jpg" %}">
            {% with url_path=MEDIA_URL|add:"content/FundSv_16.jpg" %}
              {% thumbnail url_path "400x300" crop="center" format="PNG" as im %}
                <img class="img-responsive content-img" src="{{ im.url }}" alt="{{ im.url }}">
              {% endthumbnail %}
            {% endwith %}
          </a>
        </div>
      </div>
    </div>
    <p class="content-text"><b>Фундамент ТИСЭ</b> выполняется по особенной технологии, позволяющей снизить затраты на
      строительство. Представляет собой ряд свай, связанных монолитным железобетонным ростверком. Благодаря воздушному
      зазору между землей и нижним поясом ростверка, возникающие при пучении грунта силы не действуют на фундамент, что
      повышает его надежность.</p>
    <div class="clearfix">
      <div class="gallery-div col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="gallery-stage">
          <a class="gallery" href="{% static "content/fundament_04.jpg" %}">
            {% with url_path=MEDIA_URL|add:"content/fundament_04.jpg" %}
              {% thumbnail url_path "400x300" crop="center" format="PNG" as im %}
                <img class="img-responsive content-img" src="{{ im.url }}" alt="{{ im.url }}">
              {% endthumbnail %}
            {% endwith %}
          </a>
        </div>
      </div>
      <div class="gallery-div col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="gallery-stage">
          <a class="gallery" href="{% static "content/fundament_05.jpg" %}">
            {% with url_path=MEDIA_URL|add:"content/fundament_05.jpg" %}
              {% thumbnail url_path "400x300" crop="center" format="PNG" as im %}
                <img class="img-responsive content-img" src="{{ im.url }}" alt="{{ im.url }}">
              {% endthumbnail %}
            {% endwith %}
          </a>
        </div>
      </div>
      <div class="gallery-div col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="gallery-stage">
          <a class="gallery" href="{% static "content/fundament_06.jpg" %}">
            {% with url_path=MEDIA_URL|add:"content/fundament_06.jpg" %}
              {% thumbnail url_path "400x300" crop="center" format="PNG" as im %}
                <img class="img-responsive content-img" src="{{ im.url }}" alt="{{ im.url }}">
              {% endthumbnail %}
            {% endwith %}
          </a>
        </div>
      </div>
    </div>
    <h3>Почему стоит обратиться к нам?</h3>
    <p class="content-text">Мы обеспечим:</p>
    <ul class="content-text">
      <li>Бесплатный выезд специалиста на объект</li>
      <li>Оптимальный вариант фундамента с учетом особенностей участка и планируемых нагрузок</li>
      <li>Бетон для фундамента нужной марки</li>
      <li>Квалифицированное выполнение работ по доступным ценам</li>
      <li>Полное документальное оформление (договор, проект, смета, акты скрытых работ, акты выполненных работ,
        фотоотчет)
      </li>
      <li>Гарантию</li>
      <li>Индивидуальный подход к каждому клиенту</li>
    </ul>
    <p class="content-text">Мы досконально знаем, как залить «правильный фундамент» с наименьшими трудовыми и
      материальными затратами. Уверены, что вы оцените наши конкурентные преимущества. Весь наколенный нами опыт –
      гарантия высокого качества, в чем уже успели убедиться многочисленные клиенты. Звоните, и мы рассчитаем сколько
      стоит фундамент, поможем выбрать наиболее подходящий тип, подскажем какая гидроизоляция фундамента самая надежная,
      как его утеплить и ответим на любые другие интересующие вопросы.</p>

    <h4>Заказать расчет фундамента</h4>

    <div class="content-form" id="fundcalc">
      {% get_fundc_form as calc_form %}
      <form id="fundcalc_form" action="{% url 'thanks_fund' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div id="{{ calc_form.fio.name }}" class="fieldWrapper form-group">
          <label for="{{ calc_form.fio.id_for_label }}">{{ calc_form.fio.label }}:</label>
          {{ calc_form.fio }}
        </div>
        <div id="{{ calc_form.email.name }}" class="fieldWrapper form-group">
          <label for="{{ calc_form.email.id_for_label }}">{{ calc_form.email.label }}:</label>
          {{ calc_form.email }}
        </div>
        <div id="{{ calc_form.phone.name }}" class="fieldWrapper form-group">
          <label for="{{ calc_form.phone.id_for_label }}">{{ calc_form.phone.label }}:</label>
          {{ calc_form.phone }}
        </div>
        <div id="{{ calc_form.note.name }}" class="fieldWrapper form-group">
          <label for="{{ calc_form.note.id_for_label }}">{{ calc_form.note.label }}:</label>
          {{ calc_form.note }}
        </div>
        <div id="{{ calc_form.file.name }}" class="fieldWrapper form-group">
          <label for="{{ calc_form.file.id_for_label }}">{{ calc_form.file.label }}:</label>
          {{ calc_form.file }}
        </div>
        {% comment %}
        <input type="hidden" name="{{ calc_form.kit.name }}" id="{{ calc_form.kit.id_for_label }}"
               value="{{ kit.pk }}">
        <input type="hidden" name="{{ calc_form.kit_numb.name }}" id="{{ calc_form.kit_numb.id_for_label }}">
{% endcomment %}

        <button type="submit" class="button-calculation">
          <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>Заказать
        </button>

      </form>
    </div>
  </div> <!-- /.content-article -->

  <script>
      $(document).ready(function () {
          $("form#fundcalc_form").submit(function () {
              var formData = new FormData($(this)[0]);
              $('.form-err').detach();
              $.ajax({
                  url: $(this).attr('action'),
                  type: 'POST',
                  data: formData,
                  async: true,
                  success: function (data) {
                      if (data.status === 1) {
{% comment %}
                          $('#fundcalc').modal('hide');
{% endcomment %}
                          $('#fundcalc [name="fio"]').val('');
                          $('#fundcalc [name="email"]').val('');
                          $('#fundcalc [name="phone"]').val('');
                          $('#fundcalc [name="note"]').val('');
                          window.location = "{% url 'thanks_prj' %}"
                      }
                      else {
                          $.each(data.errors, function (index, value) {
                              $('#' + index + '').append("<span class='form-err text-danger'>" + value[0] + "</span>");
                          });
                      }
                  },
                  contentType: false,
                  processData: false
              });
              return false;
          });
      });
  </script>
{% endblock %}