{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
  <ol class="breadcrumbs">
    <li><a href="\">Главная</a></li>
    <li class="active">Технология "Комбинированные термопанели"</li>
  </ol>

  <div class="content-article clearfix">
    <h2>Каркасные термопанели</h2>
    <p class="content-text">Почти ежемесячно на рынке строительных материалов появляются новинки, которые обладают
      значительными преимуществами, по сравнению со стандартными стройматериалами. Одними из них являются
      термопанели.</p>
    <p class="content-text">Компания «Красный двор» производит уникальные строительные материалы, которые с успехом
      могут использоваться при возведении каркасных домов, а также строительстве и других жилых строений</p>
    <h3>Что же представляют собой комбинированные термопанели и где их можно применять?</h3>
    <p class="content-text">Односторонняя комбинированная термопанель – это запатентованная технология нашей фирмы. Она
      представляет собой конструкцию, состоящую из листового стройматериала (ЦСП, GreenBoard, OSB) и утеплителя, с одной
      стороны прикрепленного к основе. В качестве такого материала обычно применяется минеральная базальтовая вата. При
      производстве подобных домокомплектов мы используем собственные производственные линии.</p>
    <p class="content-text">Каркас быстровозводизводимого дома собирается таким же образом, как и здания из обычных
      традиционных СИП – панелей. При этом, стена или перегородка дома после сборки остается с открытым
      утеплителем. </p>
    <p class="content-text">Инновационная технология создания комбинированных термопанелей позволяет стройкомпаниям
      значительно сэкономить на строительстве домов. </p>
    <h3>Преимущества использования комбинированных термопанелей</h3>
    <p class="content-text">Данные элементы конструкции обладают следующими преимуществами перед панельным и СИП –
      панельным строительством:</p>
    <ol class="content-text">
      <li>Благодаря отсутствию одного листа ОSB или GreenBoard достигается существенная экономия отделочных материалов
        при сооружении каркасных домов.
      </li>
      <li>Отделочный материал не только украшает комнату, но и значительно укрепляет сам каркас конструкции жилого
        дома.
      </li>
      <li>Применение новой технологии позволяет значительно улучшить качество изготовления каркасных домов под ключ и не
        требует применения тепловизора при проверке теплового контура.
      </li>
      <li>В таком утеплителе очень легко проложить коммуникации, используя пластиковые или металлические гофротрубы. При
        этом легко вывести кабель, установить розетку или выключатель.
      </li>
    </ol>
    <p class="content-text">В настоящее время, данная уникальная технология будет отличным выбором, как клиентам,
      которые строят быстровозводимые здания под ключ, так и строительным компаниям, и фирмам, занимающихся проектами
      жилых сооружений и строительством каркасных домов.</p>

  </div> <!-- /.content-article -->
{% endblock %}