{% extends "base.html" %}
{% load staticfiles %}
{% load thumbnail %}

{% block content %}
  <ol class="breadcrumbs">
    <li><a href="\">Главная</a></li>
    <li class="active">Технология "Каркасные дома"</li>
  </ol>

  <div class="content-article clearfix">
    <h2>Каркасные дома</h2>
    <p class="content-text">Дома, построенные по каркасной технологии, в полной мере отвечают требованиям современности.
      Они долговечны, комфортны, прочны, экологичны и относительно недороги. Каркасные дома, которые возводим мы,
      прекрасно выглядят</p>
    <div class="clearfix">
      <div class="gallery-div col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="gallery-stage">
          <a class="gallery" href="{% static "content/OurKarkas_29.jpg" %}">
            {% with url_path=MEDIA_URL|add:"content/OurKarkas_29.jpg" %}
              {% thumbnail url_path "400x300" crop="center" format="PNG" as im %}
                <img class="img-responsive content-img" src="{{ im.url }}" alt="{{ im.url }}">
              {% endthumbnail %}
            {% endwith %}
          </a>
        </div>
      </div>
      <div class="gallery-div col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="gallery-stage">
          <a class="gallery" href="{% static "content/OurKarkas_15.jpg" %}">
            {% with url_path=MEDIA_URL|add:"content/OurKarkas_15.jpg" %}
              {% thumbnail url_path "400x300" crop="center" format="PNG" as im %}
                <img class="img-responsive content-img" src="{{ im.url }}" alt="{{ im.url }}">
              {% endthumbnail %}
            {% endwith %}
          </a>
        </div>
      </div>
      <div class="gallery-div col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="gallery-stage">
          <a class="gallery" href="{% static "content/OurKarkas_12.jpg" %}">
            {% with url_path=MEDIA_URL|add:"content/OurKarkas_12.jpg" %}
              {% thumbnail url_path "400x300" crop="center" format="PNG" as im %}
                <img class="img-responsive content-img" src="{{ im.url }}" alt="{{ im.url }}">
              {% endthumbnail %}
            {% endwith %}
          </a>
        </div>
      </div>
    </div>
    <p class="content-text">и обладают всеми достоинствами, предъявляемыми к современному жилищу. Помимо всех описанных
      преимуществ, они несут с собой еще и материальную выгоду благодаря низким эксплуатационным затратам.</p>
    <p class="content-text">Специалисты нашей компании имеют многолетний опыт на строительном рынке. Отдельным
      направлением нашей деятельности является строительство каркасных домов.</p>
    <div class="clearfix">
      <div class="col-lg-2 hidden-xs"></div>
      <div class="gallery-div col-md-4 col-sm-6 col-xs-12">
        <div class="gallery-stage">
          <a class="gallery" href="{% static "content/karkas_01.jpg" %}">
            {% with url_path=MEDIA_URL|add:"content/karkas_01.jpg" %}
              {% thumbnail url_path "400x300" crop="center" format="PNG" as im %}
                <img class="img-responsive content-img" src="{{ im.url }}" alt="{{ im.url }}">
              {% endthumbnail %}
            {% endwith %}
          </a>
        </div>
      </div>
      <div class="gallery-div col-md-4 col-sm-6 col-xs-12">
        <div class="gallery-stage">
          <a class="gallery" href="{% static "content/karkas_02.jpg" %}">
            {% with url_path=MEDIA_URL|add:"content/karkas_02.jpg" %}
              {% thumbnail url_path "400x300" crop="center" format="PNG" as im %}
                <img class="img-responsive content-img" src="{{ im.url }}" alt="{{ im.url }}">
              {% endthumbnail %}
            {% endwith %}
          </a>
        </div>
      </div>
      <div class="col-md-2 hidden-xs"></div>
    </div>
    <p class="content-text">Если вы мечтаете о недорогом доме для сезонного или постоянного проживания, и при этом
      хотите получить его в максимально короткие сроки, мы поможем вам осуществить задуманное.</p>
    <h3>Преимущества каркасной технологии</h3>
    <ul class="content-text">
      <li>Можно строить в любое время года.</li>
      <li>Быстрый монтаж. Строительство производится практически с колес без привлечения строительной техники, что
        позволяет снизить затраты.
      </li>
      <li>Высокие энергосберегающие свойства. Экономия затрат на отопление в каркасной доме может достигать 70%. Зимой
        он сохраняет тепло, а летом прохладу.
      </li>
      <li>Типовой проект можно индивидуализировать выбором внешней отделки и перепланировкой помещений.</li>
      <li>Стены каркасного дома и элементы крыши имеют относительно небольшой вес, что позволяет снизить затраты на
        фундамент.
      </li>
      <li>Используются экологически чистые материалы.</li>
    </ul>
    <h3>Каркасные дома под ключ</h3>
    <p class="content-text">У нас можно заказать каркасный дом по оптимальной цене под ключ. Заказывая услугу в одном
      месте, вы экономите время и деньги. В итоге вы получите добротный дом с внутренней и наружной отделкой и со всеми
      системами жизнеобеспечения. В нашем каталоге представлено множество типовых проектов и фотографий готовых
      объектов. Если вам не придется по душе ни один из них, наши проектировщики разработают индивидуальный проект с
      учетом всех ваших пожеланий.</p>
    <p class="content-text">Секрет прочности наших домов заключается в тщательном подборе материалов. Мы используем
      только сухие пиломатериалы и никогда не экономим их в ущерб качеству. Сборка каркасно-щитовых домов производится
      по типовым технологическим картам, в которых прорисован каждый узел, каждый элемент, указано количество и тип
      метизов. На всех этапах производства и строительства осуществляется строгий контроль инженерно-техническими
      работниками. Развитая материально-техническая база дает нам возможность строить в любом регионе РФ, а наша
      продукция ориентирована на самый широкий круг потребителей. Мы готовы построить как недорогой домик для дачи, так
      и большой коттедж с эксклюзивной отделкой.
    </p>
    <p class="content-text">Современное каркасное строительство требует простых, недорогих подходов. Если высчитает себя
      практичным человеком, оцените все достоинства этой технологии, закажите каркасный дом под ключ в нашей
      компании.</p>

  </div> <!-- /.content-article -->
{% endblock %}