{% extends "base.html" %}
{% load staticfiles %}
{% load core_tags %}
{% load thumbnail %}

{% block title %}Реконструкция частного дома{% endblock %}
{% block meta_seo %}
  <meta name="keywords"
        content="реконструкция, частного, деревянного, дома, восстановление, перепланировка, ремонт"/>
  <meta name="description"
        content="Выполним работы, связанные с реконструкцией частного дома или коттеджа. Занимаемся строительством домов из СИП панелей, комбинированных термопанелей, каркасных домов">
{% endblock %}
{% block content %}
  <ol class="breadcrumbs">
    <li><a href="\">Главная</a></li>
    <li class="active">Реконструкции домов</li>
  </ol>

  <div class="content-article clearfix">
    <h2>Реконструкции домов</h2>
    <p class="content-text">Если дом не отвечает вашим представлениям о красоте и комфорте, а его технического состояние
      далеко от совершенства, это легко исправить, достаточно обратиться в нашу компанию. Реконструкция частного дома
      позволяет вдохнуть в него новую жизнь, сделать более комфортным и презентабельным. Мы готовы взяться за
      восстановление абсолютно любых объектов, будь то жилая недвижимость, баня, гараж, офисное здание и др. Поможем
      снести старый дом, сделать пристройку, оборудовать мансарду, выполнить перепланировку, заменить коммуникации.</p>
    <div class="clearfix">
      <div class="gallery-div col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="gallery-stage">
          <a class="gallery" href="{% static "content/RecZah_03.jpg" %}">
            {% with url_path=MEDIA_URL|add:"content/RecZah_03.jpg" %}
              {% thumbnail url_path "400x300" crop="center" format="PNG" as im %}
                <img class="img-responsive content-img" src="{{ im.url }}" alt="{{ im.url }}">
              {% endthumbnail %}
            {% endwith %}
          </a>
        </div>
      </div>
      <div class="gallery-div col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="gallery-stage">
          <a class="gallery" href="{% static "content/RecVes_00.jpg" %}">
            {% with url_path=MEDIA_URL|add:"content/RecVes_00.jpg" %}
              {% thumbnail url_path "400x300" crop="center" format="PNG" as im %}
                <img class="img-responsive content-img" src="{{ im.url }}" alt="{{ im.url }}">
              {% endthumbnail %}
            {% endwith %}
          </a>
        </div>
      </div>
      <div class="gallery-div col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="gallery-stage">
          <a class="gallery" href="{% static "content/reconstrukcii_01.jpg" %}">
            {% with url_path=MEDIA_URL|add:"content/reconstrukcii_01.jpg" %}
              {% thumbnail url_path "400x300" crop="center" format="PNG" as im %}
                <img class="img-responsive content-img" src="{{ im.url }}" alt="{{ im.url }}">
              {% endthumbnail %}
            {% endwith %}
          </a>
        </div>
      </div>
    </div>
    <p class="content-text">Восстановление кирпичных и деревянных строений имеет свою специфику. Это связано с
      конструктивными особенностями, весом зданий, состоянием несущих конструкций и фундамента, состоянием
      теплоизоляционного слоя и многими другими факторами. Капитальная реконструкция дома начинается с обследования и
      изучения проектной документации, если такая имеется. При необходимости делается расчет несущих конструкций.
      Встречаются случаи, когда дом разрушается из-за ошибок, допущенных при заливке фундамента. В этом случае следует
      провести мероприятия по его усилению. Комплексное обследование помогает выявить слабые места, составить документы
      на реконструкцию и согласовать план работ.</p>
    <h3>Какие работы мы выполняем?</h3>
    <ul class="content-text">
      <li>Комплексный ремонт и реконструкция жилого дома, гаража, бани и любого другого строения (кирпичные,
        шлакоблочные, каркасные, каркасно-щитовые и др. типы объектов)
      </li>
      <li>Восстановление несущих способностей стен<a class="gallery content-img-right"
                                                     href="{% static "content/reconstrukcii_02.jpg" %}">
        {% with url_path=MEDIA_URL|add:"content/reconstrukcii_02.jpg" %}
          {% thumbnail url_path "250x187" crop="center" format="PNG" as im %}
            <img class="img-responsive content-img" src="{{ im.url }}" alt="{{ im.url }}">
          {% endthumbnail %}
        {% endwith %}
      </a></li>
      <li>Восстановление несущих способностей кровли</li>
      <li>Усиление фундаментов</li>
      <li>Пристройка дополнительных этажей</li>
      <li>Перепланировка помещений</li>
      <li>Монтаж и восстановление гидро- и теплоизоляции</li>
      <li>Перенос или замена коммуникаций</li>
      <li>Ремонт отмостки</li>
      <li>Замена окон и дверей</li>
    </ul>
    <p class="content-text">Все перечисленные виды работ мы осуществляем на законных основаниях. Все необходимые
      согласования мы получаем до проведения работ.</p>
    <h3>Почему стоит обратиться к нам?</h3>
    <p class="content-text">Имея многолетний опыт работы на строительном рынке и развитую материально-техническую базу,
      мы готовы предложить самые выгодные условия сотрудничества. Сделав заказ у нас, вы получите следующие
      преимущества:</p>
    <ul class="content-text">
      <li>Индивидуальный подход. Мы всегда открыты к общению, решаем все вопросы оперативно и не пускаем их на самотек
      </li>
      <li>Документальное сопровождение (разрешение на реконструкцию частного дома, смета, проект реконструкции, смета,
        акты скрытых работ, акты выполненных работ)
      </li>
      <li>Выполнение работ в течение всего календарного года. Кроме того мы готовы организовать работу без выходных</li>
      <li>Готовность пойти навстречу клиенту и внести коррективы по ходу выполнения работ</li>
      <li>Минимум простоев из-за отсутствия техники. В работе задействуется собственная спецтехника и механизмы</li>
      <li>Гибкую ценовую политику</li>
    </ul>
    <p class="content-text">Если вы ищете надежного подрядчика для реконструкции дома, коттеджа, дачи, или офисного
      помещения, смело обращайтесь к нам. Гарантируем, что в нашем лице найдете надежного партнера. Если вы не получили
      ответы на свои вопросы, обращайтесь к нам и мы с радостью предоставим дополнительную информацию.</p>

    <h4>Заказать расчет реконструкции</h4>

    <div class="content-form" id="reconcalc">
      {% get_reconc_form as calc_form %}
      <form id="reconcalc_form" action="{% url 'thanks_recon' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="clearfix">
          <div id="{{ calc_form.fio.name }}" class="fieldWrapper form-group">
            <label for="{{ calc_form.fio.id_for_label }}">{{ calc_form.fio.label }}:</label>
            {{ calc_form.fio }}
          </div>
          <div id="{{ calc_form.email.name }}" class="fieldWrapper form-group">
            <label for="{{ calc_form.email.id_for_label }}">{{ calc_form.email.label }}:</label>
            {{ calc_form.email }}
          </div>
          <div id="{{ calc_form.phone.name }}" class="fieldWrapper form-group">
            <label for="{{ calc_form.phone.id_for_label }}">{{ calc_form.phone.label }}:</label>
            {{ calc_form.phone }}
          </div>
          <div id="{{ calc_form.note.name }}" class="fieldWrapper form-group">
            <label for="{{ calc_form.note.id_for_label }}">{{ calc_form.note.label }}:</label>
            {{ calc_form.note }}
          </div>
          <div id="{{ calc_form.file.name }}" class="fieldWrapper form-group">
            <label for="{{ calc_form.file.id_for_label }}">{{ calc_form.file.label }}:</label>
            {{ calc_form.file }}
          </div>
        </div>
        <button type="submit" class="button-calculation" style="margin-top: 10px">
          <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>Заказать
        </button>

      </form>
    </div>
  </div> <!-- /.content-article -->

  <script>
      $(document).ready(function () {
          $("form#reconcalc_form").submit(function () {
              var formData = new FormData($(this)[0]);
              $('.form-err').detach();
              $.ajax({
                  url: $(this).attr('action'),
                  type: 'POST',
                  data: formData,
                  async: true,
                  success: function (data) {
                      if (data.status === 1) {
                          $('#reconcalc [name="fio"]').val('');
                          $('#reconcalc [name="email"]').val('');
                          $('#reconcalc [name="phone"]').val('');
                          $('#reconcalc [name="note"]').val('');
                          window.location = "{% url 'thanks_recon' %}"
                      }
                      else {
                          $.each(data.errors, function (index, value) {
                              $('#' + index + '').append("<span class='form-err text-danger'>" + value[0] + "</span>");
                          });
                      }
                  },
                  contentType: false,
                  processData: false
              });
              return false;
          });
      });
  </script>
{% endblock %}