{% extends "base.html" %}

{% block title %}Красный двор{% endblock %}
{% block meta_seo %}
  <meta name="keywords"
        content="благодарность, заявка, расчет ремонта дома, онлайн, калькулятор"/>
  <meta name="description"
        content="Благодарность за заявку на расчет реконструкции">
{% endblock %}

{% block content %}
  <ol class="breadcrumbs">
    <li><a href="\">Главная</a></li>
    <li class="active">Заявка на расчет стоимости ремонта</li>
  </ol>

  <div class="content-page clearfix">
    <h2>Спасибо за заявку!</h2>
    <p class="content-text">Ваша заявка принята.<br>
    Благодарим за обращение в нашу компанию.<br>
    Вы сделали правильный выбор!</p>
    <p class="content-text">После ознакомления с текстом Вашей заявки, мы обязательно Вам ответим.<br>
    С уважением, команда Красный двор.</p>
  </div>
  {% for art in articles %}
    <div class="content-page clearfix">
      <a class="article-title" href="{{ art.get_absolute_url }}">
        <h3>{{ art.name }}</h3>
      </a>
      <p class="content-text">{{ art.description|safe }}</p>
      <a href="{{ art.get_absolute_url }}" class="btn btn-info article-read" role="button">Продолжить чтение</a>
    </div> <!-- /.content-page -->
  {% endfor %}
  <script type="text/javascript">
      $(window).load(function () {
          var yaParams = {order_price: 200, currency: "RUB"};
          yaCounter43178169.reachGoal('thanks_remont', yaParams)
      });
  </script>
{% endblock %}