@import 'https://fonts.googleapis.com/css?family=Raleway';
html {
    position: relative;
    min-height: 100%;
}
body {
    font-size: 13px;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 6vh;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 6vh;
    background-color: #090332;
}
.modal-dialog {
    position: relative;
    display: table;
    overflow-y: auto;
    overflow-x: auto;
    width: auto;
    min-width: 300px;

}
.modal-body {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.panel {
    border: none;
}
.panel-body {
    background-color: #f9f9f9;
}
.panel-info > .panel-heading {
    background-color: #090332;
    color: orange;
    border-color: transparent;
    letter-spacing: 4px;
}
.panel-info > .panel-heading > .sidebar-header:first-letter {
    color: orangered;
}
.form-control {
    font-size: 12px;
    border-radius: 0px;
}
.navbar-nav {
    float: none;
    text-align: center;
}
.navbar-nav > li > a {
    color: #ffd8aa !important;
}
.navbar-nav > li > a:hover {
    color: orange !important;
}
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:focus, .navbar-inverse .navbar-nav > .open > a:hover {
    background-color: #15065a;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover {
    background-color: #15065a;
}
ul.nav{
    float:none !important;
    width:570px;
    margin:0 auto;
}
.dropdown-menu {
    background-color: #090332;
}
.dropdown-menu > li > a {
    color: #ffd8aa;
}
.dv_header {
    min-height: 130px;
    margin-bottom: 0px;
    background-color: #090332;
}
.navbar-text {
    margin-bottom: 5px;
    margin-top: 5px;
    text-align: center;
    color: white !important;
}
.vcenter {
    display: flex;
    align-items: center;
}
.hide-bullets {
    list-style: none;
    margin-left: -40px;
    margin-top: 20px;
}
.dropdown-submenu {
    position: relative;
}
.dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}
.dropdown-submenu:hover > .dropdown-menu {
    display: block;
}
.dropdown-submenu > a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}
.dropdown-submenu:hover > a:after {
    border-left-color: #fff;
}
.dropdown-submenu.pull-left {
    float: none;
}
.dropdown-submenu.pull-left > .dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}
div.square {
    float: left;
    width: 131px;
    font-size: 20px;
}
div.pricedom {
    float: right;
    width: 131px;
    font-size: 20px;
    text-align: right;
}
.domlink {
    font-size: 22px;
    text-align: center;
}
.margin-8 {
    height: 20px;
}