<p class="content-text">В связи с тем, что цены на недвижимость и земельные участки непрерывно растут, многие люди стремятся вложиться именно в строительство домов. В будущем они смогут передать их по наследству или же продать, в любом случае возведение домов впоследствии оправдает себя, так как на сегодняшний день это является самым выгодным вложением капитала.</p>
<p class="content-text">Мысль о строительстве частного дома все чаще приходит в голову горожанам, уставшим от роста преступности, загазованности городской атмосферы, соседства с безответственными и шумными людьми. В долгосрочном плане такое строительство выгоднее, чем покупка квартиры в городе, однако финансовые сложности, связанные с накоплением средств на него, многих приводят в тупик.</p>
<p class="content-text">Чтобы взять кредит на строительство дома, необязательно тратить свое драгоценное время, часами просиживая в интернете и сравнивая условия кредитования у различных банков. Некоторые совершают еще более опрометчивый поступок, доверяя свои средства и важные бумаги недобросовестным компаниям. Между тем, опытные специалисты компании «Красный двор», уже многие годы проработав в нише возведения домов и зарекомендовав себя как честные, проверенные профессионалы, способны решить за Вас многие проблемы. В частности, они помогут взять кредит под строительство дома, предварительно разъяснив все нюансы, связанные с этим вопросом.</p>
<h3>Где взять кредит на строительство частного дома</h3>
<p class="content-text">Ипотечное кредитование возведения частных домов с каждым годом становится все более востребованным. В связи с этим банки, вынужденные соревноваться друг с другом в плане привлечения клиентов, снижают жесткие процентные ставки, смягчают некоторые базовые условия кредитования, вносят новые предложения, учитывающие жизненные и финансовые обстоятельства заемщика.</p>
<p class="content-text">Кредит на строительство дома банки предоставляют на разных условиях, конкурируя между собой. Опытные эксперты компании «Красный двор» тщательно отслеживают все предложения от банков, сотрудничают с самыми добросовестными из них – такими, например, как банк ВТБ, Сбербанк, Россельхозбанк и другие.</p>
<p class="content-text">Зачастую в условиях кредитования прописан возраст заемщика, наличие у него имущества или земельного участка, которые можно отдать под залог, срок выдачи кредита, страхование жизни заемщика и т.д.</p>
<p class="content-text">Компетентные сотрудники компании «Красный двор» помогут Вам собрать необходимые документы, определиться с банком, основываясь на Ваших обстоятельствах, и взять кредит на строительство дома в Сбербанке или любом другом банке, которому Вы доверяете.</p>
<p class="content-text"></p>

<ul class="content-text">
  <li>Концентрация кислорода и углекислого газа</li>
  <li>Содержание пыли и других вредных веществ</li>
  <li>Влажность</li>
  <li>Температура</li>
  <li>Запахи</li>
</ul>
<p class="content-text">Для комфортного проживания на каждый кубический метр жилой площади требуется 3 м³/ч свежего
  воздуха, но не меньше 30 м³/сутки на одного человека. Для обеспечения этих показателей и с учетом требований,
  описанных выше, одной лишь естественной вентиляции недостаточно. Поэтому еще на этапе проектирования в проект
  закладывают систему вытяжной или приточно-вытяжной вентиляции. Каковы ее особенности в домах, построенных по разной
  технологии?</p>
<h3>Вентиляция в СИП панельных и термопанельных домах</h3>
<p class="content-text">Дома, построенные по этой технологии, отличаются высокими энергосберегающими характеристиками,
  но для поддержания комфортного микроклимата требуется приточно-вытяжная и естественная вентиляция. Дело в том, что
  используемые в производстве панелей плитные и изоляционные материалы обладают низкой паропроницаемостью.</p>
<p class="content-text">Вентиляционные каналы закладываются на этапе возведения каркаса. Их количество, диаметр и
  месторасположения, а также производительность системы рассчитываются индивидуально, что зависит от площади дома.
  Например, для домов до 100 м² вентиляции в кухне и санузлах будет более чем достаточно. Для больших коттеджей,
  соответственно, потребуется устройство дополнительных вентканалов в жилых помещениях. Как правило, их прокладывают в
  специальных шахтах или в фальшпотолках.</p>
<h3>Вентиляция в каркасном доме</h3>
<p class="content-text">Вентиляция каркасного, как и любого другого дома, должна стоять из естественной и
  принудительной. С естественной проще всего – достаточно поставить окна с функцией проветривания. Принудительная
  вентиляция, как и у СИП панельных домов, закладывается на этапе возведения каркаса. Производительность системы
  определяется расчетным путем.</p>
<h3>Вентиляция в каменных домах</h3>
<p class="content-text">Вентиляционные каналы в каменных домах обычно делают в несущей стене либо предусматривают для
  этого отдельную шахту. Расчет вентиляции (диаметр воздуховодов, производительности системы и т.д.) проводится по то же
  методике что и для домов, построенных из СИП панелей или по каркасной технологии.</p>
<p class="content-text">Учитывая, что современные энергоэффективные дома предполагают отсутствие щелей в каркасе,
  эффективный воздухообмен в доме можно организовать только при помощи принудительной вентиляции.</p>


<h3>I. ОСП – ориентировочно стружечные плиты</h3>
<p class="content-text">ОСП плита представляет собой лист, состоящий из нескольких слоев крупной стружки, скрепленной
  полимером. При этом каждый последующий слой в плите имеет другую ориентацию стружки. Маркируется как OSB с добавлением
  числового индекса. При производстве СИП панелей используется OSB-3. Число «3» указывает на то, что данную плиту можно
  использовать в несущих конструкциях в условиях повышенной влажности. По сути ОСП – это улучшенная древесина.</p>
<p class="content-text">Достоинства:</p>
<ul class="content-text">
  <li>Высокая влагостойкость</li>
  <li>Простота в обработке</li>
  <li>Не привлекает насекомых</li>
  <li>Биологическая стойкость (не способствует образованию плесени и грибков)</li>
  <li>Низкая цена</li>
  <li>Привлекательный внешний вид</li>
  <li>Стабильная структура (устойчивость к перепаду температур и уровня влажности)</li>
  <li>Небольшой вес</li>
  <li>Высокий показатель сопротивляемости на излом</li>
</ul>
<p class="content-text">Недостатки:</p>
<ul class="content-text">
  <li>Паропроницаемость ниже, чем у дерева</li>
</ul>
<h3>II. ЦСП – цементно-стружечная плита</h3>
<p class="content-text">ЦСП – листовой материал, состоящий из древесной стружки, портландцемента и добавок,
  нейтрализующих воздействие экстрактов древесины на цемент. </p>
<p class="content-text">Достоинства:</p>
<ul class="content-text">
  <li>Хорошая паропроницаемость</li>
  <li>Устойчивость к гниению</li>
  <li>Высокие звукоизоляционные свойства</li>
  <li>Высокая огнестойкость</li>
</ul>
<p class="content-text">Недостатки:</p>
<ul class="content-text">
  <li>Высокая плотность (тяжелее OSB)</li>
  <li>Низкий коэффициент сопротивляемости на излом</li>
</ul>
<h3>III. Green Board (Гринборд)</h3>
<p class="content-text">Гринборд панель – вибролитая плита, изготавливаемая методом прессования. Состоит из древесной
  шерсти (мелкая стружка), портландцемента и химических добавок.</p>
<p class="content-text">Достоинства:</p>
<ul class="content-text">
  <li>Экологичность</li>
  <li>Высокая влагостойкость</li>
  <li>Пожаробезопасность</li>
  <li>Простота в обработке</li>
  <li>Не привлекает насекомых</li>
  <li>Высокий показатель сопротивляемости на излом</li>
  <li>Стабильная структура (устойчивость к перепаду температур и уровня влажности)</li>
  <li>Биологическая стойкость (не способствует образованию плесени и грибков)</li>
</ul>
<p class="content-text">Недостатки:</p>
<ul class="content-text">
  <li>Высокая плотность (тяжелее OSB)</li>
</ul>