<p class="content-text">Каркасно-панельные дома – рай для грызунов. Именно так думают некоторые люди. Правда ли это? Прежде чем мы перейдем к сути, стоит отметить, что мыши могут комфортно жить в любом доме. Проникнуть в жилые и подобные помещения для грызунов не составит никакого труда. Приоткрытая дверь, вентиляционное отверстие, щели в каркасе – все это и есть пути проникновения. При этом мыши одинаково хорошо себя чувствуют и каменном и в деревянном доме.</p>
<p class="content-text">Есть мнение, что СИП панели и термопанели привлекают грызунов и что они устраивают в них гнезда. Но ничего общего с действительностью у этого мнения нет. Мыши в утеплителе могут жить только при наличии воздушных зазоров. Технология какрасно-панельного строительства предполагает использование сендвич-панелей с замкнутой структурой. Что же они из себя представляют? Классическая сендвич-панель состоит из двух листов плитного материала (как правило OSB-3) и утеплителя. Такая панель является непреодолимой преградой для грызунов. Да и отсутствие пустот внутри исключает возможность образования гнезда. Даже если мыши каким-то образом, проникнут внутрь, им просто не куда будет девать пенополистирол или базальтовый утеплитель, так как в пищу их они не употребляют.</p>
<p class="content-text">Но это не единственная причина, по которой СИП панели и мыши не дружат. В процессе отделки дом получает наружную и внутреннюю отделку в виде фасадной штукатурки, облицовочного кирпича, натурального или искусственного камня, гипсокартона и т.д., что полностью исключает проникновение грызунов в утеплитель. Если посмотреть на такую стену в разрезе, то легко заметить, что в ней отсутствуют воздушные зазоры. Поэтому грызунам в стене фактически нечего делать.</p>
<p class="content-text">Таким образом, грызуны для каркасно-панельных домов представляют такую же угрозу, как и для каменных: он могут жить в самом доме, но ни как не стенах. В районах с большими популяциями мышей рекомендуется использовать ультразвуковые отпугиватели или более традиционный метод защиты - домашнюю кошку.</p>
<p class="content-text"></p>
<p class="content-text"></p>
<p class="content-text"></p>
<p class="content-text"></p>
<p class="content-text"></p>

<ul class="content-text">
  <li>Концентрация кислорода и углекислого газа</li>
  <li>Содержание пыли и других вредных веществ</li>
  <li>Влажность</li>
  <li>Температура</li>
  <li>Запахи</li>
</ul>
<p class="content-text">Для комфортного проживания на каждый кубический метр жилой площади требуется 3 м³/ч свежего
  воздуха, но не меньше 30 м³/сутки на одного человека. Для обеспечения этих показателей и с учетом требований,
  описанных выше, одной лишь естественной вентиляции недостаточно. Поэтому еще на этапе проектирования в проект
  закладывают систему вытяжной или приточно-вытяжной вентиляции. Каковы ее особенности в домах, построенных по разной
  технологии?</p>
<h3>Вентиляция в СИП панельных и термопанельных домах</h3>
<p class="content-text">Дома, построенные по этой технологии, отличаются высокими энергосберегающими характеристиками,
  но для поддержания комфортного микроклимата требуется приточно-вытяжная и естественная вентиляция. Дело в том, что
  используемые в производстве панелей плитные и изоляционные материалы обладают низкой паропроницаемостью.</p>
<p class="content-text">Вентиляционные каналы закладываются на этапе возведения каркаса. Их количество, диаметр и
  месторасположения, а также производительность системы рассчитываются индивидуально, что зависит от площади дома.
  Например, для домов до 100 м² вентиляции в кухне и санузлах будет более чем достаточно. Для больших коттеджей,
  соответственно, потребуется устройство дополнительных вентканалов в жилых помещениях. Как правило, их прокладывают в
  специальных шахтах или в фальшпотолках.</p>
<h3>Вентиляция в каркасном доме</h3>
<p class="content-text">Вентиляция каркасного, как и любого другого дома, должна стоять из естественной и
  принудительной. С естественной проще всего – достаточно поставить окна с функцией проветривания. Принудительная
  вентиляция, как и у СИП панельных домов, закладывается на этапе возведения каркаса. Производительность системы
  определяется расчетным путем.</p>
<h3>Вентиляция в каменных домах</h3>
<p class="content-text">Вентиляционные каналы в каменных домах обычно делают в несущей стене либо предусматривают для
  этого отдельную шахту. Расчет вентиляции (диаметр воздуховодов, производительности системы и т.д.) проводится по то же
  методике что и для домов, построенных из СИП панелей или по каркасной технологии.</p>
<p class="content-text">Учитывая, что современные энергоэффективные дома предполагают отсутствие щелей в каркасе,
  эффективный воздухообмен в доме можно организовать только при помощи принудительной вентиляции.</p>


<h3>I. ОСП – ориентировочно стружечные плиты</h3>
<p class="content-text">ОСП плита представляет собой лист, состоящий из нескольких слоев крупной стружки, скрепленной
  полимером. При этом каждый последующий слой в плите имеет другую ориентацию стружки. Маркируется как OSB с добавлением
  числового индекса. При производстве СИП панелей используется OSB-3. Число «3» указывает на то, что данную плиту можно
  использовать в несущих конструкциях в условиях повышенной влажности. По сути ОСП – это улучшенная древесина.</p>
<p class="content-text">Достоинства:</p>
<ul class="content-text">
  <li>Высокая влагостойкость</li>
  <li>Простота в обработке</li>
  <li>Не привлекает насекомых</li>
  <li>Биологическая стойкость (не способствует образованию плесени и грибков)</li>
  <li>Низкая цена</li>
  <li>Привлекательный внешний вид</li>
  <li>Стабильная структура (устойчивость к перепаду температур и уровня влажности)</li>
  <li>Небольшой вес</li>
  <li>Высокий показатель сопротивляемости на излом</li>
</ul>
<p class="content-text">Недостатки:</p>
<ul class="content-text">
  <li>Паропроницаемость ниже, чем у дерева</li>
</ul>
<h3>II. ЦСП – цементно-стружечная плита</h3>
<p class="content-text">ЦСП – листовой материал, состоящий из древесной стружки, портландцемента и добавок,
  нейтрализующих воздействие экстрактов древесины на цемент. </p>
<p class="content-text">Достоинства:</p>
<ul class="content-text">
  <li>Хорошая паропроницаемость</li>
  <li>Устойчивость к гниению</li>
  <li>Высокие звукоизоляционные свойства</li>
  <li>Высокая огнестойкость</li>
</ul>
<p class="content-text">Недостатки:</p>
<ul class="content-text">
  <li>Высокая плотность (тяжелее OSB)</li>
  <li>Низкий коэффициент сопротивляемости на излом</li>
</ul>
<h3>III. Green Board (Гринборд)</h3>
<p class="content-text">Гринборд панель – вибролитая плита, изготавливаемая методом прессования. Состоит из древесной
  шерсти (мелкая стружка), портландцемента и химических добавок.</p>
<p class="content-text">Достоинства:</p>
<ul class="content-text">
  <li>Экологичность</li>
  <li>Высокая влагостойкость</li>
  <li>Пожаробезопасность</li>
  <li>Простота в обработке</li>
  <li>Не привлекает насекомых</li>
  <li>Высокий показатель сопротивляемости на излом</li>
  <li>Стабильная структура (устойчивость к перепаду температур и уровня влажности)</li>
  <li>Биологическая стойкость (не способствует образованию плесени и грибков)</li>
</ul>
<p class="content-text">Недостатки:</p>
<ul class="content-text">
  <li>Высокая плотность (тяжелее OSB)</li>
</ul>