{% load staticfiles %}
{% load menu_tags %}
{% load core_tags %}

<!DOCTYPE html>
<html class="no-js" lang="en-US" prefix="og: http://ogp.me/ns#">
<head>
  <meta charset="UTF-8">
  <meta name="robots" content="noodp,noydir"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="{% static "icons/favicon.ico" %}">

  <title>{% block title %}Красный двор{% endblock %}</title>
  <link rel="canonical" href="{% block canonical_url %}https://127.0.0.1{% endblock %}">

  {% block meta_seo %}
    <meta name="keywords" content="Python Learning, Summon Agus, Django Blog Summon Agus, Django, Blog Python Django"/>
    <meta name="description" content="Django Blog Python Learning">
  {% endblock %}

  <link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet">
  <link href="{{ STATIC_URL }}css/style.css" rel="stylesheet">
  <link href="{{ STATIC_URL }}css/fonts.min.css" rel="stylesheet">
  <link href="{{ STATIC_URL }}css/jquery.fancybox.min.css" rel="stylesheet">


  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

  <!--LiveInternet counter-->
  <script type="text/javascript"><!--
  new Image().src = "//counter.yadro.ru/hit?r" +
      escape(document.referrer) + ((typeof(screen) == "undefined") ? "" :
          ";s" + screen.width + "*" + screen.height + "*" + (screen.colorDepth ?
              screen.colorDepth : screen.pixelDepth)) + ";u" + escape(document.URL) +
      ";" + Math.random();//--></script><!--/LiveInternet-->

  <script src="{% static "js/jquery.min.js" %}"></script>
  <script src="{% static "js/bootstrap.min.js" %}"></script>
  <script src="{% static "js/jquery.fancybox.min.js" %}"></script>
  <script src="{% static "js/common.js" %}"></script>

  <!-- Yandex.Metrika counter -->
  <script type="text/javascript">
      (function (d, w, c) {
          (w[c] = w[c] || []).push(function () {
              try {
                  w.yaCounter43178169 = new Ya.Metrika({
                      id: 43178169,
                      clickmap: true,
                      trackLinks: true,
                      accurateTrackBounce: true,
                      webvisor: true
                  });
              } catch (e) {
              }
          });

          var n = d.getElementsByTagName("script")[0],
              s = d.createElement("script"),
              f = function () {
                  n.parentNode.insertBefore(s, n);
              };
          s.type = "text/javascript";
          s.async = true;
          s.src = "https://mc.yandex.ru/metrika/watch.js";

          if (w.opera == "[object Opera]") {
              d.addEventListener("DOMContentLoaded", f, false);
          } else {
              f();
          }
      })(document, window, "yandex_metrika_callbacks");
  </script>
  <noscript>
    <div><img src="https://mc.yandex.ru/watch/43178169" style="position:absolute; left:-9999px;" alt=""/></div>
  </noscript>
  <!-- /Yandex.Metrika counter -->

</head>

<body>

{% menu_render request menu_slug_list %}

<section class="content">
  <div class="container clearfix">
    <div class="main-content col-sm-9 col-sm-push-3">
      {% block content %}
        Контент!
      {% endblock %}
    </div>
    <div class="main-sidebar col-sm-3 col-sm-pull-9">
      {% include "includes/sidebar.html" %}
    </div>
  </div>
</section>
<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-2 col-xs-6">
        <div class="footer-logo">
          <a href="">
            <img src="{% static "img/logo-footer.png" %}">
          </a>
        </div>
      </div>
      <div class="col-sm-8 hidden-xs">
        <div class="footer-center">
          <div class="phone"><span>+7 (8412) 25-29-58</span><span>+7 (927) 375-29-58</span></div>
          <p>&#169; 2016-{% now "Y" %} - Официальный сайт компании Красный двор</p>
          <p class="footer-oferta">Вся представленная на сайте информация носит ознакомительный характер и не является
            публичной офертой</p>
        </div>
      </div>
      <div class="col-sm-2 col-xs-6 footer-right">
        <!-- Yandex.Metrika informer -->
        <a href="https://metrika.yandex.ru/stat/?id=43178169&amp;from=informer"
           target="_blank" rel="nofollow"><img
            src="https://informer.yandex.ru/informer/43178169/3_0_FFFDB2FF_FDDD92FF_0_pageviews"
            style="width:88px; height:31px; border:0;" alt="Яндекс.Метрика"
            title="Яндекс.Метрика: данные за сегодня (просмотры, визиты и уникальные посетители)"
            class="ym-advanced-informer" data-cid="43178169" data-lang="ru"/></a>
        <!-- /Yandex.Metrika informer -->
      </div>
    </div>
  </div>
</footer>
<a href="#" class="scrollup">Наверх</a>
{% comment %}<div class="footer vcenter">
  <div class="container">
    <div class="row">
      <div class="col-lg-9">
        <p class="navbar-text" style="float:none;font-size: 15px">&#169; 2016-{% now "Y" %} - Официальный сайт компании
          Красный двор</p>
      </div>
      <div class="col-lg-3">
        <!--LiveInternet logo--><a href="//www.liveinternet.ru/click"
                                   target="_blank"><img src="//counter.yadro.ru/logo?18.7"
                                                        title="LiveInternet: показано число просмотров за 24 часа, посетителей за 24 часа и за сегодня"
                                                        alt="" border="0" width="88" height="31"/></a>
        <!--/LiveInternet-->
      </div>
    </div>
  </div>

</div>{% endcomment %}

<div class="modal" id="phonecall">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Заказ обратного звонка
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </h3>
      </div>
      <div class="modal-body">
        {% get_phone_form as phone_form %}
        <form id="phonecall_form" action="{% url 'thanks_call' %}" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <div id="{{ phone_form.fio.name }}" class="fieldWrapper form-group">
            <label for="{{ phone_form.fio.id_for_label }}">{{ phone_form.fio.label }}:</label>
            {{ phone_form.fio }}
          </div>
          <div id="{{ phone_form.email.name }}" class="fieldWrapper form-group">
            <label for="{{ phone_form.email.id_for_label }}">{{ phone_form.email.label }}:</label>
            {{ phone_form.email }}
          </div>
          <div id="{{ phone_form.phone.name }}" class="fieldWrapper form-group">
            <label for="{{ phone_form.phone.id_for_label }}">{{ phone_form.phone.label }}:</label>
            {{ phone_form.phone }}
          </div>
          <div id="{{ phone_form.wtime.name }}" class="fieldWrapper form-group">
            <label for="{{ phone_form.wtime.id_for_label }}">{{ phone_form.wtime.label }}:</label>
            {{ phone_form.wtime }}
          </div>
          <button type="submit" class="btn btn-primary">Заказать</button>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="maincalc">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Заказ расчета проекта
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </h3>
      </div>
      <div class="modal-body">
        {% get_calc_form as calc_form %}
        <form id="maincalc_form" action="{% url 'thanks' %}" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <div id="{{ calc_form.fio.name }}" class="fieldWrapper form-group">
            <label for="{{ calc_form.fio.id_for_label }}">{{ calc_form.fio.label }}:</label>
            {{ calc_form.fio }}
          </div>
          <div id="{{ calc_form.email.name }}" class="fieldWrapper form-group">
            <label for="{{ calc_form.email.id_for_label }}">{{ calc_form.email.label }}:</label>
            {{ calc_form.email }}
          </div>
          <div id="{{ calc_form.phone.name }}" class="fieldWrapper form-group">
            <label for="{{ calc_form.phone.id_for_label }}">{{ calc_form.phone.label }}:</label>
            {{ calc_form.phone }}
          </div>
          <div id="{{ calc_form.note.name }}" class="fieldWrapper form-group">
            <label for="{{ calc_form.note.id_for_label }}">{{ calc_form.note.label }}:</label>
            {{ calc_form.note }}
          </div>
          <div id="{{ calc_form.file.name }}" class="fieldWrapper form-group">
            <label for="{{ calc_form.file.id_for_label }}">{{ calc_form.file.label }}:</label>
            {{ calc_form.file }}
          </div>
          <button type="submit" class="btn btn-primary">Заказать</button>
        </form>
      </div>
    </div>
  </div>
</div>
<script>
    $(document).ready(function () {
        $("form#phonecall_form").submit(function () {
            var formData = new FormData($(this)[0]);
            $('.form-err').detach();
            $.ajax({
                url: $(this).attr('action'),
                type: 'POST',
                data: formData,
                async: true,
                success: function (data) {
                    if (data.status === 1) {
                        $('#phonecall').modal('hide');
                        $('#phonecall [name="fio"]').val('');
                        $('#phonecall [name="email"]').val('');
                        $('#phonecall [name="phone"]').val('');
                        $('#phonecall [name="wtime"]').val('');
                        window.location = "{% url 'thanks_call' %}"
                    }
                    else {
                        $.each(data.errors, function (index, value) {
                            $('#' + index + '').append("<span class='form-err text-danger'>" + value[0] + "</span>");
                        });
                    }
                },
                contentType: false,
                processData: false
            });
            return false;
        });
    });
</script>
<script>
    $(document).ready(function () {
        $("form#maincalc_form").submit(function () {
            var formData = new FormData($(this)[0]);
            $('.form-err').detach();
            console.log($(this).attr('action'));
            $.ajax({
                url: $(this).attr('action'),
                type: 'POST',
                data: formData,
                async: true,
                success: function (data) {
                    if (data.status === 1) {
                        $('#maincalc').modal('hide');
                        $('#maincalc [name="fio"]').val('');
                        $('#maincalc [name="email"]').val('');
                        $('#maincalc [name="phone"]').val('');
                        $('#maincalc [name="note"]').val('');
                        $('#maincalc [name="file"]').val('');
                        window.location = "{% url 'thanks' %}"
                    }
                    else {
                        $.each(data.errors, function (index, value) {
                            $('#' + index + '').append("<span class='form-err text-danger'>" + value[0] + "</span>");
                        });
                    }
                },
                contentType: false,
                processData: false
            });
            return false;
        });
    });
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $(window).scroll(function () {
            if ($(this).scrollTop() > 350) {
                $('.scrollup').fadeIn();
            } else {
                $('.scrollup').fadeOut();
            }
        });
        $('.scrollup').click(function () {
            $("html, body").animate({scrollTop: 296}, 500);
            return false;
        });
    });
</script>
</body>
</html>