{% load staticfiles %}
{% load menu_tags %}
{% load core_tags %}

<!DOCTYPE html>
<html class="no-js" lang="en-US" prefix="og: http://ogp.me/ns#">
<head>
  <meta charset="UTF-8">
  <meta name="robots" content="noodp,noydir"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="{% static "icons/favicon.ico" %}">

  <title>{% block title %}Красный двор{% endblock %}</title>
  <link rel="canonical" href="{% block canonical_url %}https://127.0.0.1{% endblock %}">

  {% block meta_seo %}
  <meta name="description" content="Django Blog Python Learning">
  <meta name="author" content="Summon Agus">
  <meta name="keywords" content="Python Learning, Summon Agus, Django Blog Summon Agus, Django, Blog Python Django"/>
  {% endblock %}

  <link href="{{STATIC_URL}}css/bootstrap.min.css" rel="stylesheet">
  <link href="{{STATIC_URL}}css/style.css" rel="stylesheet">

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

<!--LiveInternet counter--><script type="text/javascript"><!--
new Image().src = "//counter.yadro.ru/hit?r"+
escape(document.referrer)+((typeof(screen)=="undefined")?"":
";s"+screen.width+"*"+screen.height+"*"+(screen.colorDepth?
screen.colorDepth:screen.pixelDepth))+";u"+escape(document.URL)+
";"+Math.random();//--></script><!--/LiveInternet-->

  <script src="{% static "js/jquery.min.js" %}"></script>
  <script src="{% static "js/bootstrap.min.js" %}"></script>

</head>

<body>

  {% menu_render request menu_slug_list %}

  <div class="container main__container" style="min-height: 100%">
    <div class="row">
      <div class="col-lg-3 col-sm-3">
        {% include "includes/sidebar.html" %}
      </div><!-- /.blog-sidebar -->

      <div class="col-lg-9 col-sm-9">
        {% block content %}текст главной{% endblock %}
      </div><!-- /.blog-main -->
    </div><!-- /.row -->
  </div><!-- /.main__container -->

  <div class="footer vcenter">
    <div class="container">
      <div class="row">
        <div class="col-lg-9">
          <p class="navbar-text" style="float:none;font-size: 15px">&#169; 2016-{% now "Y" %} - Официальный сайт компании Красный двор</p>
        </div>
        <div class="col-lg-3">
<!--LiveInternet logo--><a href="//www.liveinternet.ru/click"
target="_blank"><img src="//counter.yadro.ru/logo?18.7"
title="LiveInternet: показано число просмотров за 24 часа, посетителей за 24 часа и за сегодня"
alt="" border="0" width="88" height="31"/></a><!--/LiveInternet-->
        </div>
      </div>
    </div>

  </div>

  <div class="modal" id="maincalc">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Заказ расчета проекта</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          {% get_calc_form as calc_form %}
          <form action="{% url 'thanks' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ calc_form.non_field_errors }}
            <div class="fieldWrapper form-group">
              {{ calc_form.fio.errors }}
              <label for="{{ calc_form.fio.id_for_label }}">{{ calc_form.fio.label }}:</label>
              {{ calc_form.fio }}
            </div>
            {{ calc_form.created }}
            <div class="fieldWrapper form-group">
              {{ calc_form.email.errors }}
              <label for="{{ calc_form.email.id_for_label }}">{{ calc_form.email.label }}:</label>
              {{ calc_form.email }}
            </div>
            <div class="fieldWrapper form-group">
              {{ calc_form.phone.errors }}
              <label for="{{ calc_form.phone.id_for_label }}">{{ calc_form.phone.label }}:</label>
              {{ calc_form.phone }}
            </div>
            <div class="fieldWrapper form-group">
              {{ calc_form.note.errors }}
              <label for="{{ calc_form.note.id_for_label }}">{{ calc_form.note.label }}:</label>
              {{ calc_form.note }}
            </div>
            <div class="fieldWrapper form-group">
              {{ calc_form.file.errors }}
              <label for="{{ calc_form.file.id_for_label }}">{{ calc_form.file.label }}:</label>
              {{ calc_form.file }}
            </div>

            <button type="submit" class="btn btn-primary">Заказать</button>
          </form>
        </div>
      </div>
    </div>
  </div>

</body>
</html>
