<p>
  <span class="icon"><img src="/static/img/icon_fund.png"></span>
  <span class="name">Фундамент</span>
  <span class="info">Свайно-винтовой, (оцинкованный) диаметром = 108 мм, длиной = 2.5 м, закручиваемые спецтехникой с засыпкой песко-бетонной смесью.</span>
</p>
<p>
  <span class="icon"></span>
  <span class="name">Обвязочный брус</span>
  <span class="info">200 x 200 мм. Обработанный битумным праймером.</span>
</p>
<p>
  <span class="icon"></span>
  <span class="name">Цокольное перекрытие</span>
  <span class="info">Лаги пола: Доска 50 х 200 мм (не строганная, естественной влажности, шаг лаг 590 мм). Черновой пол: Доска 0,25 х 100 мм (второй сорт, не строганная, естественной влажности). Утепление: Мин.плита 200 мм, плотность 25-35 кг/м3. Доска пола:  Шпунтованная 36 мм.</span>
</p>
<p>
  <span class="icon"><img src="/static/img/icon_termo.png"></span>
  <span class="name">Наружные стены 1 этажа</span>
  <span class="info">Доска 50 х 200 мм (не строганная, естественной влажности, шаг стоек 590 мм) + горизонтальный брус 40 х 50 мм. Утепление: Мин.плита 200 мм + 50мм, перекрестное, плотность 25-35 кг/м3. Отделка: OSB-3 (9 мм.) + Цокольный сайдинг. Высота 2.7 м</span>
</p>
<p>
  <span class="icon"></span>
  <span class="name">Внутренние стены 1 этажа</span>
  <span class="info">Каркасно-обшивные, доска 50 х 100-150 мм. (не строганная, естественной  влажности). Шаг стоек – 590 мм. Обшивка: Имитация бруса.  Шумоизоляция: Мин.плита 100-150 мм, плотность 25-35 кг/м3 .Высота 2.7 м</span>
</p>
<p>
  <span class="icon"></span>
  <span class="name">Междуэтажное перекрытие</span>
  <span class="info">Доска 50 х 200 мм (не строганная, естественной влажности, шаг лаг 590 мм) с настилом шпунтованной доски 36 мм. Подшивка потолка: Вагонка ( В ). Утепление: Мин.плита 200 мм, плотность 25-35 кг/м3</span>
</p>
<p>
  <span class="icon"><img src="/static/img/icon_termo.png"></span>
  <span class="name">Наружные стены 2 этажа</span>
  <span class="info">Доска 50 х 200 мм (не строганная, естественной влажности, шаг стоек 590 мм) + горизонтальный брус 40 х 50 мм. Утепление: Мин.плита 200 мм + 50 мм, перекрестное, плотность 25-35 кг/м3. Отделка: OSB-3 (9 мм.) + Цокольный сайдинг. Высота 2.4 м</span>
</p>
<p>
  <span class="icon"></span>
  <span class="name">Внутренние стены 2 этажа</span>
  <span class="info">Каркасно-обшивные, доска 50 х 100-150 мм. (не строганная, естественной  влажности). Шаг стоек – 590 мм. Обшивка: Имитация бруса. Шумоизоляция: Мин.плита 100 – 150 мм, плотность 25-35 кг/м3. Высота 2.4 м</span>
</p>
<p>
  <span class="icon"></span>
  <span class="name">Чердачное перекрытие</span>
  <span class="info">Доска 50 х 200 мм (не строганная, естественной влажности, шаг лаг 590 мм). Подшивка потолка: Вагонка ( В ). Утепление: Мин.плита 200 мм, плотность 25-35 кг/м3</span>
</p>
<p>
  <span class="icon"></span>
  <span class="name">Кровля</span>
  <span class="info">Металлочерепица – полиэстэр , толщина стали 0.5 мм. Комплектующие (гидроизоляция, конек, карнизные и ветровые планки, саморезы и др.)</span>
</p>
<p>
  <span class="icon"><img src="/static/img/icon_window.png"></span>
  <span class="name">Окна</span>
  <span class="info">ПВХ «Штерн» 70-коробка. Двухкамерный энергосберегающий стеклопакет, поворотно-откидные. Фурнитура - Roto. Подоконники, отливы.</span>
</p>
<p>
  <span class="icon"><img src="/static/img/icon_door.png"></span>
  <span class="name">Дверь входная</span>
  <span class="info">Металлическая. Производство - Россия. Утепленная, наружная отделка - молотковая эмаль, внутренняя - ламинация. Два замка, глазок, резиновый уплотнитель.</span>
</p>
<p>
  <span class="icon"><img src="/static/img/icon_balkon.png"></span>
  <span class="name">Балкон, крыльцо, терраса.</span>
  <span class="info">Входит в стоимость</span>
</p>
<p>
  <span class="icon"></span>
  <span class="name">Монтаж, проект, бытовка для строителей</span>
  <span class="info">Входит в стоимость</span>
</p>