<p>
  <span class="icon"><img src="/static/img/icon_fund.png"></span>
  <span class="name">Фундамент</span>
  <span class="info">Свайно-винтовой, (черный металл) диаметром = 108 мм, длиной = 2.5м, закручиваемые спецтехникой с засыпкой песко-бетонной смесью.</span>
</p>
<p>
  <span class="icon"></span>
  <span class="name">Обвязочный брус</span>
  <span class="info">200 x 200 мм. ( Еств.влажности ). Обработанный битумным праймером.</span>
</p>
<p>
  <span class="icon"></span>
  <span class="name">Цокольное перекрытие</span>
  <span class="info">СИП панели 224 мм, уложенные с шагом 625 мм. Состав панели : OSB 12 мм + ПСБ 25Ф 200 мм +OSB 12 мм. В замке: брус 95 х 195 мм  ( еств.влажности ) . Обработанный битумным праймером от земли.</span>
</p>
<p>
  <span class="icon"><img src="/static/img/icon_sip.png"></span>
  <span class="name">Наружные стены 1 этажа</span>
  <span class="info">СИП панели 174 мм, высотой 2.8 м. Состав панели: OSB 12 мм + ПСБ 25Ф 150 мм +OSB 12 мм. В замке: брус 95 х 145 мм ( еств.влажности ).</span>
</p>
<p>
  <span class="icon"></span>
  <span class="name">Внутренние стены 1 этажа</span>
  <span class="info"> Сип панели 174 мм ( Несущие ) и 124 мм ( Вспомогательные ). Состав панели: OSB 12 мм + ПСБ 25Ф 100-150 мм + OSB 12 мм. В замке: брус  95 х 95-145 мм ( еств.влажности).  Высотой 2.8 м.</span>
</p>
<p>
  <span class="icon"></span>
  <span class="name">Междуэтажное перекрытие</span>
  <span class="info">Брус 95 x195 мм ( еств. влажности ) с настилом OSB 22 мм. Утепление 200 мм (по контуру). Шаг лаг 400 – 600 мм.</span>
</p>
<p>
  <span class="icon"><img src="/static/img/icon_sip.png"></span>
  <span class="name">Наружные стены 2 этажа</span>
  <span class="info">СИП панели 174 мм, высотой 2.5 м. Состав панели:  OSB 12 мм +ПСБ 25Ф 150 мм + OSB 12 мм. В замке: брус 95 х 145 мм. (еств. влажности )</span>
</p>
<p>
  <span class="icon"></span>
  <span class="name">Внутренние стены 2 этажа</span>
  <span class="info">Сип панели 174 мм ( Несущие ) и 124 мм ( Вспомогательные). Высотой 2.5 м. Состав панели: OSB 12 мм + ПСБ 25Ф 100-150 мм + OSB 12 мм. В замке: брус 95 х 95-145 мм ( еств.влажности.)</span>
</p>
<p>
  <span class="icon"></span>
  <span class="name">Чердачное перекрытие</span>
  <span class="info">Сип панели 174 мм. Состав панели: OSB 12 мм + ПСБ 25Ф 150 мм + OSB 12 мм. В замке: брус 95 х 145 мм ( еств.влажности ) . Шаг панелей 1250 мм.</span>
</p>
<p>
  <span class="icon"></span>
  <span class="name">Кровля</span>
  <span class="info">Металлочерепица – полиэстэр, толщина стали 0,5 мм. Комплектующие ( гидроизоляция, конек, карнизные и ветровые  планки, саморезы и тд. )</span>
</p>
<p>
  <span class="icon"><img src="/static/img/icon_window.png"></span>
  <span class="name">Окна</span>
  <span class="info">ПВХ  «Штерн» 70-коробка. Двухкамерный стеклопакет, поворотно-откидные. Фурнитура- Roto. Подоконники, отливы, москитные сетки.</span>
</p>
<p>
  <span class="icon"><img src="/static/img/icon_door.png"></span>
  <span class="name">Дверь входная</span>
  <span class="info">Металлическая. Производство-Россия. Утепленная, наружная отделка- молотковая эмаль, внутренняя- ламинация. Два замка, глазок, резиновый уплотнитель.</span>
</p>
<p>
  <span class="icon"><img src="/static/img/icon_balkon.png"></span>
  <span class="name">Балкон, крыльцо, терраса.</span>
  <span class="info">Входит в стоимость</span>
</p>
<p>
  <span class="icon"></span>
  <span class="name">Монтаж, проект, бытовка для строителей</span>
  <span class="info">Входит в стоимость</span>
</p>