<p>
  <span class="icon"><img src="/static/img/icon_door.png"></span>
  <span class="name">Двери</span>
  <span class="info">Свайно-винтовой,(черный металл) диаметром = 108 мм, длиной = 2.5м, закручиваемые спецтехникой с засыпкой песко-бетонной смесью.</span>
</p>
<p>
  <span class="icon"><img src="/static/img/icon_window.png"></span>
  <span class="name">Окна</span>
  <span class="info">Свайно-винтовой,(черный металл) диаметром = 108 мм, длиной = 2.5м, закручиваемые спецтехникой с засыпкой песко-бетонной смесью.</span>
</p>


